/***************************************************************************
*  WARNING:
*  Seelva's CSS dropdowns and flyouts DO NOT WORK with touchscreen devices.
*  These modules use mouse-over and mouse-out events to display submenus.
*  Be aware that if you want to use dropdowns with touchscreen devices you
*  should use a Javascript-based alternative.
****************************************************************************/
/*=============================
=            $Base            =
=============================*/
/*==========  $Grid - Fixed width  ==========*/
/**
*
* Config.
*
* No. of Columns:  24;
* Column width:    20px;
* Gutter width:    20px;
* Content width:   940px;
*
**/
[class^="unit-"], [class*=" unit-"] {
  float: left;
  margin-right: 20px;
}

/* Columns width */
.unit-1 {
  width: 20px;
}

.unit-2 {
  width: 60px;
}

.unit-3 {
  width: 100px;
}

.unit-4 {
  width: 140px;
}

.unit-5 {
  width: 180px;
}

.unit-6 {
  width: 220px;
}

.unit-7 {
  width: 260px;
}

.unit-8 {
  width: 300px;
}

.unit-9 {
  width: 340px;
}

.unit-10 {
  width: 380px;
}

.unit-11 {
  width: 420px;
}

.unit-12 {
  width: 460px;
}

.unit-13 {
  width: 500px;
}

.unit-14 {
  width: 540px;
}

.unit-15 {
  width: 580px;
}

.unit-16 {
  width: 620px;
}

.unit-17 {
  width: 660px;
}

.unit-18 {
  width: 700px;
}

.unit-19 {
  width: 740px;
}

.unit-20 {
  width: 780px;
}

.unit-21 {
  width: 820px;
}

.unit-22 {
  width: 860px;
}

.unit-23 {
  width: 900px;
}

.unit-24 {
  width: 940px;
  margin-right: 0;
}

/* Prefixes */
.prefix-1 {
  margin-left: 40px;
}

.prefix-2 {
  margin-left: 80px;
}

.prefix-3 {
  margin-left: 120px;
}

.prefix-4 {
  margin-left: 160px;
}

.prefix-5 {
  margin-left: 200px;
}

.prefix-6 {
  margin-left: 240px;
}

.prefix-7 {
  margin-left: 280px;
}

.prefix-8 {
  margin-left: 320px;
}

.prefix-9 {
  margin-left: 360px;
}

.prefix-10 {
  margin-left: 400px;
}

.prefix-11 {
  margin-left: 440px;
}

.prefix-12 {
  margin-left: 480px;
}

.prefix-13 {
  margin-left: 520px;
}

.prefix-14 {
  margin-left: 560px;
}

.prefix-15 {
  margin-left: 600px;
}

.prefix-16 {
  margin-left: 640px;
}

.prefix-17 {
  margin-left: 680px;
}

.prefix-18 {
  margin-left: 720px;
}

.prefix-19 {
  margin-left: 760px;
}

.prefix-20 {
  margin-left: 800px;
}

.prefix-21 {
  margin-left: 840px;
}

.prefix-22 {
  margin-left: 880px;
}

.prefix-23 {
  margin-left: 920px;
}

/* Suffixes */
.suffix-1 {
  margin-right: 40px;
}

.suffix-2 {
  margin-right: 80px;
}

.suffix-3 {
  margin-right: 120px;
}

.suffix-4 {
  margin-right: 160px;
}

.suffix-5 {
  margin-right: 200px;
}

.suffix-6 {
  margin-right: 240px;
}

.suffix-7 {
  margin-right: 280px;
}

.suffix-8 {
  margin-right: 320px;
}

.suffix-9 {
  margin-right: 360px;
}

.suffix-10 {
  margin-right: 400px;
}

.suffix-11 {
  margin-right: 440px;
}

.suffix-12 {
  margin-right: 480px;
}

.suffix-13 {
  margin-right: 520px;
}

.suffix-14 {
  margin-right: 560px;
}

.suffix-15 {
  margin-right: 600px;
}

.suffix-16 {
  margin-right: 640px;
}

.suffix-17 {
  margin-right: 680px;
}

.suffix-18 {
  margin-right: 720px;
}

.suffix-19 {
  margin-right: 760px;
}

.suffix-20 {
  margin-right: 800px;
}

.suffix-21 {
  margin-right: 840px;
}

.suffix-22 {
  margin-right: 880px;
}

.suffix-23 {
  margin-right: 920px;
}

/*==========  $Grid - Fluid width  ==========*/
/**
*
* Config.
*
* No. of Columns:          24;
* Percentual column width: 2.12766%;
* Percentual gutter width: 2.12766%;
*
**/
.holder-fluid [class^="unit-"], .holder-fluid [class*=" unit-"] {
  float: left;
  margin-right: 2.12766%;
}
.holder-fluid .unit-1 {
  width: 2.12766%;
}
.holder-fluid .unit-2 {
  width: 6.38298%;
}
.holder-fluid .unit-3 {
  width: 10.6383%;
}
.holder-fluid .unit-4 {
  width: 14.89362%;
}
.holder-fluid .unit-5 {
  width: 19.14894%;
}
.holder-fluid .unit-6 {
  width: 23.40426%;
}
.holder-fluid .unit-7 {
  width: 27.65957%;
}
.holder-fluid .unit-8 {
  width: 31.91489%;
}
.holder-fluid .unit-9 {
  width: 36.17021%;
}
.holder-fluid .unit-10 {
  width: 40.42553%;
}
.holder-fluid .unit-11 {
  width: 44.68085%;
}
.holder-fluid .unit-12 {
  width: 48.93617%;
}
.holder-fluid .unit-13 {
  width: 53.19149%;
}
.holder-fluid .unit-14 {
  width: 57.44681%;
}
.holder-fluid .unit-15 {
  width: 61.70213%;
}
.holder-fluid .unit-16 {
  width: 65.95745%;
}
.holder-fluid .unit-17 {
  width: 70.21277%;
}
.holder-fluid .unit-18 {
  width: 74.46809%;
}
.holder-fluid .unit-19 {
  width: 78.7234%;
}
.holder-fluid .unit-20 {
  width: 82.97872%;
}
.holder-fluid .unit-21 {
  width: 87.23404%;
}
.holder-fluid .unit-22 {
  width: 91.48936%;
}
.holder-fluid .unit-23 {
  width: 95.74468%;
}
.holder-fluid .unit-24 {
  width: 100%;
  margin-right: 0;
}
.holder-fluid .prefix-1 {
  margin-left: 4.25532%;
}
.holder-fluid .prefix-2 {
  margin-left: 8.51064%;
}
.holder-fluid .prefix-3 {
  margin-left: 12.76596%;
}
.holder-fluid .prefix-4 {
  margin-left: 17.02128%;
}
.holder-fluid .prefix-5 {
  margin-left: 21.2766%;
}
.holder-fluid .prefix-6 {
  margin-left: 25.53191%;
}
.holder-fluid .prefix-7 {
  margin-left: 29.78723%;
}
.holder-fluid .prefix-8 {
  margin-left: 34.04255%;
}
.holder-fluid .prefix-9 {
  margin-left: 38.29787%;
}
.holder-fluid .prefix-10 {
  margin-left: 42.55319%;
}
.holder-fluid .prefix-11 {
  margin-left: 46.80851%;
}
.holder-fluid .prefix-12 {
  margin-left: 51.06383%;
}
.holder-fluid .prefix-13 {
  margin-left: 55.31915%;
}
.holder-fluid .prefix-14 {
  margin-left: 59.57447%;
}
.holder-fluid .prefix-15 {
  margin-left: 63.82979%;
}
.holder-fluid .prefix-16 {
  margin-left: 68.08511%;
}
.holder-fluid .prefix-17 {
  margin-left: 72.34043%;
}
.holder-fluid .prefix-18 {
  margin-left: 76.59574%;
}
.holder-fluid .prefix-19 {
  margin-left: 80.85106%;
}
.holder-fluid .prefix-20 {
  margin-left: 85.10638%;
}
.holder-fluid .prefix-21 {
  margin-left: 89.3617%;
}
.holder-fluid .prefix-22 {
  margin-left: 93.61702%;
}
.holder-fluid .prefix-23 {
  margin-left: 97.87234%;
}
.holder-fluid .suffix-1 {
  margin-right: 4.25532%;
}
.holder-fluid .suffix-2 {
  margin-right: 8.51064%;
}
.holder-fluid .suffix-3 {
  margin-right: 12.76596%;
}
.holder-fluid .suffix-4 {
  margin-right: 17.02128%;
}
.holder-fluid .suffix-5 {
  margin-right: 21.2766%;
}
.holder-fluid .suffix-6 {
  margin-right: 25.53191%;
}
.holder-fluid .suffix-7 {
  margin-right: 29.78723%;
}
.holder-fluid .suffix-8 {
  margin-right: 34.04255%;
}
.holder-fluid .suffix-9 {
  margin-right: 38.29787%;
}
.holder-fluid .suffix-10 {
  margin-right: 42.55319%;
}
.holder-fluid .suffix-11 {
  margin-right: 46.80851%;
}
.holder-fluid .suffix-12 {
  margin-right: 51.06383%;
}
.holder-fluid .suffix-13 {
  margin-right: 55.31915%;
}
.holder-fluid .suffix-14 {
  margin-right: 59.57447%;
}
.holder-fluid .suffix-15 {
  margin-right: 63.82979%;
}
.holder-fluid .suffix-16 {
  margin-right: 68.08511%;
}
.holder-fluid .suffix-17 {
  margin-right: 72.34043%;
}
.holder-fluid .suffix-18 {
  margin-right: 76.59574%;
}
.holder-fluid .suffix-19 {
  margin-right: 80.85106%;
}
.holder-fluid .suffix-20 {
  margin-right: 85.10638%;
}
.holder-fluid .suffix-21 {
  margin-right: 89.3617%;
}
.holder-fluid .suffix-22 {
  margin-right: 93.61702%;
}
.holder-fluid .suffix-23 {
  margin-right: 97.87234%;
}

/*==========  $Layout  ==========*/
.section {
  clear: both;
  width: 100%;
}

.holder {
  margin: 0 auto;
  overflow: hidden;
  padding: 10px;
  width: 940px;
}

.holder-fluid {
  padding: 0 10px;
  width: auto;
}

.row {
  *zoom: 1;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

/* The last column in a row gets automatically floated to the right */
.row > div:last-child {
  clear: right;
  float: right;
  margin-right: 0;
}
.row > div:last-child[class^="suffix"], .row > div:last-child[class*=" suffix"] {
  float: left;
}

/* Useful in fixed-width grids only */
.grid-guides {
  background: white url(http://griddle.it/940-24-20?color=edf2c4&text=7b9712) repeat-y center top;
}

/* Fix units inside forms */
form [class^="unit-"], form [class*=" unit-"] {
  clear: none;
}

/*==========  $Relative-width classes  ==========*/
.half-width, .one-half, .two-fourths, .three-sixths,
.one-third,
.two-sixths,
.two-thirds,
.four-sixths,
.one-fourth,
.two-fourths,
.three-fourths,
.one-fifth,
.two-fifths,
.three-fifths,
.four-fifths,
.one-sixth,
.two-sixths,
.three-sixths,
.four-sixths,
.five-sixths {
  clear: none;
  float: left;
  margin-right: 1%;
}

.full-width {
  width: 100.0%;
  clear: both;
}

.half-width,
.one-half,
.two-fourths,
.three-sixths {
  width: 49.50%;
  clear: none;
}

.one-third, .two-sixths {
  width: 32.50%;
}

.two-thirds, .four-sixths {
  width: 66.58%;
}

.one-fourth {
  width: 24.25%;
}

.three-fourths {
  width: 74.50%;
}

.one-fifth {
  width: 19.20%;
}

.two-fifths {
  width: 39.50%;
}

.three-fifths {
  width: 59.50%;
}

.four-fifths {
  width: 79.50%;
}

.one-sixth {
  width: 15.82%;
}

.five-sixths {
  width: 83.00%;
}

/*-----  End of $Base  ------*/
