/*===============================
=            $Custom            =
===============================*/
html {
  /* HTML style */
}

body {
  /* Body style */
}
.ie6 body, .ie7 body {
  font-size: 82%;
  line-height: 1.12em;
}

#outer {
  /* Outer style */
}

#wrapper {
  /* Wrapper style */
}

.holder {
  /* override default holder style */
}

#header {
  /* header style */
}

#primary {
  /* primary style */
}

/*-----  End of $Custom  ------*/
