/*===============================
=            $Custom            =
===============================*/
html {
  /* HTML style */
}

body {
  /* Body style */
}
.ie6 body, .ie7 body {
  font-size: 82%;
  line-height: 1.12em;
}

#outer {
  /* Outer style */
}

#wrapper {
  /* Wrapper style */
}

.holder {
  /* override default holder style */
}

#header {
  /* header style */
}

#logo {
  float: left;
}

#site-name {
  clear: right;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-size: 214%;
  line-height: 120%;
  margin-bottom: 20px;
}

#slogan {
  float: left;
  width: 350px;
}

#main-nav .horizontal-menu {
  margin-bottom: 0;
}

#primary {
  /* primary style */
}
#primary .holder {
  /* override default holder style */
}

/*-----  End of $Custom  ------*/
