/******** Dropdown ********/
/***************************************************************************
*  WARNING:
*  Seelva's CSS dropdowns DO NOT WORK with touchscreen devices. Seelva's CSS
*  dropdowns use mouse over and mouse out events to display submenus. Be
*  aware that if you want to use dropdowns with touchscreen devices you
*  should use a Javascript-based alternative.
****************************************************************************/
/* Reset the style from other nav components (horz-menu) */
.dropdown li {
  display: block;
  float: none;
}

.dropdown > a:after,
.dropdown > a:link:after {
  border: 4px solid #888888;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  content: "";
  display: inline-block;
  line-height: 100%;
  margin-left: 4px;
  text-align: right;
  vertical-align: middle;
}
.dropdown > ul {
  list-style: none;
  margin: 0;
  max-width: 180px;
  min-width: 150px;
  padding: 0;
  position: absolute;
  visibility: hidden;
  z-index: 100;
  zoom: 1;
}
.dropdown > ul > li {
  border-left: 1px solid #f5f5f5;
  display: block;
  float: none;
}
.dropdown > ul > li > a, .dropdown > ul > li > a:link, .dropdown > ul > li > a:visited {
  background: #e5e5e5;
  color: black;
  display: block;
  padding: 6px 9px;
  text-decoration: none;
}
.dropdown > ul > li > a:hover, .dropdown > ul > li.active > a, .dropdown > ul > li.active > a:link {
  background: #888888;
  color: white;
}
.dropdown .dropdown > ul {
  left: 100%;
  position: absolute;
  top: 6px;
  visibility: hidden;
  width: 100%;
}
.dropdown:hover > a:after, .dropdown:hover > a:link:after, .dropdown.active > a:after, .dropdown.active > a:link:after {
  border-top-color: #fff;
}
.dropdown:hover > ul, .dropdown ul a:hover ul, .dropdown:hover .drop-content {
  visibility: visible;
}
.dropdown ul :hover ul :hover ul {
  visibility: visible;
}
.dropdown.active ul li a, .dropdown.active ul li a:link, .dropdown .active ul li a, .dropdown .active ul li a:link {
  background: #e5e5e5;
  color: black;
}
.dropdown.active ul li a:hover, .dropdown .active ul li a:hover {
  background: #888888;
  color: white;
}
.dropdown .drop-content {
  background: #dadada;
  width: 230px;
  padding: 9px;
  position: absolute;
  visibility: hidden;
  z-index: 100;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

/******** End Dropdown ********/
