/*==============================
=            $Forms            =
==============================*/
/*==========  $Forms Main  ==========*/
form div, form p {
  clear: both;
  margin-bottom: 9px;
}
form div p {
  margin: 6px 0;
}

/*==========  $Forms Info  ==========*/
fieldset {
  border: 0;
  margin: 0 0 15px 0;
  padding: 0;
}

legend {
  border-bottom: 1px solid whitesmoke;
  color: #555555;
  font-size: 128%;
  font-weight: normal;
  margin: 0 0 6px 0;
  padding: 0 0 6px 0;
  width: 100%;
}

label, span.label {
  display: inline-block;
  line-height: 130%;
  padding: 4px 0;
}
label em, label .required, span.label em, span.label .required {
  color: #e14049;
}

/*==========  $Forms Controls  ==========*/
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
  margin: 0;
}
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline-color: #7b9712;
}

input[type=""],
input[type="file"],
input[type="password"],
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  background: white url(../images/txt-bg.png) repeat-x left top;
  border: 1px solid #dadada;
  border-top-width: 2px;
  font-family: Verdana, Tahoma, "Trebuchet MS", sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 3px;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=""]:focus,
input[type="file"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select:focus,
textarea:focus {
  border-color: #7b9712;
  outline-color: #7b9712;
}
input[type=""][readonly],
input[type="file"][readonly],
input[type="password"][readonly],
input[type="text"][readonly],
input[type="date"][readonly],
input[type="datetime"][readonly],
input[type="datetime-local"][readonly],
input[type="email"][readonly],
input[type="month"][readonly],
input[type="number"][readonly],
input[type="search"][readonly],
input[type="tel"][readonly],
input[type="time"][readonly],
input[type="url"][readonly],
input[type="week"][readonly],
select[readonly],
textarea[readonly] {
  background-color: #fafafa;
}
input[type=""][disabled],
input[type="file"][disabled],
input[type="password"][disabled],
input[type="text"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled],
select[disabled],
textarea[disabled] {
  background-color: #e5e5e5;
  color: #888888;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input.image,
input[type="image"] {
  border: 0;
  height: auto;
  width: auto;
}

textarea {
  height: 8em;
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

select {
  cursor: pointer;
  padding: 3px;
}

/*==========  $Forms Buttons  ==========*/
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
button[type],
a.btn,
a.button {
  background: #e5e5e5 url(../images/gradient-bg.png) repeat-x left top;
  border: 1px solid #dadada;
  border-bottom-color: darkgrey;
  color: #888888;
  cursor: pointer;
  display: inline-block;
  font-family: Verdana, Tahoma, "Trebuchet MS", sans-serif;
  font-size: 100%;
  font-weight: bold;
  line-height: 100%;
  margin: 0 6px 0 0;
  padding: 5px 9px;
  /* For links */
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 0 whitesmoke;
  -moz-box-shadow: 0 1px 0 0 whitesmoke;
  box-shadow: 0 1px 0 0 whitesmoke;
  /* IE7 padding bugfix */
  overflow: visible;
  width: auto;
  /* Standard button */
  /* Disabled button */
}
input[type="button"]:hover, input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
button:hover,
button:focus,
button[type]:hover,
button[type]:focus,
a.btn:hover,
a.btn:focus,
a.button:hover,
a.button:focus {
  background-position: 0 -292px;
  color: #555555;
  outline-color: #7b9712;
}
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active,
button[type]:active,
a.btn:active,
a.button:active {
  background-position: 0 bottom;
  border-color: #888888 darkgrey #dadada;
  color: #888888;
  -webkit-box-shadow: inset 0 1px 6px darkgrey, 0 1px 0 whitesmoke;
  -moz-box-shadow: inset 0 1px 6px darkgrey, 0 1px 0 whitesmoke;
  box-shadow: inset 0 1px 6px darkgrey, 0 1px 0 whitesmoke;
}
input[type="button"][disabled], input[type="button"][disabled]:hover, input[type="button"][disabled]:active,
input[type="submit"][disabled],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:active,
input[type="reset"][disabled],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:active,
button[disabled],
button[disabled]:hover,
button[disabled]:active,
button[type][disabled],
button[type][disabled]:hover,
button[type][disabled]:active,
a.btn[disabled],
a.btn[disabled]:hover,
a.btn[disabled]:active,
a.button[disabled],
a.button[disabled]:hover,
a.button[disabled]:active {
  background: #e5e5e5;
  border: 1px solid #dadada;
  color: #888888;
  cursor: default;
  text-shadow: 1px 1px 0 whitesmoke;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Fixing a NASTY bug in Firefox where input's line-height does not work */
@-moz-document url-prefix() {
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    height: 1.9em;
  }
}

button img,
a.btn img,
a.button img {
  border: 0;
  margin: 0;
  padding: 0;
}

/*==========  $Buttons helpers  ==========*/
input[type="button"].btn-info,
input[type="submit"].btn-info,
input[type="reset"].btn-info,
button.btn-info,
button[type].btn-info,
a.btn.btn-info,
a.button.btn-info {
  color: steelblue;
}
input[type="button"].btn-info:hover, input[type="button"].btn-info:focus,
input[type="submit"].btn-info:hover,
input[type="submit"].btn-info:focus,
input[type="reset"].btn-info:hover,
input[type="reset"].btn-info:focus,
button.btn-info:hover,
button.btn-info:focus,
button[type].btn-info:hover,
button[type].btn-info:focus,
a.btn.btn-info:hover,
a.btn.btn-info:focus,
a.button.btn-info:hover,
a.button.btn-info:focus {
  background-color: #d9e8ff;
  border-color: #82d2df;
}
input[type="button"].btn-info:active,
input[type="submit"].btn-info:active,
input[type="reset"].btn-info:active,
button.btn-info:active,
button[type].btn-info:active,
a.btn.btn-info:active,
a.button.btn-info:active {
  -webkit-box-shadow: inset 0 1px 6px #0d6dff, 0 1px 0 whitesmoke;
  -moz-box-shadow: inset 0 1px 6px #0d6dff, 0 1px 0 whitesmoke;
  box-shadow: inset 0 1px 6px #0d6dff, 0 1px 0 whitesmoke;
}
input[type="button"].btn-success,
input[type="submit"].btn-success,
input[type="reset"].btn-success,
button.btn-success,
button[type].btn-success,
a.btn.btn-success,
a.button.btn-success {
  color: #7b9712;
}
input[type="button"].btn-success:hover, input[type="button"].btn-success:focus,
input[type="submit"].btn-success:hover,
input[type="submit"].btn-success:focus,
input[type="reset"].btn-success:hover,
input[type="reset"].btn-success:focus,
button.btn-success:hover,
button.btn-success:focus,
button[type].btn-success:hover,
button[type].btn-success:focus,
a.btn.btn-success:hover,
a.btn.btn-success:focus,
a.button.btn-success:hover,
a.button.btn-success:focus {
  background-color: #edf2c4;
  border-color: #becf59;
}
input[type="button"].btn-success:active,
input[type="submit"].btn-success:active,
input[type="reset"].btn-success:active,
button.btn-success:active,
button[type].btn-success:active,
a.btn.btn-success:active,
a.button.btn-success:active {
  -webkit-box-shadow: inset 0 1px 6px #899621, 0 1px 0 whitesmoke;
  -moz-box-shadow: inset 0 1px 6px #899621, 0 1px 0 whitesmoke;
  box-shadow: inset 0 1px 6px #899621, 0 1px 0 whitesmoke;
}
input[type="button"].btn-error,
input[type="submit"].btn-error,
input[type="reset"].btn-error,
button.btn-error,
button[type].btn-error,
a.btn.btn-error,
a.button.btn-error {
  color: #e14049;
}
input[type="button"].btn-error:hover, input[type="button"].btn-error:focus,
input[type="submit"].btn-error:hover,
input[type="submit"].btn-error:focus,
input[type="reset"].btn-error:hover,
input[type="reset"].btn-error:focus,
button.btn-error:hover,
button.btn-error:focus,
button[type].btn-error:hover,
button[type].btn-error:focus,
a.btn.btn-error:hover,
a.btn.btn-error:focus,
a.button.btn-error:hover,
a.button.btn-error:focus {
  background-color: lavenderblush;
  border-color: pink;
}
input[type="button"].btn-error:active,
input[type="submit"].btn-error:active,
input[type="reset"].btn-error:active,
button.btn-error:active,
button[type].btn-error:active,
a.btn.btn-error:active,
a.button.btn-error:active {
  -webkit-box-shadow: inset 0 1px 6px #bd003f, 0 1px 0 whitesmoke;
  -moz-box-shadow: inset 0 1px 6px #bd003f, 0 1px 0 whitesmoke;
  box-shadow: inset 0 1px 6px #bd003f, 0 1px 0 whitesmoke;
}
input[type="button"].btn-notice,
input[type="submit"].btn-notice,
input[type="reset"].btn-notice,
button.btn-notice,
button[type].btn-notice,
a.btn.btn-notice,
a.button.btn-notice {
  color: goldenrod;
}
input[type="button"].btn-notice:hover, input[type="button"].btn-notice:focus,
input[type="submit"].btn-notice:hover,
input[type="submit"].btn-notice:focus,
input[type="reset"].btn-notice:hover,
input[type="reset"].btn-notice:focus,
button.btn-notice:hover,
button.btn-notice:focus,
button[type].btn-notice:hover,
button[type].btn-notice:focus,
a.btn.btn-notice:hover,
a.btn.btn-notice:focus,
a.button.btn-notice:hover,
a.button.btn-notice:focus {
  background-color: lemonchiffon;
  border-color: gold;
}
input[type="button"].btn-notice:active,
input[type="submit"].btn-notice:active,
input[type="reset"].btn-notice:active,
button.btn-notice:active,
button[type].btn-notice:active,
a.btn.btn-notice:active,
a.button.btn-notice:active {
  -webkit-box-shadow: inset 0 1px 6px #9a8b00, 0 1px 0 whitesmoke;
  -moz-box-shadow: inset 0 1px 6px #9a8b00, 0 1px 0 whitesmoke;
  box-shadow: inset 0 1px 6px #9a8b00, 0 1px 0 whitesmoke;
}

/*==========  Buttons group  ==========*/
.btn-group {
  display: inline-block;
}
.btn-group input[type="button"], .btn-group input[type="submit"], .btn-group input[type="reset"], .btn-group button, .btn-group a.button {
  float: left;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.btn-group input[type="button"]:first-child, .btn-group input[type="submit"]:first-child, .btn-group input[type="reset"]:first-child, .btn-group button:first-child, .btn-group a.button:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.btn-group input[type="button"]:last-child, .btn-group input[type="submit"]:last-child, .btn-group input[type="reset"]:last-child, .btn-group button:last-child, .btn-group a.button:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

/*==========  $Forms Helpers  ==========*/
/*==========  Wrappers  ==========*/
.form-actions {
  float: none;
  margin-bottom: 15px;
  overflow: auto;
  width: auto;
}

.control-group {
  clear: both;
  float: none;
  margin: 0;
}
.control-group span.label {
  line-height: normal;
}
.control-group label {
  display: inline;
  padding: 0;
  width: auto;
}

/*==========  Form Fields  ==========*/
.field-error label {
  color: #e14049;
}
.field-error input[type="file"],
.field-error input[type="password"],
.field-error input[type="text"],
.field-error select,
.field-error textarea {
  background: snow;
  border-color: pink;
  color: #e14049;
}

.field-info label {
  color: steelblue;
}
.field-info input[type="file"],
.field-info input[type="password"],
.field-info input[type="text"],
.field-info select,
.field-info textarea {
  background: #d9e8ff;
  border-color: #82d2df;
  color: steelblue;
}

.field-notice label {
  color: goldenrod;
}
.field-notice input[type="file"],
.field-notice input[type="password"],
.field-notice input[type="text"],
.field-notice select,
.field-notice textarea {
  background: lemonchiffon;
  border-color: gold;
  color: goldenrod;
}

.field-success label {
  color: #4e9a06;
}
.field-success input[type="file"],
.field-success input[type="password"],
.field-success input[type="text"],
.field-success select,
.field-success textarea {
  background: beige;
  border-color: #becf59;
  color: #4e9a06;
}

.field-prefix, .field-suffix {
  overflow: hidden;
  /* Clearfix */
}
.field-prefix .label, .field-suffix .label {
  background: #fafafa;
  border: 1px solid #dadada;
  border-right-width: 0;
  color: #555555;
  float: left;
  margin: 0;
  padding: 3px 9px;
  text-shadow: 1px 1px 0 white;
}
.field-prefix input,
.field-prefix select,
.field-prefix button, .field-suffix input,
.field-suffix select,
.field-suffix button {
  border-right-width: 0;
  clear: none;
  float: left;
  margin: 0;
  position: relative;
  width: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.field-prefix input:first-child,
.field-prefix select:first-child,
.field-prefix button:first-child, .field-suffix input:first-child,
.field-suffix select:first-child,
.field-suffix button:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.field-prefix input:last-child,
.field-prefix select:last-child,
.field-prefix button:last-child, .field-suffix input:last-child,
.field-suffix select:last-child,
.field-suffix button:last-child {
  border-right-width: 1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.field-prefix .label {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.field-suffix .label {
  border-right-width: 1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.field-prefix.field-suffix .label:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.field-prefix.field-suffix .label:last-child,
.field-prefix.field-suffix input:last-child,
.field-prefix.field-suffix select:last-child,
.field-prefix.field-suffix button:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.field-horizontal, .form-horizontal div {
  *zoom: 1;
}
.field-horizontal:before, .form-horizontal div:before, .field-horizontal:after, .form-horizontal div:after {
  content: " ";
  display: table;
}
.field-horizontal:after, .form-horizontal div:after {
  clear: both;
}
.field-horizontal label, .form-horizontal div label, .field-horizontal span.label, .form-horizontal div span.label {
  clear: none;
  display: inline;
  float: left;
  width: 35%;
}
.field-horizontal > input[type="file"], .form-horizontal div > input[type="file"], .field-horizontal > input[type="password"], .form-horizontal div > input[type="password"], .field-horizontal > input[type="text"], .form-horizontal div > input[type="text"], .field-horizontal > select, .form-horizontal div > select, .field-horizontal > textarea, .form-horizontal div > textarea, .field-horizontal > .control-group, .form-horizontal div > .control-group {
  clear: none;
  float: right;
  width: 60%;
}
.field-horizontal .field-prefix, .form-horizontal div .field-prefix,
.field-horizontal .field-suffix,
.form-horizontal div .field-suffix {
  clear: none;
  float: right;
  width: 60%;
}
.field-horizontal .field-prefix input, .form-horizontal div .field-prefix input,
.field-horizontal .field-suffix input,
.form-horizontal div .field-suffix input {
  width: auto;
}
.field-horizontal .control-group label, .form-horizontal div .control-group label, .field-horizontal .control-group span.label, .form-horizontal div .control-group span.label {
  float: none;
  width: auto;
}

/*==========  Form types  ==========*/
.form-inline {
  line-height: 250%;
  /* This produces vertical spacing between inputs */
}
.form-inline label {
  display: inline-block;
}
.form-inline input, .form-inline select {
  display: inline-block;
  width: auto;
}

.form-search > div, .form-search > p {
  clear: none;
  float: left;
}
.form-search input, .form-search label {
  float: left;
  margin-right: 3px;
  width: auto;
}

/*-----  End of $Forms  ------*/
