/*==============================
=            $Forms            =
==============================*/
/*==========  $Forms Main  ==========*/
form div, form p {
  clear: both;
  margin-bottom: 9px;
}
form div p {
  margin: 6px 0;
}

fieldset {
  border: 0;
  margin: 0 0 15px 0;
  padding: 0;
}

legend {
  border-bottom: 1px solid whitesmoke;
  color: #555555;
  font-size: 128%;
  font-weight: normal;
  margin: 0 0 6px 0;
  padding: 0 0 6px 0;
  width: 100%;
}

label, span.label {
  display: block;
  line-height: 130%;
  padding: 4px 0;
}
label em, label .required, span.label em, span.label .required {
  color: #e14049;
}

/*==========  $Forms Controls  ==========*/
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline-color: #4e9a06;
}

input[type=""],
input[type="file"],
input[type="password"],
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  -webkit-box-shadow: 0 2px 6px #eeeeee inset;
  -moz-box-shadow: 0 2px 6px #eeeeee inset;
  box-shadow: 0 2px 6px #eeeeee inset;
  border: 1px solid #dadada;
  border-top-width: 2px;
  font-family: Verdana, Tahoma, "Trebuchet MS", sans-serif;
  padding: 3px;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=""]:focus,
input[type="file"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select:focus,
textarea:focus {
  border-color: #4e9a06;
  outline-color: #4e9a06;
}
input[type=""][readonly],
input[type="file"][readonly],
input[type="password"][readonly],
input[type="text"][readonly],
input[type="date"][readonly],
input[type="datetime"][readonly],
input[type="datetime-local"][readonly],
input[type="email"][readonly],
input[type="month"][readonly],
input[type="number"][readonly],
input[type="search"][readonly],
input[type="tel"][readonly],
input[type="time"][readonly],
input[type="url"][readonly],
input[type="week"][readonly],
select[readonly],
textarea[readonly] {
  background-color: #fafafa;
}
input[type=""][disabled],
input[type="file"][disabled],
input[type="password"][disabled],
input[type="text"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled],
select[disabled],
textarea[disabled] {
  background: #e5e5e5;
  color: #888888;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input.image,
input[type="image"] {
  border: 0;
  height: auto;
  width: auto;
}

textarea {
  height: 8em;
  resize: vertical;
}

select {
  cursor: pointer;
  padding: 3px;
}
select[disabled] {
  cursor: default;
}

/*==========  $Forms Helpers  ==========*/
/*==========  Wrappers  ==========*/
.form-actions {
  float: none;
  margin-bottom: 15px;
  width: auto;
  *zoom: 1;
}
.form-actions:before, .form-actions:after {
  content: " ";
  display: table;
}
.form-actions:after {
  clear: both;
}

.control-group {
  clear: both;
  float: none;
  margin: 0;
}
.control-group span.label {
  line-height: normal;
}
.control-group label {
  display: inline;
  padding: 0;
  width: auto;
}

/*==========  Form Fields  ==========*/
.field-error label {
  color: #e14049;
}
.field-error input:not([type="button"]):not([type="reset"]):not([type="submit"]),
.field-error select,
.field-error textarea {
  background: snow;
  border-color: pink;
  color: #e14049;
}

.field-info label {
  color: steelblue;
}
.field-info input:not([type="button"]):not([type="reset"]):not([type="submit"]),
.field-info select,
.field-info textarea {
  background: #d9e8ff;
  border-color: #82d2df;
  color: steelblue;
}

.field-notice label {
  color: goldenrod;
}
.field-notice input:not([type="button"]):not([type="reset"]):not([type="submit"]),
.field-notice select,
.field-notice textarea {
  background: lemonchiffon;
  border-color: gold;
  color: goldenrod;
}

.field-success label {
  color: #4e9a06;
}
.field-success input:not([type="button"]):not([type="reset"]):not([type="submit"]),
.field-success select,
.field-success textarea {
  background: beige;
  border-color: #becf59;
  color: #4e9a06;
}

.field-prefix, .field-suffix {
  overflow: hidden;
  /* Clearfix */
}
.field-prefix .label, .field-suffix .label {
  background: #fafafa;
  border: 1px solid #dadada;
  border-right-width: 0;
  color: #555555;
  float: left;
  margin: 0;
  padding: 3px 9px;
}
.field-prefix .label:last-child, .field-suffix .label:last-child {
  border-left-width: 0;
  border-right-width: 1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.field-prefix input,
.field-prefix select,
.field-prefix button, .field-suffix input,
.field-suffix select,
.field-suffix button {
  clear: none;
  float: left;
  margin: 0;
  position: relative;
  width: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.field-prefix input:first-child,
.field-prefix select:first-child,
.field-prefix button:first-child, .field-suffix input:first-child,
.field-suffix select:first-child,
.field-suffix button:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.field-prefix .label {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.field-prefix input,
.field-prefix select,
.field-prefix button {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.field-suffix .label {
  border-right-width: 1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.field-suffix input,
.field-suffix select,
.field-suffix button {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.field-prefix.field-suffix .label {
  border-right-width: 0;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.field-prefix.field-suffix .label:last-child {
  border-right-width: 1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.field-prefix.field-suffix input,
.field-prefix.field-suffix select,
.field-prefix.field-suffix button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.field-prefix.field-suffix input:last-child,
.field-prefix.field-suffix select:last-child,
.field-prefix.field-suffix button:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.field-horizontal, .form-horizontal div {
  *zoom: 1;
}
.field-horizontal:before, .form-horizontal div:before, .field-horizontal:after, .form-horizontal div:after {
  content: " ";
  display: table;
}
.field-horizontal:after, .form-horizontal div:after {
  clear: both;
}
.field-horizontal label, .form-horizontal div label, .field-horizontal span.label, .form-horizontal div span.label {
  clear: none;
  display: inline;
  float: left;
  width: 35%;
}
.field-horizontal > input:not([type="radio"]):not([type="checkbox"]), .form-horizontal div > input:not([type="radio"]):not([type="checkbox"]), .field-horizontal > select, .form-horizontal div > select, .field-horizontal > textarea, .form-horizontal div > textarea, .field-horizontal > .control-group, .form-horizontal div > .control-group {
  clear: none;
  float: right;
  width: 60%;
}
.field-horizontal .field-prefix, .form-horizontal div .field-prefix,
.field-horizontal .field-suffix,
.form-horizontal div .field-suffix {
  clear: none;
  float: right;
  width: 60%;
}
.field-horizontal .field-prefix input, .form-horizontal div .field-prefix input,
.field-horizontal .field-suffix input,
.form-horizontal div .field-suffix input {
  width: auto;
}
.field-horizontal .control-group label, .form-horizontal div .control-group label, .field-horizontal .control-group span.label, .form-horizontal div .control-group span.label {
  float: none;
  width: auto;
}

/*==========  Form types  ==========*/
.form-inline {
  line-height: 250%;
  /* This produces vertical spacing between inputs */
}
.form-inline label {
  display: inline-block;
}
.form-inline input, .form-inline select {
  display: inline-block;
  width: auto;
}

.form-search > div, .form-search > p {
  clear: none;
  float: left;
}
.form-search input, .form-search label {
  float: left;
  margin-right: 3px;
  width: auto;
}

/*-----  End of $Forms  ------*/
