/*=============================
=            $Grid            =
=============================*/
/**
*
* Config.
*
* Columns: 24;
* Gutter: 20px;
* Column width: 20px;
* Total page width: 960px;
* Content width: 940px;
*
**/

.holder {
padding: 10px;
width: 940px;
}

.unitbg { background: #ffffff url(http://griddle.it/940-24-20?color=edf2c4&text=7b9712) repeat-y center top; }

form div.unit1, form div.unit2, form div.unit3, form div.unit4, form div.unit5, form div.unit6, form div.unit7, form div.unit8,
form div.unit9, form div.unit10, form div.unit11, form div.unit12, form div.unit13, form div.unit14, form div.unit15, form div.unit16,
form div.unit17, form div.unit18, form div.unit19, form div.unit20, form div.unit21, form div.unit22, form div.unit23, form div.unit24 {
clear: none;
}

.unit1, .unit2, .unit3, .unit4, .unit5, .unit6, .unit7, .unit8,
.unit9, .unit10, .unit11, .unit12, .unit13, .unit14, .unit15, .unit16,
.unit17, .unit18, .unit19, .unit20, .unit21, .unit22, .unit23, .unit24 {
float: left;
margin-right: 20px;
}

/* Column with 1 px border to the right */
.bordercol {
border-right: 1px solid #d5d5d5;
margin-right: 10px;
padding-right: 9px;
}

/* Column width */
.unit1  { width: 20px; }
.unit2  { width: 60px; }
.unit3  { width: 100px; }
.unit4  { width: 140px; }
.unit5  { width: 180px; }
.unit6  { width: 220px; }
.unit7  { width: 260px; }
.unit8  { width: 300px; }
.unit9  { width: 340px; }
.unit10 { width: 380px; }
.unit11 { width: 420px; }
.unit12 { width: 460px; }
.unit13 { width: 500px; }
.unit14 { width: 540px; }
.unit15 { width: 580px; }
.unit16 { width: 620px; }
.unit17 { width: 660px; }
.unit18 { width: 700px; }
.unit19 { width: 740px; }
.unit20 { width: 780px; }
.unit21 { width: 820px; }
.unit22 { width: 860px; }
.unit23 { width: 900px; }
.unit24 { width: 940px; margin-right: 0; }

/* Prefixes */
.prefix1  { margin-left: 40px; }
.prefix2  { margin-left: 80px; }
.prefix3  { margin-left: 120px; }
.prefix4  { margin-left: 160px; }
.prefix5  { margin-left: 200px; }
.prefix6  { margin-left: 240px; }
.prefix7  { margin-left: 280px; }
.prefix8  { margin-left: 320px; }
.prefix9  { margin-left: 360px; }
.prefix10 { margin-left: 400px; }
.prefix11 { margin-left: 440px; }
.prefix12 { margin-left: 480px; }
.prefix13 { margin-left: 520px; }
.prefix14 { margin-left: 560px; }
.prefix15 { margin-left: 600px; }
.prefix16 { margin-left: 640px; }
.prefix17 { margin-left: 680px; }
.prefix18 { margin-left: 720px; }
.prefix19 { margin-left: 760px; }
.prefix20 { margin-left: 800px; }
.prefix21 { margin-left: 840px; }
.prefix22 { margin-left: 880px; }
.prefix23 { margin-left: 920px; }

/* Suffixes */
.suffix1  { margin-right: 40px; }
.suffix2  { margin-right: 80px; }
.suffix3  { margin-right: 120px; }
.suffix4  { margin-right: 160px; }
.suffix5  { margin-right: 200px; }
.suffix6  { margin-right: 240px; }
.suffix7  { margin-right: 280px; }
.suffix8  { margin-right: 320px; }
.suffix9  { margin-right: 360px; }
.suffix10 { margin-right: 400px; }
.suffix11 { margin-right: 440px; }
.suffix12 { margin-right: 480px; }
.suffix13 { margin-right: 520px; }
.suffix14 { margin-right: 560px; }
.suffix15 { margin-right: 600px; }
.suffix16 { margin-right: 640px; }
.suffix17 { margin-right: 680px; }
.suffix18 { margin-right: 720px; }
.suffix19 { margin-right: 760px; }
.suffix20 { margin-right: 800px; }
.suffix21 { margin-right: 840px; }
.suffix22 { margin-right: 880px; }
.suffix23 { margin-right: 920px; }

/*-----  End of $Grid  ------*/