/*=================================================
=            $seelva default variables            =
=================================================*/
/*==========  $Common patterns  ==========*/
/*==========  $Other  ==========*/
/*==================================
=            $Utilities            =
==================================*/
/*==========  $Forms Helpers  ==========*/
/*==========  Wrappers  ==========*/
.form-field { margin-bottom: 9px; }

.form-actions { *zoom: 1; float: none; margin-bottom: 15px; width: auto; }
.form-actions:before, .form-actions:after { content: " "; display: table; }
.form-actions:after { clear: both; }

.control-group { clear: both; float: none; margin: 0; }
.control-group span.label { line-height: normal; }
.control-group label { display: inline; padding: 0; width: auto; }

/*==========  Form Fields  ==========*/
.field-error label { color: #e14049; }
.field-error input:not([type]), .field-error input[type=date], .field-error input[type=datetime], .field-error input[type=datetime-local], .field-error input[type=email], .field-error input[type=file], .field-error input[type=month], .field-error input[type=number], .field-error input[type=password], .field-error input[type=search], .field-error input[type=tel], .field-error input[type=text], .field-error input[type=time], .field-error input[type=url], .field-error input[type=week], .field-error select, .field-error textarea, .field-error input[type=checkbox], .field-error input[type=radio] { background: snow; border-color: pink; color: #e14049; }

.field-info label { color: steelblue; }
.field-info input:not([type]), .field-info input[type=date], .field-info input[type=datetime], .field-info input[type=datetime-local], .field-info input[type=email], .field-info input[type=file], .field-info input[type=month], .field-info input[type=number], .field-info input[type=password], .field-info input[type=search], .field-info input[type=tel], .field-info input[type=text], .field-info input[type=time], .field-info input[type=url], .field-info input[type=week], .field-info select, .field-info textarea, .field-info input[type=checkbox], .field-info input[type=radio] { background: #d9e8ff; border-color: #82d2df; color: steelblue; }

.field-notice label { color: goldenrod; }
.field-notice input:not([type]), .field-notice input[type=date], .field-notice input[type=datetime], .field-notice input[type=datetime-local], .field-notice input[type=email], .field-notice input[type=file], .field-notice input[type=month], .field-notice input[type=number], .field-notice input[type=password], .field-notice input[type=search], .field-notice input[type=tel], .field-notice input[type=text], .field-notice input[type=time], .field-notice input[type=url], .field-notice input[type=week], .field-notice select, .field-notice textarea, .field-notice input[type=checkbox], .field-notice input[type=radio] { background: lemonchiffon; border-color: gold; color: goldenrod; }

.field-success label { color: #4e9a06; }
.field-success input:not([type]), .field-success input[type=date], .field-success input[type=datetime], .field-success input[type=datetime-local], .field-success input[type=email], .field-success input[type=file], .field-success input[type=month], .field-success input[type=number], .field-success input[type=password], .field-success input[type=search], .field-success input[type=tel], .field-success input[type=text], .field-success input[type=time], .field-success input[type=url], .field-success input[type=week], .field-success select, .field-success textarea, .field-success input[type=checkbox], .field-success input[type=radio] { background: beige; border-color: #becf59; color: #4e9a06; }

.field-prefix, .field-suffix { overflow: hidden; /* Clearfix */ }
.field-prefix .label, .field-suffix .label { background: #fafafa; border: 1px solid #dadada; border-right-width: 0; color: #555555; float: left; margin: 0; padding: 3px 9px; }
.field-prefix .label:last-child, .field-suffix .label:last-child { -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0; border-radius: 0 3px 3px 0; border-left-width: 0; border-right-width: 1px; }
.field-prefix input, .field-prefix select, .field-prefix button, .field-suffix input, .field-suffix select, .field-suffix button { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; clear: none; float: left; margin: 0; position: relative; width: auto; }
.field-prefix input:first-child, .field-prefix select:first-child, .field-prefix button:first-child, .field-suffix input:first-child, .field-suffix select:first-child, .field-suffix button:first-child { -moz-border-radius: 3px 0 0 3px; -webkit-border-radius: 3px; border-radius: 3px 0 0 3px; }

.field-prefix .label { -moz-border-radius: 3px 0 0 3px; -webkit-border-radius: 3px; border-radius: 3px 0 0 3px; }
.field-prefix input, .field-prefix select, .field-prefix button { -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0; border-radius: 0 3px 3px 0; }

.field-suffix .label { -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0; border-radius: 0 3px 3px 0; border-right-width: 1px; }
.field-suffix input, .field-suffix select, .field-suffix button { -moz-border-radius: 3px 0 0 3px; -webkit-border-radius: 3px; border-radius: 3px 0 0 3px; }

.field-prefix.field-suffix .label { -moz-border-radius: 3px 0 0 3px; -webkit-border-radius: 3px; border-radius: 3px 0 0 3px; border-right-width: 0; }
.field-prefix.field-suffix .label:last-child { -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0; border-radius: 0 3px 3px 0; border-right-width: 1px; }
.field-prefix.field-suffix input, .field-prefix.field-suffix select, .field-prefix.field-suffix button { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
.field-prefix.field-suffix input:last-child, .field-prefix.field-suffix select:last-child, .field-prefix.field-suffix button:last-child { -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0; border-radius: 0 3px 3px 0; }

.field-horizontal, .form-horizontal div { *zoom: 1; }
.field-horizontal:before, .form-horizontal div:before, .field-horizontal:after, .form-horizontal div:after { content: " "; display: table; }
.field-horizontal:after, .form-horizontal div:after { clear: both; }
.field-horizontal label, .form-horizontal div label, .field-horizontal span.label, .form-horizontal div span.label { display: inline; float: left; width: 35%; }
.field-horizontal > input:not([type="radio"]):not([type="checkbox"]), .form-horizontal div > input:not([type="radio"]):not([type="checkbox"]), .field-horizontal > select, .form-horizontal div > select, .field-horizontal > textarea, .form-horizontal div > textarea, .field-horizontal > .control-group, .form-horizontal div > .control-group { clear: none; float: right; width: 60%; }
.field-horizontal .field-prefix, .form-horizontal div .field-prefix, .field-horizontal .field-suffix, .form-horizontal div .field-suffix { clear: none; float: right; width: 60%; }
.field-horizontal .field-prefix input, .form-horizontal div .field-prefix input, .field-horizontal .field-suffix input, .form-horizontal div .field-suffix input { width: auto; }
.field-horizontal .control-group label, .form-horizontal div .control-group label, .field-horizontal .control-group span.label, .form-horizontal div .control-group span.label { float: none; width: auto; }

/*==========  Form types  ==========*/
.form-inline { line-height: 250%; /* This produces vertical spacing between inputs */ }
.form-inline label { display: inline-block; }
.form-inline input, .form-inline select { display: inline-block; width: auto; }

.form-search > div, .form-search > p { clear: none; float: left; }
.form-search input, .form-search label { float: left; margin-right: 3px; width: auto; }

/*==========  $Buttons helpers  ==========*/
input[type="button"].btn-info, input[type="submit"].btn-info, input[type="reset"].btn-info, button.btn-info, button[type].btn-info, .btn.btn-info, .button.btn-info { color: steelblue; }
input[type="button"].btn-info:focus, input[type="button"].btn-info:hover, input[type="submit"].btn-info:focus, input[type="submit"].btn-info:hover, input[type="reset"].btn-info:focus, input[type="reset"].btn-info:hover, button.btn-info:focus, button.btn-info:hover, button[type].btn-info:focus, button[type].btn-info:hover, .btn.btn-info:focus, .btn.btn-info:hover, .button.btn-info:focus, .button.btn-info:hover { background-image: -moz-linear-gradient(#f3f7ff, #c0d9ff); background-image: -webkit-linear-gradient(#f3f7ff, #c0d9ff); background-image: linear-gradient(#f3f7ff, #c0d9ff); border-color: #82d2df; color: #38678f; }
input[type="button"].btn-info:active, input[type="submit"].btn-info:active, input[type="reset"].btn-info:active, button.btn-info:active, button[type].btn-info:active, .btn.btn-info:active, .button.btn-info:active { -moz-box-shadow: inset 0 1px 6px #0d6dff, 0 1px 0 whitesmoke; -webkit-box-shadow: inset 0 1px 6px #0d6dff, 0 1px 0 whitesmoke; box-shadow: inset 0 1px 6px #0d6dff, 0 1px 0 whitesmoke; }
input[type="button"].btn-success, input[type="submit"].btn-success, input[type="reset"].btn-success, button.btn-success, button[type].btn-success, .btn.btn-success, .button.btn-success { color: #7b9712; }
input[type="button"].btn-success:focus, input[type="button"].btn-success:hover, input[type="submit"].btn-success:focus, input[type="submit"].btn-success:hover, input[type="reset"].btn-success:focus, input[type="reset"].btn-success:hover, button.btn-success:focus, button.btn-success:hover, button[type].btn-success:focus, button[type].btn-success:hover, .btn.btn-success:focus, .btn.btn-success:hover, .button.btn-success:focus, .button.btn-success:hover { background-image: -moz-linear-gradient(#f3f7d9, #e7edaf); background-image: -webkit-linear-gradient(#f3f7d9, #e7edaf); background-image: linear-gradient(#f3f7d9, #e7edaf); border-color: #becf59; color: #56690d; }
input[type="button"].btn-success:active, input[type="submit"].btn-success:active, input[type="reset"].btn-success:active, button.btn-success:active, button[type].btn-success:active, .btn.btn-success:active, .button.btn-success:active { -moz-box-shadow: inset 0 1px 6px #899621, 0 1px 0 whitesmoke; -webkit-box-shadow: inset 0 1px 6px #899621, 0 1px 0 whitesmoke; box-shadow: inset 0 1px 6px #899621, 0 1px 0 whitesmoke; }
input[type="button"].btn-error, input[type="submit"].btn-error, input[type="reset"].btn-error, button.btn-error, button[type].btn-error, .btn.btn-error, .button.btn-error { color: #e14049; }
input[type="button"].btn-error:focus, input[type="button"].btn-error:hover, input[type="submit"].btn-error:focus, input[type="submit"].btn-error:hover, input[type="reset"].btn-error:focus, input[type="reset"].btn-error:hover, button.btn-error:focus, button.btn-error:hover, button[type].btn-error:focus, button[type].btn-error:hover, .btn.btn-error:focus, .btn.btn-error:hover, .button.btn-error:focus, .button.btn-error:hover { background-image: -moz-linear-gradient(#ffffff, #ffd7e4); background-image: -webkit-linear-gradient(#ffffff, #ffd7e4); background-image: linear-gradient(#ffffff, #ffd7e4); border-color: pink; color: #ce202a; }
input[type="button"].btn-error:active, input[type="submit"].btn-error:active, input[type="reset"].btn-error:active, button.btn-error:active, button[type].btn-error:active, .btn.btn-error:active, .button.btn-error:active { -moz-box-shadow: inset 0 1px 6px #bd003f, 0 1px 0 whitesmoke; -webkit-box-shadow: inset 0 1px 6px #bd003f, 0 1px 0 whitesmoke; box-shadow: inset 0 1px 6px #bd003f, 0 1px 0 whitesmoke; }
input[type="button"].btn-notice, input[type="submit"].btn-notice, input[type="reset"].btn-notice, button.btn-notice, button[type].btn-notice, .btn.btn-notice, .button.btn-notice { color: goldenrod; }
input[type="button"].btn-notice:focus, input[type="button"].btn-notice:hover, input[type="submit"].btn-notice:focus, input[type="submit"].btn-notice:hover, input[type="reset"].btn-notice:focus, input[type="reset"].btn-notice:hover, button.btn-notice:focus, button.btn-notice:hover, button[type].btn-notice:focus, button[type].btn-notice:hover, .btn.btn-notice:focus, .btn.btn-notice:hover, .button.btn-notice:focus, .button.btn-notice:hover { background-image: -moz-linear-gradient(#fffde7, #fff7b4); background-image: -webkit-linear-gradient(#fffde7, #fff7b4); background-image: linear-gradient(#fffde7, #fff7b4); border-color: gold; color: #ae8319; }
input[type="button"].btn-notice:active, input[type="submit"].btn-notice:active, input[type="reset"].btn-notice:active, button.btn-notice:active, button[type].btn-notice:active, .btn.btn-notice:active, .button.btn-notice:active { -moz-box-shadow: inset 0 1px 6px #9a8b00, 0 1px 0 whitesmoke; -webkit-box-shadow: inset 0 1px 6px #9a8b00, 0 1px 0 whitesmoke; box-shadow: inset 0 1px 6px #9a8b00, 0 1px 0 whitesmoke; }
input[type="button"].btn-small, input[type="submit"].btn-small, input[type="reset"].btn-small, button.btn-small, button[type].btn-small, .btn.btn-small, .button.btn-small { line-height: 0.75; padding-left: 0.5em; padding-right: 0.5em; }
input[type="button"].btn-medium, input[type="submit"].btn-medium, input[type="reset"].btn-medium, button.btn-medium, button[type].btn-medium, .btn.btn-medium, .button.btn-medium { line-height: 1.5; padding-left: 1.5em; padding-right: 1.5em; }
input[type="button"].btn-large, input[type="submit"].btn-large, input[type="reset"].btn-large, button.btn-large, button[type].btn-large, .btn.btn-large, .button.btn-large { line-height: 2; padding-left: 2em; padding-right: 2em; }
input[type="button"].btn-huge, input[type="submit"].btn-huge, input[type="reset"].btn-huge, button.btn-huge, button[type].btn-huge, .btn.btn-huge, .button.btn-huge { line-height: 4; padding-left: 2.5em; padding-right: 2.5em; }
input[type="button"].btn-alpha, input[type="submit"].btn-alpha, input[type="reset"].btn-alpha, button.btn-alpha, button[type].btn-alpha, .btn.btn-alpha, .button.btn-alpha { font-size: 0.75em; }
input[type="button"].btn-beta, input[type="submit"].btn-beta, input[type="reset"].btn-beta, button.btn-beta, button[type].btn-beta, .btn.btn-beta, .button.btn-beta { font-size: 1.28em; }
input[type="button"].btn-gamma, input[type="submit"].btn-gamma, input[type="reset"].btn-gamma, button.btn-gamma, button[type].btn-gamma, .btn.btn-gamma, .button.btn-gamma { font-size: 1.50em; }
input[type="button"].btn-unstyled, input[type="button"].btn-unstyled:hover, input[type="button"].btn-unstyled:focus, input[type="button"].btn-unstyled:active, input[type="submit"].btn-unstyled, input[type="submit"].btn-unstyled:hover, input[type="submit"].btn-unstyled:focus, input[type="submit"].btn-unstyled:active, input[type="reset"].btn-unstyled, input[type="reset"].btn-unstyled:hover, input[type="reset"].btn-unstyled:focus, input[type="reset"].btn-unstyled:active, button.btn-unstyled, button.btn-unstyled:hover, button.btn-unstyled:focus, button.btn-unstyled:active, button[type].btn-unstyled, button[type].btn-unstyled:hover, button[type].btn-unstyled:focus, button[type].btn-unstyled:active, .btn.btn-unstyled, .btn.btn-unstyled:hover, .btn.btn-unstyled:focus, .btn.btn-unstyled:active, .button.btn-unstyled, .button.btn-unstyled:hover, .button.btn-unstyled:focus, .button.btn-unstyled:active { -moz-box-shadow: 0 0 0 transparent; -webkit-box-shadow: 0 0 0 transparent; box-shadow: 0 0 0 transparent; background: transparent; border-color: transparent; font-weight: normal; text-decoration: underline; }
input[type="button"].btn-full, input[type="submit"].btn-full, input[type="reset"].btn-full, button.btn-full, button[type].btn-full, .btn.btn-full, .button.btn-full { padding-right: 0; padding-left: 0; text-align: center; width: 100%; }
input[type="button"].btn-natural, input[type="submit"].btn-natural, input[type="reset"].btn-natural, button.btn-natural, button[type].btn-natural, .btn.btn-natural, .button.btn-natural { font-size: inherit; line-height: inherit; padding-left: 0.5em; padding-right: 0.5em; }

/*==========  Buttons group  ==========*/
.btn-group { display: inline-block; vertical-align: middle; }
.btn-group input[type="button"], .btn-group input[type="submit"], .btn-group input[type="reset"], .btn-group button, .btn-group .btn, .btn-group .btn:link, .btn-group .button, .btn-group .button:link { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; float: left; margin: 0; border-right-width: 0; }
.btn-group input[type="button"]:first-child, .btn-group input[type="submit"]:first-child, .btn-group input[type="reset"]:first-child, .btn-group button:first-child, .btn-group .btn:first-child, .btn-group .btn:link:first-child, .btn-group .button:first-child, .btn-group .button:link:first-child { -moz-border-radius: 3px 0 0 3px; -webkit-border-radius: 3px; border-radius: 3px 0 0 3px; }
.btn-group input[type="button"]:last-child, .btn-group input[type="submit"]:last-child, .btn-group input[type="reset"]:last-child, .btn-group button:last-child, .btn-group .btn:last-child, .btn-group .btn:link:last-child, .btn-group .button:last-child, .btn-group .button:link:last-child { -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0; border-radius: 0 3px 3px 0; border-right-width: 1px; }

/*==========  Close button  ==========*/
.btn-close, .btn-close:link, .btn-close:visited, .btn-close:hover, .btn-close:active, .btn-close:focus { cursor: pointer; float: right; font-weight: bold; position: relative; text-decoration: none; top: -3px; }

ul.armenian, ol.armenian { list-style-type: armenian; }
ul.circle, ol.circle { list-style-type: circle; }
ul.decimal, ol.decimal { list-style-type: decimal; }
ul.decimalzero, ol.decimalzero { list-style-type: decimal-leading-zero; }
ul.disc, ol.disc { list-style-type: disc; }
ul.georgian, ol.georgian { list-style-type: georgian; }
ul.lalpha, ol.lalpha { list-style-type: lower-alpha; }
ul.lgreek, ol.lgreek { list-style-type: lower-greek; }
ul.llatin, ol.llatin { list-style-type: lower-latin; }
ul.lroman, ol.lroman { list-style-type: lower-roman; }
ul.square, ol.square { list-style-type: square; }
ul.ualpha, ol.ualpha { list-style-type: upper-alpha; }
ul.ulatin, ol.ulatin { list-style-type: upper-latin; }
ul.uroman, ol.uroman { list-style-type: upper-roman; }
ul.styled, ul.unstyled, ol.styled, ol.unstyled { list-style-type: none; margin-left: 9px; }
ul.styled li, ol.styled li { background: url(../images/bullet.png) no-repeat 0 6px; padding-left: 16px; }
ul.horizontal, ol.horizontal { margin-left: 0; }
ul.horizontal > li, ol.horizontal > li { border-left: 1px solid #e5e5e5; display: inline-block; padding-left: 6px; padding-right: 3px; }
ul.horizontal > li:first-child, ol.horizontal > li:first-child { border-left: 0; }

/*==========  $Media Helpers  ==========*/
img.styled { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #fafafa url(../images/loading.gif) no-repeat center; border: 1px solid whitesmoke; padding: 6px; }
img.light-styled, a img.light-styled { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -moz-box-shadow: inset 0 0 6px 0 darkgray; -webkit-box-shadow: inset 0 0 6px 0 darkgray; box-shadow: inset 0 0 6px 0 darkgray; border-width: 0; padding: 0; }
img.unstyled, button img, a.button img { background: transparent; border-width: 0; padding: 0; }

/*==========  Captioned image  ==========*/
.image-caption, .caption, figure.styled { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #fafafa; border: 1px solid whitesmoke; display: inline-block; margin-bottom: 9px; padding: 6px; text-align: center; }
.image-caption img, .caption img, figure.styled img { background: transparent; border-width: 0; margin: 0; padding: 0; }
.image-caption .caption-text, .caption .caption-text, figure.styled .caption-text { font-style: italic; margin-bottom: 0; text-align: center; }

/*==========  $floated Images  ==========*/
img.alignleft, img.floatleft, .image-caption.alignleft, .image-caption.floatleft, .caption.alignleft, .caption.floatleft, figure.styled.alignleft, figure.styled.floatleft { float: left; margin-right: 9px; }
img.alignright, img.floatright, .image-caption.alignright, .image-caption.floatright, .caption.alignright, .caption.floatright, figure.styled.alignright, figure.styled.floatright { float: right; margin-left: 9px; }

/*==========  Gallery  ==========*/
.gallery { overflow: hidden; }
.gallery > div, .gallery > li { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #fafafa; border: 1px solid whitesmoke; float: left; margin: 0 10px 20px; padding: 6px; text-align: center; }
.gallery > div a, .gallery > div a:link, .gallery > li a, .gallery > li a:link { display: inline-block; }
.gallery.styled > div, .gallery.styled > li { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.gallery.light-styled > div, .gallery.light-styled > li { background: transparent; border: 0; padding: 0; }
.gallery.light-styled > div img, .gallery.light-styled > li img { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }

/*==========  $Utils Clearfix  ==========*/
/* Standard clearfix. */
/* Source: http://www.contentwithstyle.co.uk/content/a-css-framework */
* html .clearfix { height: 1%; }

/* IE6 */
*:first-child + html .clearfix { min-height: 1%; }

/* IE7 */
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }

/* Micro clearfix */
/* Source: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf { *zoom: 1; }
.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }

/*==========  $Utils Clearing  ==========*/
.clear { clear: both; display: block; }

hr.clear, hr.clearing { background: transparent; border: 0; clear: both; color: white; float: none; height: 0; margin: 0; visibility: hidden; width: 100%; }

/*==========  $Utils Display  ==========*/
/* Screen readers can see it */
.invisible { clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); position: absolute !important; /* IE6, IE7 */ }

/* Screen readers can not see it */
.hidden { display: none; }

/*==========  $Utils Image replacement  ==========*/
.imgreplace { display: inline-block; text-indent: -5000em; }

/*==========  $Utils Accesibility  ==========*/
#skip-links { clear: both; list-style: none; margin: 0; position: absolute; text-align: center; width: 100%; }
#skip-links a, #skip-links a:link, #skip-links a:visited { background: #4e9a06; color: white; display: block; left: -200%; padding: 6px 0; position: absolute; width: 100%; z-index: 2; }
#skip-links a:active, #skip-links a:focus { left: 0; text-align: center; z-index: 100; }

.accessibility { left: -5000em; position: absolute; }

/*==========  $Resizable elements  ==========*/
.resizable { overflow: auto; resize: both; }

/*==========  $Selection styling  ==========*/
::-moz-selection { background: #4e9a06; color: white; text-shadow: none; }

::selection { background: #4e9a06; color: white; text-shadow: none; }

/*==========  $Utils Semantic  ==========*/
.alpha { clear: left; float: left; }

.omega { clear: right; float: right; margin-right: 0; }

/*==========  $Utils Unsemantic  ==========*/
/***************************************************************************
*  WARNING:
*  Use the following classes carefully and only in extreme ocassions.
****************************************************************************/
/* Alignment */
.alignleft { text-align: left; }

.aligncenter { text-align: center; }

.alignright { text-align: right; }

.alignjust { text-align: justify; }

/* Floating */
.floatleft { float: left; }

.floatright { float: right; }

.nofloat { float: none; margin-left: auto; margin-right: auto; }

/* Text */
.small { font-size: 80%; }

.big { font-size: 125%; }

.large { font-size: 150%; }

.loud { color: #e14049; }

.quiet { opacity: 0.5; filter: alpha(opacity=50); }

.capitalize { text-transform: capitalize; }

.lowercase { text-transform: lowercase; }

.uppercase { text-transform: uppercase; }

/*-----  End of $Utilities  ------*/
