/*===================================
=              $Objects             =
===================================*/
/*=======================================
=            $Object - Media            =
=======================================*/
/**
*
* Media object as per stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
*
**/
.media {
  display: block;
  *zoom: 1;
}
.media:before, .media:after {
  content: " ";
  display: table;
}
.media:after {
  clear: both;
}

.media-img {
  float: left;
  margin-right: 1em;
}

/* Reversed image location (right instead of left). */
.media-img--rev {
  float: right;
  margin-left: 1em;
}

.media-img img,
.media-img--rev img {
  display: block;
}

.media-body {
  overflow: hidden;
}
.media-body, .media-body > :last-child {
  margin-bottom: 0;
}

/*-----  End of $Object - Media  ------*/
/* nav abstraction object
Source: http://csswizardry.com/2011/09/the-nav-abstraction/
*/
.nav {
  list-style: none;
  margin: 0 0 9px 0;
}
.nav > li {
  display: block;
  float: left;
}
.nav > li > a, .nav > li > a:link {
  display: block;
  text-decoration: none;
}

/*=====================================
=            $Object- Stat            =
=====================================*/
.stat-group {
  *zoom: 1;
}
.stat-group:before, .stat-group:after {
  content: " ";
  display: table;
}
.stat-group:after {
  clear: both;
}

.stat {
  display: inline-block;
}

.stat-title,
.stat-value {
  clear: both;
  display: block;
}

/*-----  End of $Object- Stat  ------*/
/*-------  End of $Objects  -------*/
