/*===========================
=            $UI            =
===========================*/
/*==========  $Forms Buttons  ==========*/
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
button[type],
a.btn,
a.button {
  background: #e5e5e5 url(../images/gradient-bg.png) repeat-x left top;
  border: 1px solid #dadada;
  border-bottom-color: darkgrey;
  color: #888888;
  cursor: pointer;
  display: inline-block;
  font-family: Verdana, Tahoma, "Trebuchet MS", sans-serif;
  font-size: 100%;
  font-weight: bold;
  line-height: 100%;
  margin: 0 6px 0 0;
  padding: 5px 9px;
  /* For links */
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 0 whitesmoke;
  -moz-box-shadow: 0 1px 0 0 whitesmoke;
  box-shadow: 0 1px 0 0 whitesmoke;
  /* IE7 padding bugfix */
  overflow: visible;
  width: auto;
  /* Standard button */
  /* Disabled button */
}
input[type="button"]:hover, input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
button:hover,
button:focus,
button[type]:hover,
button[type]:focus,
a.btn:hover,
a.btn:focus,
a.button:hover,
a.button:focus {
  background-position: 0 -292px;
  color: #555555;
  outline-color: #7b9712;
}
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active,
button[type]:active,
a.btn:active,
a.button:active {
  background-position: 0 bottom;
  border-color: #888888 darkgrey #dadada;
  color: #888888;
  -webkit-box-shadow: inset 0 1px 6px darkgrey, 0 1px 0 whitesmoke;
  -moz-box-shadow: inset 0 1px 6px darkgrey, 0 1px 0 whitesmoke;
  box-shadow: inset 0 1px 6px darkgrey, 0 1px 0 whitesmoke;
}
input[type="button"][disabled], input[type="button"][disabled]:hover, input[type="button"][disabled]:active,
input[type="submit"][disabled],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:active,
input[type="reset"][disabled],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:active,
button[disabled],
button[disabled]:hover,
button[disabled]:active,
button[type][disabled],
button[type][disabled]:hover,
button[type][disabled]:active,
a.btn[disabled],
a.btn[disabled]:hover,
a.btn[disabled]:active,
a.button[disabled],
a.button[disabled]:hover,
a.button[disabled]:active {
  background: #e5e5e5;
  border: 1px solid #dadada;
  color: #888888;
  cursor: default;
  text-shadow: 1px 1px 0 whitesmoke;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Fixing a NASTY bug in Firefox where input's line-height does not work */
@-moz-document url-prefix() {
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    height: 1.9em;
  }
}

button img,
a.btn img,
a.button img {
  border: 0;
  margin: 0;
  padding: 0;
}

/*==========  $Buttons helpers  ==========*/
input[type="button"].btn-info,
input[type="submit"].btn-info,
input[type="reset"].btn-info,
button.btn-info,
button[type].btn-info,
a.btn.btn-info,
a.button.btn-info {
  color: steelblue;
}
input[type="button"].btn-info:hover, input[type="button"].btn-info:focus,
input[type="submit"].btn-info:hover,
input[type="submit"].btn-info:focus,
input[type="reset"].btn-info:hover,
input[type="reset"].btn-info:focus,
button.btn-info:hover,
button.btn-info:focus,
button[type].btn-info:hover,
button[type].btn-info:focus,
a.btn.btn-info:hover,
a.btn.btn-info:focus,
a.button.btn-info:hover,
a.button.btn-info:focus {
  background-color: #d9e8ff;
  border-color: #82d2df;
}
input[type="button"].btn-info:active,
input[type="submit"].btn-info:active,
input[type="reset"].btn-info:active,
button.btn-info:active,
button[type].btn-info:active,
a.btn.btn-info:active,
a.button.btn-info:active {
  -webkit-box-shadow: inset 0 1px 6px #0d6dff, 0 1px 0 whitesmoke;
  -moz-box-shadow: inset 0 1px 6px #0d6dff, 0 1px 0 whitesmoke;
  box-shadow: inset 0 1px 6px #0d6dff, 0 1px 0 whitesmoke;
}
input[type="button"].btn-success,
input[type="submit"].btn-success,
input[type="reset"].btn-success,
button.btn-success,
button[type].btn-success,
a.btn.btn-success,
a.button.btn-success {
  color: #7b9712;
}
input[type="button"].btn-success:hover, input[type="button"].btn-success:focus,
input[type="submit"].btn-success:hover,
input[type="submit"].btn-success:focus,
input[type="reset"].btn-success:hover,
input[type="reset"].btn-success:focus,
button.btn-success:hover,
button.btn-success:focus,
button[type].btn-success:hover,
button[type].btn-success:focus,
a.btn.btn-success:hover,
a.btn.btn-success:focus,
a.button.btn-success:hover,
a.button.btn-success:focus {
  background-color: #edf2c4;
  border-color: #becf59;
}
input[type="button"].btn-success:active,
input[type="submit"].btn-success:active,
input[type="reset"].btn-success:active,
button.btn-success:active,
button[type].btn-success:active,
a.btn.btn-success:active,
a.button.btn-success:active {
  -webkit-box-shadow: inset 0 1px 6px #899621, 0 1px 0 whitesmoke;
  -moz-box-shadow: inset 0 1px 6px #899621, 0 1px 0 whitesmoke;
  box-shadow: inset 0 1px 6px #899621, 0 1px 0 whitesmoke;
}
input[type="button"].btn-error,
input[type="submit"].btn-error,
input[type="reset"].btn-error,
button.btn-error,
button[type].btn-error,
a.btn.btn-error,
a.button.btn-error {
  color: #e14049;
}
input[type="button"].btn-error:hover, input[type="button"].btn-error:focus,
input[type="submit"].btn-error:hover,
input[type="submit"].btn-error:focus,
input[type="reset"].btn-error:hover,
input[type="reset"].btn-error:focus,
button.btn-error:hover,
button.btn-error:focus,
button[type].btn-error:hover,
button[type].btn-error:focus,
a.btn.btn-error:hover,
a.btn.btn-error:focus,
a.button.btn-error:hover,
a.button.btn-error:focus {
  background-color: lavenderblush;
  border-color: pink;
}
input[type="button"].btn-error:active,
input[type="submit"].btn-error:active,
input[type="reset"].btn-error:active,
button.btn-error:active,
button[type].btn-error:active,
a.btn.btn-error:active,
a.button.btn-error:active {
  -webkit-box-shadow: inset 0 1px 6px #bd003f, 0 1px 0 whitesmoke;
  -moz-box-shadow: inset 0 1px 6px #bd003f, 0 1px 0 whitesmoke;
  box-shadow: inset 0 1px 6px #bd003f, 0 1px 0 whitesmoke;
}
input[type="button"].btn-notice,
input[type="submit"].btn-notice,
input[type="reset"].btn-notice,
button.btn-notice,
button[type].btn-notice,
a.btn.btn-notice,
a.button.btn-notice {
  color: goldenrod;
}
input[type="button"].btn-notice:hover, input[type="button"].btn-notice:focus,
input[type="submit"].btn-notice:hover,
input[type="submit"].btn-notice:focus,
input[type="reset"].btn-notice:hover,
input[type="reset"].btn-notice:focus,
button.btn-notice:hover,
button.btn-notice:focus,
button[type].btn-notice:hover,
button[type].btn-notice:focus,
a.btn.btn-notice:hover,
a.btn.btn-notice:focus,
a.button.btn-notice:hover,
a.button.btn-notice:focus {
  background-color: lemonchiffon;
  border-color: gold;
}
input[type="button"].btn-notice:active,
input[type="submit"].btn-notice:active,
input[type="reset"].btn-notice:active,
button.btn-notice:active,
button[type].btn-notice:active,
a.btn.btn-notice:active,
a.button.btn-notice:active {
  -webkit-box-shadow: inset 0 1px 6px #9a8b00, 0 1px 0 whitesmoke;
  -moz-box-shadow: inset 0 1px 6px #9a8b00, 0 1px 0 whitesmoke;
  box-shadow: inset 0 1px 6px #9a8b00, 0 1px 0 whitesmoke;
}

/*==========  Buttons group  ==========*/
.btn-group {
  display: inline-block;
}
.btn-group input[type="button"], .btn-group input[type="submit"], .btn-group input[type="reset"], .btn-group button, .btn-group a.button {
  float: left;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.btn-group input[type="button"]:first-child, .btn-group input[type="submit"]:first-child, .btn-group input[type="reset"]:first-child, .btn-group button:first-child, .btn-group a.button:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.btn-group input[type="button"]:last-child, .btn-group input[type="submit"]:last-child, .btn-group input[type="reset"]:last-child, .btn-group button:last-child, .btn-group a.button:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

/*==========  Close button  ==========*/
.btn-close, .btn-close:link, .btn-close:visited, .btn-close:hover .btn-close:active, .btn-close:focus {
  cursor: pointer;
  float: right;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  top: -3px;
}

/*==========  $UI Alerts/Messages  ==========*/
.alert,
.error,
.guidelines,
.info, .ok,
.notice, .warning,
.status, .success {
  background: whitesmoke;
  background-position: 4px 1em;
  background-repeat: no-repeat;
  border: 1px solid #e5e5e5;
  color: #888888;
  margin-bottom: 15px;
  padding: 9px 9px 9px 24px;
  text-shadow: 1px 1px 0 white;
}
.alert a,
.error a,
.guidelines a,
.info a, .ok a,
.notice a, .warning a,
.status a, .success a {
  background: none;
  margin: 0;
  padding: 0;
}

.error {
  background-color: lavenderblush;
  background-image: url(../images/icons/cross.png);
  border-color: pink;
  color: #e14049;
}
.error a {
  color: #e14049;
}

.info, .status {
  background-color: #d9e8ff;
  background-image: url(../images/icons/information.png);
  border-color: #82d2df;
  color: steelblue;
}
.info a, .status a {
  color: steelblue;
}

.notice, .warning {
  background-color: lemonchiffon;
  background-image: url(../images/icons/error.png);
  border-color: gold;
  color: goldenrod;
}
.notice a, .warning a {
  color: goldenrod;
}

.success, .ok {
  background-color: #edf2c4;
  background-image: url(../images/icons/tick.png);
  border-color: #becf59;
  color: #7b9712;
}
.success a, .ok a {
  color: #7b9712;
}

.guidelines {
  background-color: ivory;
  border-color: #fff6cc;
  color: #555555;
  line-height: 130%;
  margin-top: 6px;
  padding: 9px 6px;
  text-shadow: 1px 1px 0 white;
}
.guidelines a {
  color: #555555;
}

/*==========  $UI Progressbars  ==========*/
.progressbar,
.progressbar-error,
.progressbar-info,
.progressbar-notice,
.progressbar-success {
  background: #fafafa;
  border: 1px solid #dadada;
  height: 21px;
  margin: 6px 0;
  overflow: hidden;
  position: relative;
  text-shadow: 1px 1px 0 white;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.progressbar .progress-value,
.progressbar-error .progress-value,
.progressbar-info .progress-value,
.progressbar-notice .progress-value,
.progressbar-success .progress-value {
  background: #dadada url(../images/gradient-bg.png) repeat-x left -12px;
  float: left;
  height: 20px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
}
.progressbar .progress-text,
.progressbar-error .progress-text,
.progressbar-info .progress-text,
.progressbar-notice .progress-text,
.progressbar-success .progress-text {
  color: #555555;
  font-size: 14px;
  font-weight: bold;
  left: 0;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 1px white;
  top: 0;
  width: 100%;
}

.progressbar-error .progress-value {
  background-color: #ef989d;
}

.progressbar-info .progress-value {
  background-color: #99ccff;
}

.progressbar-notice .progress-value {
  background-color: #ffe766;
}

.progressbar-success .progress-value {
  background-color: #dde6a8;
}

/*-----  End of $UI  ------*/
