/*===========================
=            $UI            =
===========================*/
/*==========  $Forms Buttons  ==========*/
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
button[type],
.btn, .btn:link,
.button, .button:link {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(#fafafa, #e5e5e5);
  background-image: -moz-linear-gradient(#fafafa, #e5e5e5);
  background-image: -o-linear-gradient(#fafafa, #e5e5e5);
  background-image: linear-gradient(#fafafa, #e5e5e5);
  border: 1px solid #dadada;
  border-bottom-color: darkgrey;
  color: #888888;
  cursor: pointer;
  display: inline-block;
  font-family: Verdana, Tahoma, "Trebuchet MS", sans-serif;
  font-size: 100%;
  font-weight: bold;
  line-height: 100%;
  margin: 0 6px 0 0;
  padding: 5px 9px;
  /* For links */
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 0 whitesmoke;
  -moz-box-shadow: 0 1px 0 0 whitesmoke;
  box-shadow: 0 1px 0 0 whitesmoke;
  /* IE7 padding bugfix */
  overflow: visible;
  width: auto;
  /* Standard button */
  /* Disabled button */
}
input[type="button"]:hover, input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
button:hover,
button:focus,
button[type]:hover,
button[type]:focus,
.btn:hover,
.btn:focus, .btn:link:hover, .btn:link:focus,
.button:hover,
.button:focus, .button:link:hover, .button:link:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #dadada));
  background-image: -webkit-linear-gradient(#fafafa, #dadada);
  background-image: -moz-linear-gradient(#fafafa, #dadada);
  background-image: -o-linear-gradient(#fafafa, #dadada);
  background-image: linear-gradient(#fafafa, #dadada);
  color: #555555;
  outline-color: #7b9712;
}
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
button:focus,
button[type]:focus,
.btn:focus, .btn:link:focus,
.button:focus, .button:link:focus {
  outline-width: thin;
  outline-style: auto;
}
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active,
button[type]:active,
.btn:active, .btn:link:active,
.button:active, .button:link:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #fafafa));
  background-image: -webkit-linear-gradient(#e5e5e5, #fafafa);
  background-image: -moz-linear-gradient(#e5e5e5, #fafafa);
  background-image: -o-linear-gradient(#e5e5e5, #fafafa);
  background-image: linear-gradient(#e5e5e5, #fafafa);
  border-color: #888888 darkgrey #dadada;
  color: #888888;
  -webkit-box-shadow: inset 0 1px 6px darkgrey, 0 1px 0 whitesmoke;
  -moz-box-shadow: inset 0 1px 6px darkgrey, 0 1px 0 whitesmoke;
  box-shadow: inset 0 1px 6px darkgrey, 0 1px 0 whitesmoke;
}
input[type="button"][disabled], input[type="button"][disabled]:hover, input[type="button"][disabled]:active,
input[type="submit"][disabled],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:active,
input[type="reset"][disabled],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:active,
button[disabled],
button[disabled]:hover,
button[disabled]:active,
button[type][disabled],
button[type][disabled]:hover,
button[type][disabled]:active,
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:active, .btn:link[disabled], .btn:link[disabled]:hover, .btn:link[disabled]:active,
.button[disabled],
.button[disabled]:hover,
.button[disabled]:active, .button:link[disabled], .button:link[disabled]:hover, .button:link[disabled]:active {
  background: #e5e5e5;
  border: 1px solid #dadada;
  color: #888888;
  cursor: default;
  text-shadow: 1px 1px 0 whitesmoke;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Fixing a NASTY bug in Firefox where input's line-height does not work */
@-moz-document url-prefix() {
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    height: 1.9em;
  }
}

button img,
.btn img,
.button img {
  border: 0;
  margin: 0;
  padding: 0;
}

/*==========  $Buttons helpers  ==========*/
input[type="button"].btn-info,
input[type="submit"].btn-info,
input[type="reset"].btn-info,
button.btn-info,
button[type].btn-info,
.btn.btn-info,
.button.btn-info {
  color: steelblue;
}
input[type="button"].btn-info:hover, input[type="button"].btn-info:focus,
input[type="submit"].btn-info:hover,
input[type="submit"].btn-info:focus,
input[type="reset"].btn-info:hover,
input[type="reset"].btn-info:focus,
button.btn-info:hover,
button.btn-info:focus,
button[type].btn-info:hover,
button[type].btn-info:focus,
.btn.btn-info:hover,
.btn.btn-info:focus,
.button.btn-info:hover,
.button.btn-info:focus {
  color: #38678f;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f7ff), color-stop(100%, #c0d9ff));
  background-image: -webkit-linear-gradient(#f3f7ff, #c0d9ff);
  background-image: -moz-linear-gradient(#f3f7ff, #c0d9ff);
  background-image: -o-linear-gradient(#f3f7ff, #c0d9ff);
  background-image: linear-gradient(#f3f7ff, #c0d9ff);
  border-color: #82d2df;
}
input[type="button"].btn-info:active,
input[type="submit"].btn-info:active,
input[type="reset"].btn-info:active,
button.btn-info:active,
button[type].btn-info:active,
.btn.btn-info:active,
.button.btn-info:active {
  -webkit-box-shadow: inset 0 1px 6px #0d6dff, 0 1px 0 whitesmoke;
  -moz-box-shadow: inset 0 1px 6px #0d6dff, 0 1px 0 whitesmoke;
  box-shadow: inset 0 1px 6px #0d6dff, 0 1px 0 whitesmoke;
}
input[type="button"].btn-success,
input[type="submit"].btn-success,
input[type="reset"].btn-success,
button.btn-success,
button[type].btn-success,
.btn.btn-success,
.button.btn-success {
  color: #7b9712;
}
input[type="button"].btn-success:hover, input[type="button"].btn-success:focus,
input[type="submit"].btn-success:hover,
input[type="submit"].btn-success:focus,
input[type="reset"].btn-success:hover,
input[type="reset"].btn-success:focus,
button.btn-success:hover,
button.btn-success:focus,
button[type].btn-success:hover,
button[type].btn-success:focus,
.btn.btn-success:hover,
.btn.btn-success:focus,
.button.btn-success:hover,
.button.btn-success:focus {
  color: #56690d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f7d9), color-stop(100%, #e7edaf));
  background-image: -webkit-linear-gradient(#f3f7d9, #e7edaf);
  background-image: -moz-linear-gradient(#f3f7d9, #e7edaf);
  background-image: -o-linear-gradient(#f3f7d9, #e7edaf);
  background-image: linear-gradient(#f3f7d9, #e7edaf);
  border-color: #becf59;
}
input[type="button"].btn-success:active,
input[type="submit"].btn-success:active,
input[type="reset"].btn-success:active,
button.btn-success:active,
button[type].btn-success:active,
.btn.btn-success:active,
.button.btn-success:active {
  -webkit-box-shadow: inset 0 1px 6px #899621, 0 1px 0 whitesmoke;
  -moz-box-shadow: inset 0 1px 6px #899621, 0 1px 0 whitesmoke;
  box-shadow: inset 0 1px 6px #899621, 0 1px 0 whitesmoke;
}
input[type="button"].btn-error,
input[type="submit"].btn-error,
input[type="reset"].btn-error,
button.btn-error,
button[type].btn-error,
.btn.btn-error,
.button.btn-error {
  color: #e14049;
}
input[type="button"].btn-error:hover, input[type="button"].btn-error:focus,
input[type="submit"].btn-error:hover,
input[type="submit"].btn-error:focus,
input[type="reset"].btn-error:hover,
input[type="reset"].btn-error:focus,
button.btn-error:hover,
button.btn-error:focus,
button[type].btn-error:hover,
button[type].btn-error:focus,
.btn.btn-error:hover,
.btn.btn-error:focus,
.button.btn-error:hover,
.button.btn-error:focus {
  color: #ce202a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffd7e4));
  background-image: -webkit-linear-gradient(#ffffff, #ffd7e4);
  background-image: -moz-linear-gradient(#ffffff, #ffd7e4);
  background-image: -o-linear-gradient(#ffffff, #ffd7e4);
  background-image: linear-gradient(#ffffff, #ffd7e4);
  border-color: pink;
}
input[type="button"].btn-error:active,
input[type="submit"].btn-error:active,
input[type="reset"].btn-error:active,
button.btn-error:active,
button[type].btn-error:active,
.btn.btn-error:active,
.button.btn-error:active {
  -webkit-box-shadow: inset 0 1px 6px #bd003f, 0 1px 0 whitesmoke;
  -moz-box-shadow: inset 0 1px 6px #bd003f, 0 1px 0 whitesmoke;
  box-shadow: inset 0 1px 6px #bd003f, 0 1px 0 whitesmoke;
}
input[type="button"].btn-notice,
input[type="submit"].btn-notice,
input[type="reset"].btn-notice,
button.btn-notice,
button[type].btn-notice,
.btn.btn-notice,
.button.btn-notice {
  color: goldenrod;
}
input[type="button"].btn-notice:hover, input[type="button"].btn-notice:focus,
input[type="submit"].btn-notice:hover,
input[type="submit"].btn-notice:focus,
input[type="reset"].btn-notice:hover,
input[type="reset"].btn-notice:focus,
button.btn-notice:hover,
button.btn-notice:focus,
button[type].btn-notice:hover,
button[type].btn-notice:focus,
.btn.btn-notice:hover,
.btn.btn-notice:focus,
.button.btn-notice:hover,
.button.btn-notice:focus {
  color: #ae8319;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fffde7), color-stop(100%, #fff7b4));
  background-image: -webkit-linear-gradient(#fffde7, #fff7b4);
  background-image: -moz-linear-gradient(#fffde7, #fff7b4);
  background-image: -o-linear-gradient(#fffde7, #fff7b4);
  background-image: linear-gradient(#fffde7, #fff7b4);
  border-color: gold;
}
input[type="button"].btn-notice:active,
input[type="submit"].btn-notice:active,
input[type="reset"].btn-notice:active,
button.btn-notice:active,
button[type].btn-notice:active,
.btn.btn-notice:active,
.button.btn-notice:active {
  -webkit-box-shadow: inset 0 1px 6px #9a8b00, 0 1px 0 whitesmoke;
  -moz-box-shadow: inset 0 1px 6px #9a8b00, 0 1px 0 whitesmoke;
  box-shadow: inset 0 1px 6px #9a8b00, 0 1px 0 whitesmoke;
}
input[type="button"].btn-unstyled, input[type="button"].btn-unstyled:hover, input[type="button"].btn-unstyled:focus, input[type="button"].btn-unstyled:active,
input[type="submit"].btn-unstyled,
input[type="submit"].btn-unstyled:hover,
input[type="submit"].btn-unstyled:focus,
input[type="submit"].btn-unstyled:active,
input[type="reset"].btn-unstyled,
input[type="reset"].btn-unstyled:hover,
input[type="reset"].btn-unstyled:focus,
input[type="reset"].btn-unstyled:active,
button.btn-unstyled,
button.btn-unstyled:hover,
button.btn-unstyled:focus,
button.btn-unstyled:active,
button[type].btn-unstyled,
button[type].btn-unstyled:hover,
button[type].btn-unstyled:focus,
button[type].btn-unstyled:active,
.btn.btn-unstyled,
.btn.btn-unstyled:hover,
.btn.btn-unstyled:focus,
.btn.btn-unstyled:active,
.button.btn-unstyled,
.button.btn-unstyled:hover,
.button.btn-unstyled:focus,
.button.btn-unstyled:active {
  background: transparent;
  border-color: transparent;
  font-weight: normal;
  text-decoration: underline;
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}

/*==========  Buttons group  ==========*/
.btn-group {
  display: inline-block;
}
.btn-group input[type="button"], .btn-group input[type="submit"], .btn-group input[type="reset"], .btn-group button, .btn-group a.button, .btn-group a.button:link {
  float: left;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.btn-group input[type="button"]:first-child, .btn-group input[type="submit"]:first-child, .btn-group input[type="reset"]:first-child, .btn-group button:first-child, .btn-group a.button:first-child, .btn-group a.button:link:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.btn-group input[type="button"]:last-child, .btn-group input[type="submit"]:last-child, .btn-group input[type="reset"]:last-child, .btn-group button:last-child, .btn-group a.button:last-child, .btn-group a.button:link:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

/*==========  Close button  ==========*/
.btn-close, .btn-close:link, .btn-close:visited, .btn-close:hover .btn-close:active, .btn-close:focus {
  cursor: pointer;
  float: right;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  top: -3px;
}

/*==========  $UI Alerts/Messages  ==========*/
.alert,
.error,
.guidelines,
.info, .ok,
.notice, .warning,
.status, .success {
  background-color: whitesmoke;
  background-position: 4px 1em;
  background-repeat: no-repeat;
  border: 1px solid #e5e5e5;
  color: #888888;
  margin-bottom: 15px;
  padding: 9px 9px 9px 24px;
  text-shadow: 1px 1px 0 white;
}
.alert a,
.error a,
.guidelines a,
.info a, .ok a,
.notice a, .warning a,
.status a, .success a {
  background: none;
  margin: 0;
  padding: 0;
}

.error {
  background-color: lavenderblush;
  background-image: url(../images/icons/cross.png);
  border-color: pink;
  color: #e14049;
}
.error a {
  color: #e14049;
}

.info, .status {
  background-color: #d9e8ff;
  background-image: url(../images/icons/information.png);
  border-color: #82d2df;
  color: steelblue;
}
.info a, .status a {
  color: steelblue;
}

.notice, .warning {
  background-color: lemonchiffon;
  background-image: url(../images/icons/error.png);
  border-color: gold;
  color: goldenrod;
}
.notice a, .warning a {
  color: goldenrod;
}

.success, .ok {
  background-color: #edf2c4;
  background-image: url(../images/icons/tick.png);
  border-color: #becf59;
  color: #7b9712;
}
.success a, .ok a {
  color: #7b9712;
}

.guidelines {
  background-color: ivory;
  border-color: #fff6cc;
  color: #555555;
  line-height: 130%;
  margin-top: 6px;
  padding: 9px 6px;
  text-shadow: 1px 1px 0 white;
}
.guidelines a {
  color: #555555;
}

/*==========  $UI Progressbars  ==========*/
.progressbar,
.progressbar-error,
.progressbar-info,
.progressbar-notice,
.progressbar-success {
  background: #fafafa;
  border: 1px solid #dadada;
  height: 21px;
  margin: 6px 0;
  overflow: hidden;
  position: relative;
  text-shadow: 1px 1px 0 white;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.progressbar .progress-value,
.progressbar-error .progress-value,
.progressbar-info .progress-value,
.progressbar-notice .progress-value,
.progressbar-success .progress-value {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #dadada));
  background-image: -webkit-linear-gradient(#f5f5f5, #dadada);
  background-image: -moz-linear-gradient(#f5f5f5, #dadada);
  background-image: -o-linear-gradient(#f5f5f5, #dadada);
  background-image: linear-gradient(#f5f5f5, #dadada);
  float: left;
  height: 20px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
}
.progressbar .progress-text,
.progressbar-error .progress-text,
.progressbar-info .progress-text,
.progressbar-notice .progress-text,
.progressbar-success .progress-text {
  color: #555555;
  font-size: 14px;
  font-weight: bold;
  left: 0;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 1px white;
  top: 0;
  width: 100%;
}

.progressbar-error .progress-value {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9dadc), color-stop(100%, #e14049));
  background-image: -webkit-linear-gradient(#f9dadc, #e14049);
  background-image: -moz-linear-gradient(#f9dadc, #e14049);
  background-image: -o-linear-gradient(#f9dadc, #e14049);
  background-image: linear-gradient(#f9dadc, #e14049);
}

.progressbar-info .progress-value {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5f2ff), color-stop(100%, #3399ff));
  background-image: -webkit-linear-gradient(#e5f2ff, #3399ff);
  background-image: -moz-linear-gradient(#e5f2ff, #3399ff);
  background-image: -o-linear-gradient(#e5f2ff, #3399ff);
  background-image: linear-gradient(#e5f2ff, #3399ff);
}

.progressbar-notice .progress-value {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe766), color-stop(100%, #ffd700));
  background-image: -webkit-linear-gradient(#ffe766, #ffd700);
  background-image: -moz-linear-gradient(#ffe766, #ffd700);
  background-image: -o-linear-gradient(#ffe766, #ffd700);
  background-image: linear-gradient(#ffe766, #ffd700);
}

.progressbar-success .progress-value {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dde6a8), color-stop(100%, #becf59));
  background-image: -webkit-linear-gradient(#dde6a8, #becf59);
  background-image: -moz-linear-gradient(#dde6a8, #becf59);
  background-image: -o-linear-gradient(#dde6a8, #becf59);
  background-image: linear-gradient(#dde6a8, #becf59);
}

/*-----  End of $UI  ------*/
