/*===========================
=            $UI            =
===========================*/
/*==========  $UI Alerts/Messages  ==========*/
.alert,
.error,
.guidelines,
.info, .ok,
.notice, .warning,
.status, .success {
  background: whitesmoke;
  background-position: 4px 1em;
  background-repeat: no-repeat;
  border: 1px solid #e5e5e5;
  color: #888888;
  margin-bottom: 15px;
  padding: 9px 9px 9px 24px;
  text-shadow: 1px 1px 0 white;
}
.alert a,
.error a,
.guidelines a,
.info a, .ok a,
.notice a, .warning a,
.status a, .success a {
  background: none;
  margin: 0;
  padding: 0;
}

.error {
  background-color: lavenderblush;
  background-image: url(../images/icons/cross.png);
  border-color: pink;
  color: #e14049;
}
.error a {
  color: #e14049;
}

.info, .status {
  background-color: #d9e8ff;
  background-image: url(../images/icons/information.png);
  border-color: #82d2df;
  color: steelblue;
}
.info a, .status a {
  color: steelblue;
}

.notice, .warning {
  background-color: lemonchiffon;
  background-image: url(../images/icons/error.png);
  border-color: gold;
  color: goldenrod;
}
.notice a, .warning a {
  color: goldenrod;
}

.success, .ok {
  background-color: #edf2c4;
  background-image: url(../images/icons/tick.png);
  border-color: #becf59;
  color: #7b9712;
}
.success a, .ok a {
  color: #7b9712;
}

.guidelines {
  background-color: ivory;
  border-color: #fff6cc;
  color: #555555;
  line-height: 130%;
  margin-top: 6px;
  padding: 9px 6px;
  text-shadow: 1px 1px 0 white;
}
.guidelines a {
  color: #555555;
}

/*==========  $UI Progressbars  ==========*/
.progressbar,
.progressbar-error,
.progressbar-info,
.progressbar-notice,
.progressbar-success {
  background: #fafafa;
  border: 1px solid #dadada;
  height: 21px;
  margin: 6px 0;
  overflow: hidden;
  position: relative;
  text-shadow: 1px 1px 0 white;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.progressbar .progress-value,
.progressbar-error .progress-value,
.progressbar-info .progress-value,
.progressbar-notice .progress-value,
.progressbar-success .progress-value {
  background: #dadada url(../images/gradient-bg.png) repeat-x left -12px;
  float: left;
  height: 20px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
}
.progressbar .progress-text,
.progressbar-error .progress-text,
.progressbar-info .progress-text,
.progressbar-notice .progress-text,
.progressbar-success .progress-text {
  color: #555555;
  font-size: 14px;
  font-weight: bold;
  left: 0;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 1px white;
  top: 0;
  width: 100%;
}

.progressbar-error .progress-value {
  background-color: #ef989d;
}

.progressbar-info .progress-value {
  background-color: #99ccff;
}

.progressbar-notice .progress-value {
  background-color: #ffe766;
}

.progressbar-success .progress-value {
  background-color: #dde6a8;
}

/*==========  $UI Close button  ==========*/
a.close, a.close:link, a.close:visited, a.close:hover a.close:active, a.close:focus {
  cursor: pointer;
  float: right;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  top: -3px;
}

/*-----  End of $UI  ------*/
