@import "compass/css3";

@import "_config/variables";
@import "_config/colors";
@import "_config/fonts";
@import "_config/mixins";

// *==========  $Grid Config  ==========*/
$colAmount:   24;
$colWidth:    20;
$gutterWidth: 20;
$gridType:    "both"; // Options are: fixed, fluid, both

// *==========  $Features enabling  ==========*/
// Legacy browser support
$fullCSS3: false; // REPLACE WITH legacySupport
$legacySupport: false; // For instance, this uses fallback techniques to cover some IE5 - IE8 styling

// Modules
$usePrint:              true;
$useNormalize:          true;
$useBase:               true;
	$useForms:          true;
	$useButtons:        true;
$useCore:               true;
$useNav:                true;
$useIcons:              true;
$useObjects:            true;
	$useAlerts:         true;
	$useDropdown:       true;
	$useFlyout:         true;
	$useMedia:          true;
	$useProgress:       true;
	$useNav:            true;
	$useStats:          true;
$useHelpers:            true;
	$useAccesibility:   true;
	$useBrowser:        true;
	$useButtonsHelpers: true;
	$useClearing:       true;
	$useDisplay:        true;
	$useFormsHelpers:   true;
	$useImgreplace:     true;
	$useMedia:          true;
	$useOther:          true;

/***************************************************************************
*  WARNING:
*  Seelva's CSS dropdowns and flyouts DO NOT WORK with touchscreen devices.
*  These modules use mouse-over and mouse-out events to display submenus.
*  Be aware that if you want to use dropdowns with touchscreen devices you
*  should use a Javascript-based alternative.
****************************************************************************/
$useDropdown: true;
$useFlyout:   true;

// *==========  $Custom Colors  ==========*/
// Brand Colors
$brand-main:    $LimeGreen;
$brand-error:   $Crimson;
$brand-info:    $SteelBlue;
$brand-notice:  $GoldenRod;
$brand-success: $LimeGreen;

// *==========  $Custom Fonts stacks  ==========*/
// Default stacks
$fstack-sans:     $fstack-helvetica;
$fstack-serif:    $fstack-cambria;
$fstack-mono:     $fstack-consolas;

// Custom stacks
$fstack-body:     $fstack-helvetica;
$fstack-headings: $fstack-segoe;
$fstack-code:     $fstack-consolas;
$fstack-forms:    $fstack-helvetica;
$fstack-buttons:  $fstack-helvetica;

// *==========  $Text properties  ==========*/
// Text color
$textColor:         $Black; // REPLACE WITH bodyColor
$bodyColor:         $Black;

$textSize:          0.875em;
$textLineHeight:    1.5em;

$h1-size:           294%;
$h2-size:           192%;
$h3-size:           171%;
$h4-size:           150%;
$h5-size:           128%;
$h6-size:           107%;
