@import "_config";

/*=============================
=            $Core            =
=============================*/

html { font-size: 100.01%; }

body {
	color: $Black;
	font: {
		family: $fstack-helvetica;
		size: 0.875em;
	}
	line-height: 1.5em;
}

/*==========  $Links  ==========*/
a {
	&, &:link 	{ color: $LimeGreen; text-decoration: underline; outline: 0; }
	&:visited 	{ color: $OliveDrab; text-decoration: none; }
	&:hover 	{ color: #3b7c03;    text-decoration: underline; }
	&:active 	{ color: $OliveDrab; text-decoration: underline; }
	&:focus 	{ background-color: #ecfddc; color: $LimeGreen; outline-color: $LimeGreen; text-decoration: underline; }
}

/*==========  $Headings  ==========*/
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font: {
		family: $fstack-segoe;
		weight: normal;
	}
	line-height: 120%;
	margin: 0 0 0.5em 0;

	.subtitle {
		color: $Gray;
		font-size: 80%;
	}

	&.styled {
		border-bottom: 1px solid $Gray;
		padding-bottom: $baseUnit2;
	}
}

h1 { font-size: 214%; }
h2 { font-size: 192%; }
h3 { font-size: 171%; }
h4 { font-size: 150%; }
h5 { font-size: 128%; }
h6 { font-size: 107%; }

/*==========  $Text  ==========*/
p, address {
	margin: 0 0 1em 0;
}
blockquote {
	border-left: 1px solid $LightGray;
	font: {
		size: 122%;
		style: italic;
	}
	line-height: 150%;
	margin: $baseUnit2 $baseUnit5 1em $baseUnit5;
	padding-left: $baseUnit2;
	quotes: none;

	&:before, &:after {
		content: none;
	}

	p:last-child {
		margin-bottom: 0;
	}

	span, .credit {
		font: {
			size: 78%;
			style: italic;
		}
		margin-bottom: 0;

		&:before {
			content: '\2013';
		}
	}

	&.styled {
		background: $WhiteSmoke;
		border: 0;
		color: $DimGray;
		padding: $baseUnit6 0;
		@include border-radius($baseUnit2);

		&:before {
			color: $Silver;
			content: '\201C';
			font: {
				size: 60px;
				style: normal;
				weight: bold;
			}
			line-height: 40px;
			padding-left: $baseUnit3;
		}

		p {
			margin: 0 $baseUnit6 1em #{$baseUnit6 * 2};

			&:first-child {
				margin-top: -40px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

cite, q {
	font-style: italic;
	quotes: '"' '"' "'" "'";

	&:after 	{ content: open-quote; }
	&:before 	{ content: close-quote; }
}

code, kbd, pre {
	font-family: $fstack-consolas;
	_font-family: $fstack-consolas;
}
code {
	background: $WhiteSmoke;
	border: 1px solid $Gainsboro;
	font-size: 85.7%;
	line-height: 192%;
	padding: #{$baseUnit1 - 1} #{$baseUnit1 + 1};
	white-space: pre;
}
kbd {
	background: $WhiteSmoke;
	color: $DimGray;
	font: {
		size: 85.7%;
		weight: bold;
	}
	line-height: 192%;
	padding: #{$baseUnit1 - 1} #{$baseUnit2};
	text-transform: capitalize;
	white-space: pre;

	@include box-shadow($Silver 0 2px 0, $DimGray 0 2px 2px);
	@include border-radius($baseUnit1);
}
pre {
	background: $Lavender;
	border: 1px solid $Thistle;
	display: block;
	font-size: 100%;
	margin: 0 0 $baseUnit3 0;
	padding: $baseUnit2;
	@include border-radius($baseUnit1);
}
pre code {
	background: transparent;
	border: 0;
}

b, strong 		{ font-weight: bold; }
i, em 			{ font-style: italic; }
s, del 			{ text-decoration: line-through; }
ins 			{ text-decoration: underline; }
acronym, abbr 	{
	border-bottom: 1px dotted $LimeGreen;
	letter-spacing: 2px;

	&[title] { cursor: help; }
}

sub, sup 		{ font-size: 80%; }
mark, .highlight 	{ background: $Gold; }
small, .small 	{ font-size: 80%; }

/*==========  $Lists  ==========*/
ul {
	margin: 0 0 $baseUnit5 $baseUnit8;
	padding: 0;
}

ol {
	margin: 0 0 $baseUnit5 $baseUnit8;
	padding: 0;

	li {
		margin: 0 0 0 $baseUnit3;
	}
}
ul, ol {
	ul, ol { margin-bottom: 0; }

	&.armenian 		{ list-style-type: armenian }
	&.circle 		{ list-style-type: circle }
	&.decimal 		{ list-style-type: decimal }
	&.decimalzero 	{ list-style-type: decimal-leading-zero }
	&.disc 			{ list-style-type: disc }
	&.georgian 		{ list-style-type: georgian }
	&.lalpha 		{ list-style-type: lower-alpha }
	&.lgreek 		{ list-style-type: lower-greek }
	&.llatin 		{ list-style-type: lower-latin }
	&.lroman 		{ list-style-type: lower-roman }
	&.square 		{ list-style-type: square }
	&.ualpha 		{ list-style-type: upper-alpha }
	&.ulatin 		{ list-style-type: upper-latin }
	&.uroman 		{ list-style-type: upper-roman }

	&.styled, &.unstyled { list-style-type: none; margin-left: $baseUnit3; }
	&.styled li {
		background: url(../images/bullet.png) no-repeat 0 6px;
		padding-left: 16px;
	}
}

/* Values not allowed in CSS2.1, re-allowed in CSS3 */
/*
ul.hebrew 		{list-style-type: hebrew}
ul.cideo 		{list-style-type: cjk-ideographic}
ul.hira 		{list-style-type: hiragana}
ul.kata 		{list-style-type: katakana}
ul.hira-iroha 	{list-style-type: hiragana-iroha}
ul.kata-iroha 	{list-style-type: katakana-iroha}
*/

dl {
	margin: 0 0 $baseUnit5 $baseUnit8;
	padding: 0;
}
dt {
	font-weight: bold;
	margin: 0;
	padding: 0;
}
dd {
	margin: 0 0 0 $baseUnit3;
	padding: 0;
}

/*==========  $Tables  ==========*/
table {
	border: {
		collapse: separate;
		right: 1px solid $WhiteSmoke;
		top: 1px solid $LightGray;
	}
	margin: 0 0 $baseUnit5 0;
	width: 100%;

	// Border top radius
	@include border-radius($baseUnit1 $baseUnit1 0 0);

	caption {
		font: {
			size: 85.7%;
			style: italic;
			weight: bold;
		}
		margin: 0;
		padding: 0 0 $baseUnit1 0;
	}
}
th {
	background: $WhiteSmoke url(../images/gradient-bg.png) repeat-x left -292px;
	border: {
		bottom: 1px solid $LightGray;
		left: 1px solid $LightGray;
	}
	font-weight: bold;
	padding: $baseUnit2;
	text-align: left;
}

table thead tr:first-child th:first-child {
	// Border topleft
	@include border-radius($baseUnit1 0 0 0);
}

table thead tr:last-child th:last-child {
	border-right: 1px solid $WhiteSmoke;

	// Border topright
	@include border-radius(0 $baseUnit1 0 0);
}

tr {
	&.odd, .zebra &:nth-child(odd) 	{ background: $White; }
	&.even, .zebra &:nth-child(even) { background: $GhostWhite; }
}
td {
	border: {
		bottom: 1px solid $WhiteSmoke;
		left: 1px solid $WhiteSmoke;
	}
	padding: $baseUnit2;
	vertical-align: top;
}
table.compact td, table.compact th { padding: #{$baseUnit1 - 1} $baseUnit2; }

/*==========  $Details/Summary  ==========*/
details {
	background: $GhostWhite;
	border: 1px solid $LightGray;

	@include border-radius($baseUnit1);

	summary {
		background: $WhiteSmoke url(../images/gradient-bg.png) repeat-x left top;
		border-bottom: 1px solid $LightGray;
		cursor: pointer;
		margin: 0;
		padding: 0 $baseUnit2;
		text-align: left;

		@include border-radius($baseUnit1 $baseUnit1 0 0);

		&:focus {
		border-color: #8ea81f;
		outline-color: #8ea81f;
		}
	}

	> div {
		padding: $baseUnit2;
	}

	&[open] summary {
		border-color: $Silver;
	}

}

/*==========  $Rulers and line breaks  ==========*/
hr {
	clear: both;
	color: $Gray;
	height: 0;
}

br { clear: both; }

/*-----  End of $Core  ------*/