@import "_config";

/*=================================
=            $Dropdown            =
=================================*/

/***************************************************************************
*  WARNING:
*  Seelva's CSS dropdowns DO NOT WORK with touchscreen devices. Seelva's CSS
*  dropdowns use mouse over and mouse out events to display submenus. Be
*  aware that if you want to use dropdowns with touchscreen devices you
*  should use a Javascript-based alternative.
****************************************************************************/

/* Reset the style from other nav components (horz-menu) */
.dropdown li {
	display: block;
	float: none;
}

.dropdown {
	> a:after,
	> a:link:after {
		border: 4px solid $Gray;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		content: "";
		display: inline-block;
		line-height: 100%;
		margin-left: 4px;
		text-align: right;
		vertical-align: middle;
	}

	> ul {
		list-style:none;
		margin:0;
		max-width: 180px;
		min-width: 150px;
		padding:0;
		position: absolute;
		visibility: hidden;
		z-index:100;
		zoom:1;

		> li {
			border-left: 1px solid $WhiteSmoke;
			display: block;
			float:none;

			> a, > a:link, > a:visited {
				background: $LightGray;
				color:$Black;
				display:block;
				padding: $baseUnit2 $baseUnit3;
				text-decoration:none;
			}
			> a:hover, &.active > a, &.active > a:link {
				background: $Gray;
				color: $White;
			}
		}
	}

	.dropdown > ul {
		left:100%;
		position:absolute;
		top:$baseUnit2;
		visibility:hidden;
		width: 100%;
	}

	&:hover > a:after, &:hover > a:link:after, &.active > a:after, &.active > a:link:after {
		border-top-color: #fff;
	}
	&:hover > ul, ul a:hover ul, &:hover .drop-content {
		visibility:visible;
	}

	ul :hover ul :hover ul {
		visibility:visible;
	}

	&.active, .active {
		ul li a, ul li a:link {
			background:$LightGray;
			color:$Black;
		}
		ul li a:hover {
			background:$Gray;
			color:$White;
		}
	}

	.drop-content {
		background:$Silver;
		width: 230px;
		padding:$baseUnit3;
		position: absolute;
		visibility:hidden;
		z-index: 100;

		@include border-radius(0 0 $baseUnit2 $baseUnit2);
	}
}

/*-----  End of $Dropdown  ------*/