@import "_config";

/*=================================
=            $Dropdown            =
=================================*/

/***************************************************************************
*  WARNING:
*  Seelva's CSS dropdowns DO NOT WORK with touchscreen devices. Seelva's CSS
*  dropdowns use mouse over and mouse out events to display submenus. Be
*  aware that if you want to use dropdowns with touchscreen devices you
*  should use a Javascript-based alternative.
****************************************************************************/

.dropdown {
	> a:after, > a:link:after {
		/* Arrow for dropdown links */
		border: 4px solid transparent;
		border-top-color: $Gray;
		content: " ";
		display: inline-block;
		line-height: 100%;
		margin-left: 4px;
		text-align: right;
		vertical-align: middle;
	}

	.drop-content, > ul {
		/* Common styles for submenus */
		display: none;
		position: absolute;
		z-index: 100;
	}

	.drop-content {
		background: $Silver;
		padding: $baseUnit3;
		width: 230px;

		@include border-radius(0 0 $baseUnit2 $baseUnit2);
	}

	> ul {
		list-style: none;
		margin: 0;
		max-width: 180px;
		min-width: 150px;
		padding: 0;
		zoom: 1;

		> li {
			border-left: 1px solid $WhiteSmoke;
			display: block;
			float: none;

			> a, > a:link, > a:visited {
				background: $LightGray;
				color: $Black;
				display: block;
				padding: $baseUnit2 $baseUnit3;
				text-decoration: none;
			}
			> a:hover, &.active > a, &.active > a:link {
				background: $Gray;
				color: $White;
			}
		}
	}

	.dropdown {
		> a:after, > a:link:after {
			/* Arrow for 2nd+ level dropdown links */
			border: {
				left-color: $Gray;
				top-color: transparent;
			}
		}

		&:hover > a:after, &:hover > a:link:after, &.active > a:after, &.active > a:link:after {
			border: {
				left-color: #fff;
				top-color: transparent;
			}
		}

		> ul {
			/* 3rd+ Level submenu style */
			display: none;
			left: 100%;
			position: absolute;
			top: $baseUnit2;
			width: 100%;
		}
	}

	&:hover, &.active {
		> a:after, > a:link:after {
			border-top-color: #fff;
		}
	}

	&:hover > ul, ul a:hover ul, &:hover .drop-content {
		display: block;
	}

	ul :hover ul :hover ul { display: block; }

	&.active, .active {
		ul li a, ul li a:link {
			background: $LightGray;
			color: $Black;
		}
		ul li a:hover {
			background: $Gray;
			color: $White;
		}
	}
}

/*-----  End of $Dropdown  ------*/