@import "_config";

/*==============================
=            $Forms            =
==============================*/

/*==========  $Form elements  ==========*/
form {
	p {
		clear: both;
		margin-bottom: $baseUnit3;
	}

	div {
		clear: both;
		margin-bottom: $baseUnit3;

		p {
			margin: $baseUnit2 0;
		}
	}
}

fieldset {
	border: 0;
	margin: 0 0 $baseUnit5 0;
	padding: 0;

	legend {
		border-bottom: 1px solid $WhiteSmoke;
		color:$DimGray;
		font: {
			size: 128%;
			weight: normal;
		}
		margin: 0 0 $baseUnit2 0;
		padding: 0 0 $baseUnit2 0;
		width:100%;
	}
}

label, span.label {
	display: inline-block;
	line-height: 130%;
	padding: #{$baseUnit1 + 1} 0;
}

label em, span.label em, label .required {
	color: $Crimson;
}

input[type="checkbox"],
input[type="radio"] {
	cursor: pointer;
	margin:0;

	&:focus {
		outline-color:#8ea81f;
	}
}

input[type=""],
input[type="file"],
input[type="password"],
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
	background: $White url(../images/txt-bg.png) repeat-x left top;
	border: 1px solid $Silver {
		left-width: 2px;
		top-width: 2px;
	}
	font: {
		family: $fstack-verdana;
		size: 100%;
	}
	margin: 0;
	padding: $baseUnit1;
	width: 100%;

	@include border-radius($baseUnit1);
	@include box-sizing(border-box);


	&:focus {
		background-color: #fdfdfd;
		border-color: #8ea81f;
		outline-color:#8ea81f;
	}

	&[readonly] {
		background-color: $GhostWhite;
	}

	&[disabled] {
		background-color: $LightGray;
		color: $Gray;
	}
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="range"] {}

input.image,
input[type="image"] {
	border: 0;
	height: auto;
	width: auto;
}

textarea {
	height: 8em;
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

select {
	cursor: pointer;
	padding: $baseUnit1;
}

.control-set {
	clear: both;
	float: none;
	margin: 0;

	span.label {
		line-height: normal;
	}

	label {
		display: inline;
		padding: 0;
		width: auto;
	}
}

/*==========  $Buttons  ==========*/
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
button[type],
a.button {
	background: $LightGray url(../images/gradient-bg.png) repeat-x left top;
	border: 1px solid $Silver;
	border-bottom-color: $DarkGray;
	color: $Gray;
	cursor: pointer;
	display: inline-block;
	font: {
		family: $fstack-verdana;
		size: 100%;
		weight: bold;
	}
	line-height: 100%;
	margin: 0 $baseUnit2 0 0;
	padding: #{$baseUnit2 - 1} $baseUnit3;/*! For links */
	text-decoration: none;
	text-shadow: 0 1px 0 $White;
	white-space: nowrap;
	word-wrap: normal;

	@include border-radius($baseUnit1);
	@include single-box-shadow($WhiteSmoke, 0, 1px, 0, 0);

	/* IE7 padding bugfix */
	overflow: visible;
	width: auto;

	/*! Standard button */
	&:hover, &:focus {
		background-position: 0 -292px;
		color: $DimGray;
		outline-color:#8ea81f;
	}

	&:active {
		background-position: 0 bottom;
		border-color: $Gray $DarkGray $Silver;
		color: $Gray;

		@include box-shadow(inset 0 1px $baseUnit2 $DarkGray, 0 1px 0 $WhiteSmoke);
	}

	/*! Neutral button */
	&.neutral {
		color: $SteelBlue;

		&:hover, &:focus {
			background-color: $LightCyan;
			border-color: $DarkTurquoise;
		}

		&:active {
			@include box-shadow(inset 0 1px $baseUnit2 darken($LightCyan, 40), 0 1px 0 $WhiteSmoke);
		}
	}

	/*! Positive button */
	&.positive {
		color: $OliveDrab;

		&:hover, &:focus {
			background-color: $PaleGreen;
			border-color: $YellowGreen;
		}

		&:active {
			@include box-shadow(inset 0 1px $baseUnit2 darken($PaleGreen, 50), 0 1px 0 $WhiteSmoke);
		}
	}

	/* Negative button */
	&.negative {
		color: $Crimson;

		&:hover, &:focus {
			background-color: $LavenderBlush;
			border-color: $Pink;
		}

		&:active {
			@include box-shadow(inset 0 1px $baseUnit2 darken($LavenderBlush, 60), 0 1px 0 $WhiteSmoke);
		}
	}

	/* Disabled button */
	&[disabled], &[disabled]:hover, &[disabled]:active {
		background: $LightGray;
		border: 1px solid $Silver;
		color: $Gray;
		cursor:default;
		text-shadow:1px 1px 0 $WhiteSmoke;
		@include single-box-shadow(none);
	}
}


button img,
a.button img{
	border: 0;
	margin:0;
	padding: 0;
}

/*==========  Wrappers, Width, Columns  ==========*/
.btn-row {
	float: none;
	margin-bottom: $baseUnit5;
	overflow: auto;
	width: auto;
}

/*==========  $Form helper classes  ==========*/
form {
	.field-prefix, .field-suffix {
		.label {
			background: $GhostWhite;
			border: 1px solid $Silver;
			color:$DimGray;
			float:left;
			margin: 0;
			padding: $baseUnit1 $baseUnit3;
			text-shadow:1px 1px 0 $White;
		}

		input,
		select {
			clear:none;
			float:left;
			position: relative;
			width:auto;
		}
	}

	.field-prefix {
		.label {
			@include border-radius($baseUnit1 0 0 $baseUnit1);
		}

		input,
		select {
			border: 1px solid $Silver {
				top-width: 2px;
			};
			@include border-radius(0);
			@include border-radius(0 $baseUnit1 $baseUnit1 0);
		}
	}

	.field-suffix {
		.label {
			@include border-radius(0 $baseUnit1 $baseUnit1 0);
		}

		input,
		select {
			border: 1px solid $Silver {
				top-width: 2px;
			};
			@include border-radius(0);
			@include border-radius($baseUnit1 0 0 $baseUnit1);
		}
	}

	.field-prefix.field-suffix {
		overflow:hidden;

		input,
		select {
			border: 1px solid $Silver {
				top-width: 2px;
			}
			float: left;

			@include border-radius(0);
		}

		.label:first-child {
			float:left;
			width:auto;

			@include border-radius(0);
			@include border-radius($baseUnit1 0 0 $baseUnit1);
		}
		.label:last-child,
		input:last-child, select:last-child {
			width:auto;

			@include border-radius(0);
			@include border-radius(0 $baseUnit1 $baseUnit1 0);
		}
	}

	.inline-field {
		&:before, &:after { content:""; display:table; clear: both; } & { zoom:1; }

		label, span.label {
			clear: none;
			display: inline;
			float: left;
			width: 35%;
		}

		& > input[type="file"],
		& > input[type="password"],
		& > input[type="text"],
		& > select,
		& > textarea,
		& > div.control-set {
			clear: none;
			float: right;
			width: 60%;
		}

		.field-prefix,
		.field-suffix {
			clear: none;
			float: right;
			width: 60%;

			input {
				width:auto;
			}
		}

		input[type="checkbox"],
		input[type="radio"] {
		}

		.control-set label, .control-set span.label {
			float:none;
			width:auto;
		}
	}

	.last-field { clear: right; float: right; margin-right: 0; }

	.error-field {
		label {
			color: $Crimson;
		}

		input[type="file"],
		input[type="password"],
		input[type="text"],
		select,
		textarea {
			background: $Snow;
			border-color:$Pink;
		}
	}

	.success-field {
		label {
			color: $LimeGreen;
		}

		input[type="file"],
		input[type="password"],
		input[type="text"],
		select,
		textarea {
			background: $Beige;
			border-color:$YellowGreen;
		}
	}
}

/*==========  $Search Form  ==========*/

.search-form {
	> div, > p {
		float: left;
		clear: none;
	}

	input, label { float: left; width: auto; margin-right: $baseUnit1; }
}

/*-----  End of $Forms  ------*/