@import "_config";

/*===================================
=            $Navigation            =
===================================*/

/* nav abstraction object
Source: http://csswizardry.com/2011/09/the-nav-abstraction/
*/

@mixin nav 		{ list-style: none; }
@mixin nav-li 	{ display: block; float: left; }
@mixin nav-li-a { display: block; text-decoration: none; }

.nav {
	@include nav;

	> li {
		@include nav-li;

		> a { @include nav-li-a; }
	}
}

/*==========  $Nav global setup  ==========*/
.tabs, .vertical-tabs, .horizontal-menu, .vertical-menu, .horizontal-list, .breadcrumb, .pagination, .pagination ul, .pager, .pager ul {
	@include nav;
	margin: 0 0 $baseUnit3 0;
	overflow: hidden;

	> li {
		@include nav-li;

		> a { @include nav-li-a; }
	}
}

/*==========  $Tabs setup  ==========*/
.tabs,
.vertical-tabs {
	overflow: visible;
	zoom: 1;

	&:before, &:after {
		content: '\0020';
		display: block;
		height: 0;
		overflow: hidden;
		visibility: hidden;
		width: 0;
	}
	&:after { clear: both; }

	> li {
		position: relative;

		> a, > a:link, > a:visited {
			background: $WhiteSmoke url(../images/gradient-bg.png) repeat-x left top;
			border: 1px solid $LightGray;
			color: $Black;
			padding: $baseUnit2 $baseUnit3;
		}
	}
}

/*==========  $Tabs  ==========*/
.tabs {
	border-bottom: 1px solid $Silver;

	> li {
		margin-right: $baseUnit1;
		top: 1px;

		> a, > a:link, > a:visited {
			border-bottom-width: 0;

			@include border-radius($baseUnit1 $baseUnit1 0 0);
		}

		> a:hover, &.active > a, &.active > a:link {
			background-color: $White;
			border: 1px solid $LightGray;
			border-bottom-color: transparent;
		}
	}
}

/*==========  $Vertical tabs  ==========*/
.vertical-tabs {
	border-right: 1px solid $Silver;
	float: left;
	margin-right: $baseUnit3;
	width: 120px;

	> li {
		float: none;
		left: 1px;
		margin-bottom: $baseUnit1;
		padding-left: 1px;

		> a, > a:link, > a:visited {
			@include border-radius($baseUnit1 0 0 $baseUnit1);
		}

		> a:hover, &.active > a, &.active > a:link {
			background-color: $White;
			border: 1px solid $LightGray;
			border-right-color: transparent;
		}
	}
}

/*==========  $Tabs content  ==========*/
.tabs-content {
	background: $White;
	display: block;
	margin: 0;
	zoom:1;

	&:before, &:after { content:""; display: table; }
	&:after { clear: both; }
	> li, > div { display: none; height: 1%; overflow: auto; }
	> li.active, > div.active { display: block; }
}

/*==========  $Horizontal-menu  ==========*/
.horizontal-menu {
	> li {
		border-left: 1px solid $LightGray;
		display: inline-block;
		float: left;

		> a, > a:link, > a:visited {
			background: $Silver url(../images/gradient-bg.png) repeat-x left top;
			color: $Black;
			padding: $baseUnit2 $baseUnit3;
		}

		> a:hover, &.active > a, &.active > a:link {
			background-color: $Gray;
			background-position: left -15px;
			color: $White;
		}
	}
}

/*==========  $Vertical-menu  ==========*/
.vertical-menu {
	> li {
		border-bottom: 1px solid $LightGray;
		float: none;

		> a, > a:link, > a:visited {
			background: $Silver url(../images/gradient-bg.png) repeat-x left top;
			color: $Black;
			padding: $baseUnit2 $baseUnit3;
		}
		> a:hover, &.active > a, &.active > a:link {
			background-color: $Gray;
			background-position: left -15px;
			color: $White;
		}
	}
}

/*==========  $Horizontal-list  ==========*/
.horizontal-list {
	> li {
		border-left: 1px solid $LightGray;
		display: inline-block;
		float: none;

		&:first-child { border-left: 0; }
		> a, > a:link, > a:visited { padding: 0 $baseUnit3; }
		> a:hover, &.active > a, &.active > a:link {}
	}
}

/*==========  $Breadcrumbs  ==========*/
.breadcrumb {
	background: $WhiteSmoke url(../images/gradient-bg.png) repeat-x left top;
	border: 1px solid $Silver;
	@include border-radius($baseUnit1);

	span { display: block; }
	> a { display: inline-block;}
	a, a:link, a:visited, span { padding: $baseUnit2 0 $baseUnit2 $baseUnit3; }
	a:after, a:link:after { content: " \00BB"; /* Adds an arrow character to every breadcrumb item*/ }
	a:hover, .active a, .active a:link { color: $Black; }
	.active a:after, .active a:link:after { content: ""; }
}

/*==========  $Pagination  ==========*/
.pagination,
.pager {
	clear: both;

	ul { clear: both; margin:0; }

	span, li span, a, a:link, a:visited {
		background: $WhiteSmoke url(../images/gradient-bg.png) repeat-x left top;
		border: 1px solid $Silver;
		color: $DimGray;
		display: block;
		display: inline-block;
		margin: 0;
		padding: $baseUnit1 $baseUnit3;
		text-decoration: none;
		text-shadow:1px 1px 0 $White;
	}
	.current, .current span, li.active a, li.active a:link, a:hover {
		background-color: $Silver;
		color: $Black;
		text-decoration: none;
	}
}

/* Full Pagination */
.pagination {
	li, ul li { float: left; }
	span, li span, a, a:link, a:visited { float: left; }
	.disabled, .disabled span, .disabled a, .disabled a:link {
		background-color: $WhiteSmoke;
		color: $Silver;
		text-decoration: none;
	}

	li a, li a:link, li a:visited { border-left-width: 0; }
	li:first-child a, li:first-child a:link, li:first-child a:visited { border-left-width: 1px; }
	span { background: transparent; border-color: transparent; }
}

/* Pager */
.pager {
	a, a:link, a:visited { @include border-radius($baseUnit1); }

	li:first-child, .prev, .prev a, .prev a:link { float: left; }

	li:last-child, .next, .next a, .prev a:link { float: right; }
}

/*-----  End of $Navigation  ------*/