/*==========  $Icons fix  ==========*/
@import "compass/css3/font-face";
$fontAwesomePath: "../fonts/fontawesome-webfont" !default;

// Font face hack avoiding path issues in windows
@font-face {
	font: {
		family: "FontAwesome";
		style: normal;
		weight: normal;
	}
	src: url('#{$fontAwesomePath}.eot');
	src: url('#{$fontAwesomePath}.eot?#iefix') format('eot'),
		url('#{$fontAwesomePath}.woff') format('woff'),
		url('#{$fontAwesomePath}.ttf') format('truetype'),
		url('#{$fontAwesomePath}.svg#FontAwesomeRegular') format('svg');
}

/* sprites.less reset */
[class^="icon-"],
[class*=" icon-"] {
	background: {
		image: none;
		position: 0;
		repeat: repeat;
	}
	display: inline;
	height: auto;
	line-height: 100%;
	vertical-align: baseline;
	width: auto;
}
li[class^="icon-"],
li[class*=" icon-"] {
	display: block;
}

/* Fixed-size icons */
@each $size in 8, 12, 16, 20, 24, 32, 48, 64 {
	.icon-#{$size} {
		font-size: #{$size}px;
		line-height: #{$size}px;
	}
}