/*==========  $Forms Buttons  ==========*/
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
button[type],
a.btn,
a.button {
	background: $LightGray url(../images/gradient-bg.png) repeat-x left top;
	border: 1px solid $Silver {
		bottom-color: $DarkGray;
	}
	color: $Gray;
	cursor: pointer;
	display: inline-block;
	font: {
		family: $fstack-verdana;
		size: 100%;
		weight: bold;
	}
	line-height: 100%;
	margin: 0 $baseUnit2 0 0;
	padding: #{$baseUnit2 - 1} $baseUnit3;/*! For links */
	text-decoration: none;
	text-shadow: 0 1px 0 $White;
	white-space: nowrap;
	word-wrap: normal;

	@include border-radius($baseUnit1);
	@include single-box-shadow($WhiteSmoke, 0, 1px, 0, 0);

	/* IE7 padding bugfix */
	overflow: visible;
	width: auto;

	/*! Standard button */
	&:hover, &:focus {
		background-position: 0 -292px;
		color: $DimGray;
		outline-color: $OliveDrab;
	}

	&:active {
		background-position: 0 bottom;
		border-color: $Gray $DarkGray $Silver;
		color: $Gray;

		@include box-shadow(inset 0 1px $baseUnit2 $DarkGray, 0 1px 0 $WhiteSmoke);
	}

	/* Disabled button */
	&[disabled], &[disabled]:hover, &[disabled]:active {
		background: $LightGray;
		border: 1px solid $Silver;
		color: $Gray;
		cursor: default;
		text-shadow: 1px 1px 0 $WhiteSmoke;
		@include single-box-shadow(none);
	}
}

/* Fixing a NASTY bug in Firefox where input's line-height does not work */
@-moz-document url-prefix() {
	input[type="button"],
	input[type="submit"],
	input[type="reset"] {
		height: 1.9em;
	}
}

button img,
a.btn img,
a.button img {
	border: 0;
	margin: 0;
	padding: 0;
}