/*==========  $Media Images  ==========*/
img {
	/* Make images responsive by default */
	max-width: 100%;
	height: auto;

	&[width], &[height] { display: inline-block; }
	&, a & {
		border: 0;
		vertical-align: bottom;
	}
}