@mixin btn-status($bg, $border, $color, $darkenPercent) {
	color: $color;

	&:focus, &:hover {
		@if $legacySupport == true { background-color: $bg; }
		@include default-gradient( lighten( $bg, 5%), darken( $bg, 5% ) );
		border-color: $border;
		color: darken( $color, 10% );
	}

	&:active { @include box-shadow(inset 0 1px #{$baseUnit1 * 2} darken($bg, $darkenPercent), 0 1px 0 $c-whitesmoke); }
}

@mixin btn-size($padding, $line-height) {
	line-height: $line-height;
	padding: {
		left: $padding;
		right: $padding;
	}
}

@if $useHelpers == true and $useButtonsHelpers == true {
	/*==========  $Buttons helpers  ==========*/
	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	button[type],
	.btn,
	.button {
		&.btn-info    { @include btn-status( $c-lightcyan,     $c-darkturquoise, $c-steelblue, 40); }
		&.btn-success { @include btn-status( $c-palegreen,     $c-yellowgreen,   $c-olivedrab, 50); }
		&.btn-error   { @include btn-status( $c-lavenderblush, $c-pink,          $c-crimson,   60); }
		&.btn-notice  { @include btn-status( $c-lemonchiffon,  $c-gold,          $c-goldenrod, 60); }

		// *==========  $btn modifiers  ==========*/
		// Source: http://csswizardry.com/beautons/
		// $sizes
		&.btn-small  { @include btn-size( 0.5em, 0.75 ); }
		&.btn-medium { @include btn-size( 1.5em, 1.5 ); }
		&.btn-large  { @include btn-size( 2em,   2 ); }
		&.btn-huge   { @include btn-size( 2.5em, 4 ); }

		// $font-sizes
		&.btn-alpha { font-size: 0.75em; }
		&.btn-beta  { font-size: 1.28em; }
		&.btn-gamma { font-size: 1.50em; }

		// Buttons with the appearance of a link
		&.btn-unstyled {
			&, &:hover, &:focus, &:active {
				@include box-shadow(0 0 0 transparent);
				background: transparent;
				border-color: transparent;
				font-weight: normal;
				text-decoration: underline;
			}
		}

		// These buttons will fill the entirety of their container.
		&.btn-full {
			padding: {
				right: 0;
				left: 0;
			}
			text-align: center;
			width: 100%;
		}

		// Make the button inherit sizing from its parent.
		&.btn-natural {
			font-size :inherit;
			line-height: inherit;
			padding: {
				left: 0.5em;
				right: 0.5em;
			}
		}
	}

	/*==========  Buttons group  ==========*/
	.btn-group {
		display: inline-block;
		vertical-align: middle;

		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		button,
		.btn, .btn:link,
		.button, .button:link {
			@include border-radius(0);
			float: getTextDir(default);
			margin: 0;
			border-right-width: 0;

			&:first-child { @include border-radius($radius1 0 0 $radius1); }

			&:last-child  { @include border-radius(0 $radius1 $radius1 0); border-right-width: 1px; }
		}
	}

	/*==========  Close button  ==========*/
	.btn-close {
		&, &:link, &:visited, &:hover, &:active, &:focus {
			cursor: pointer;
			float: getTextDir();
			font-weight: bold;
			position: relative;
			text-decoration: none;
			top: -#{$baseUnit1};
		}
	}
}
