@if $useHelpers == true and $useDisplay == true {
	/*==========  $Utils Display  ==========*/
	/* Screen readers can see it */
	.invisible { @include invisible; }

	 /* Screen readers can not see it */
	.hidden { display: none; }

	/* Per device visibility classes */
	@each $device, $deviceAttrs in $devices-list {
		$deviceAbbr: get-device-attr($device, abbr);
		$className: null;

		@if $deviceAbbr == null {
			$className: $device;
		}
		@else {
			$className: $deviceAbbr;
		}

		.visible-#{$className},
		.hidden-#{$className} {
			display: none;
		}
	}

	@each $device, $deviceAttrs in $devices-list {
		$deviceAbbr: get-device-attr($device, abbr);
		$className: null;

		@if $deviceAbbr == null {
			$className: $device;
		}
		@else {
			$className: $deviceAbbr;
		}

		.visible-#{$className} {
			@each $deviceAlt, $deviceAltAttrs in $devices-list {
				@if $deviceAlt == $device {
					@include mq($device) {
						display: block!important;
					}
				}
				@else {
					@include mq($deviceAlt) {
						display: none!important;
					}
				}
			}
		}
	}
}
