@mixin field-status($bg, $border, $color) {
	label { color: $color; }

	%field-status {
		background: $bg;
		border-color:$border;
		color: $color;
	}

	// Select all form elements except buttons
	@include form-text()    { @extend %field-status; }
	@include form-options() { @extend %field-status; }
}

@if $useHelpers == true and $useFormsHelpers == true {
	/*==========  $Forms Helpers  ==========*/
	/*==========  Wrappers  ==========*/
	.form-field { margin-bottom: #{$baseUnit1 * 3}; }

	.form-actions {
		@include cf;
		float: none;
		margin-bottom: #{$baseUnit1 * 5};
		width: auto;
	}

	.control-group {
		clear: both;
		float: none;
		margin: 0;

		span.label { line-height: normal; }

		label {
			display: inline;
			padding: 0;
			width: auto;
		}
	}

	fieldset.unstyled {
		border: 0;
		padding: 0;
	}

	/*==========  Form Fields  ==========*/
	.field-error   { @include field-status( $c-snow,         $c-pink,          $c-crimson ); }
	.field-info    { @include field-status( $c-lightcyan,    $c-darkturquoise, $c-steelblue ); }
	.field-notice  { @include field-status( $c-lemonchiffon, $c-gold,          $c-goldenrod ); }
	.field-success { @include field-status( $c-beige,        $c-yellowgreen,   $c-limegreen ); }

	.field-prefix,
	.field-suffix {
		overflow: hidden; /* Clearfix */

		.label {
			background: $c-ghostwhite;
			border: 1px solid $c-silver;
			border-right-width: 0;
			color: $c-dimgray;
			float: getTextDir(default);
			margin: 0;
			line-height: 1;
			padding: #{$baseUnit1 * 3};

			&:last-child {
				@include border-radius(0 $radius1 $radius1 0);
				border-left-width: 0;
				border-right-width: 1px;
			}
		}

		input,
		select,
		button {
			@include border-radius(0);
			clear: none;
			float: getTextDir(default);
			margin: 0;
			position: relative;
			width: auto;

			&:first-child { @include border-radius($radius1 0 0 $radius1); }
		}
	}

	.field-prefix {
		.label { @include border-radius($radius1 0 0 $radius1); }

		input,
		select,
		button {
			@include border-radius(0 $radius1 $radius1 0);
		}
	}

	.field-suffix {
		.label {
			@include border-radius(0 $radius1 $radius1 0);
			border-right-width: 1px;
		}

		input,
		select,
		button {
			@include border-radius($radius1 0 0 $radius1);
		}
	}

	.field-prefix.field-suffix {
		.label {
			@include border-radius($radius1 0 0 $radius1);
			border-right-width: 0;

			&:last-child {
				@include border-radius(0 $radius1 $radius1 0);
				border-right-width: 1px;
			}
		}

		input,
		select,
		button {
			@include border-radius(0);

			&:last-child { @include border-radius(0 $radius1 $radius1 0); }
		}
	}

	.field-horizontal {
		@include cf;

		label, span.label {
			display: inline;
			float: getTextDir(default);
			width: 35%;
		}

		& > input:not([type="radio"]):not([type="checkbox"]), // target all but radios and checks
		& > select,
		& > textarea,
		& > .control-group {
			clear: none;
			float: getTextDir(opposite);
			width: 60%;
		}

		.field-prefix,
		.field-suffix {
			clear: none;
			float: getTextDir(opposite);
			width: 60%;

			input { width: auto; }
		}

		.control-group label, .control-group span.label {
			float: none;
			width: auto;
		}
	}

	/*==========  Form types  ==========*/
	.form-horizontal {
		div { @extend .field-horizontal; }
	}

	.form-inline {
		line-height: 250%; /* This produces vertical spacing between inputs */

		label { display: inline-block; }

		input, select {
			@include box-shadow(none);
			border: 0;
			border-bottom: 1px solid $c-silver;
			display: inline-block;
			width: auto;
			text-align: center;
		}
	}

	.form-search {
		> div, > p {
			clear: none;
			float: getTextDir(default);
		}

		label {
			float: getTextDir(default);
			margin-right: $baseUnit1;
			width: auto;
		}

		input {
			float: getTextDir(default);
			width: auto;
		}
	}
}
