@if $useHelpers == true and $useMediaHelpers == true {
	/*==========  $Media Helpers  ==========*/
	img {
		&.styled {
			@include border-radius($radius2);
			background: $c-ghostwhite image-url('loading.gif') no-repeat center;
			border: 1px solid $c-whitesmoke;
			padding: #{$baseUnit1 * 2};
		}

		&.light-styled, a &.light-styled {
			@include border-radius($radius2);
			@include single-box-shadow($c-darkgray, 0, 0, #{$baseUnit1 * 2}, 0, true);
			border-width: 0;
			padding: 0;
		}

		&.unstyled, button &, a.button & {
			background: transparent;
			border-width: 0;
			padding: 0;
		}
	}

	/*==========  Captioned image  ==========*/
	.image-caption, .caption, figure.styled {
		@include border-radius($radius2);
		background: $c-ghostwhite;
		border: 1px solid $c-whitesmoke;
		display: inline-block;
		margin-bottom: #{$baseUnit1 * 3};
		padding: #{$baseUnit1 * 2};
		text-align: center;

		img {
			background: transparent;
			border-width: 0;
			margin: 0;
			padding: 0;
		}

		.caption-text {
			font-style: italic;
			margin-bottom: 0;
			text-align: center;
		}
	}

	/*==========  $floated Images  ==========*/
	img,
	.image-caption,
	.caption,
	figure.styled {
		&.alignleft, &.floatleft   { float: left; margin-right: #{$baseUnit1 * 3}; }
		&.alignright, &.floatright { float: right; margin-left: #{$baseUnit1 * 3}; }
	}

	/*==========  Gallery  ==========*/
	.gallery {
		overflow: hidden;

		> div,
		> li {
			@include border-radius($radius2);
			background: $c-ghostwhite;
			border: 1px solid $c-whitesmoke;
			float: get-text-dir(default);
			margin: 0 10px 20px;
			padding: #{$baseUnit1 * 2};
			text-align: center;

			a, a:link { display: inline-block; }
		}

		&.styled {
			> div, > li { @include border-radius($radius2); }
		}

		&.light-styled {
			> div, > li {
				background: transparent;
				border: 0;
				padding: 0;

				img { @include border-radius($radius2); }
			}
		}
	}

	/*==========  Responsive video  ==========*/
	.responsive-video {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

	}

	video.responsive-video {
		width: 100%    !important;
		height: auto   !important;
		position: static;
		padding: 0;
	}
}
