@if $useHelpers == true and $useMediaHelpers == true {
	/*==========  $Media Helpers  ==========*/
	img {
		&.styled {
			@include border-radius($radius2);
			background: $c-ghostwhite url(../images/loading.gif) no-repeat center;
			border: 1px solid $c-whitesmoke;
			padding: #{$baseUnit1 * 2};
		}

		&.light-styled, a &.light-styled {
			@include border-radius($radius2);
			@include single-box-shadow($c-darkgray, 0, 0, #{$baseUnit1 * 2}, 0, true);
			border-width: 0;
			padding: 0;
		}

		&.unstyled, button &, a.button & {
			background: transparent;
			border-width: 0;
			padding: 0;
		}
	}

	/*==========  Captioned image  ==========*/
	.image-caption, .caption, figure.styled {
		@include border-radius($radius2);
		background: $c-ghostwhite;
		border: 1px solid $c-whitesmoke;
		display: inline-block;
		margin-bottom: #{$baseUnit1 * 3};
		padding: #{$baseUnit1 * 2};
		text-align: center;

		img {
			background: transparent;
			border-width: 0;
			margin: 0;
			padding: 0;
		}

		.caption-text {
			font-style: italic;
			margin-bottom: 0;
			text-align: center;
		}
	}

	/*==========  $floated Images  ==========*/
	img, .image-caption, .caption, figure.styled {
		&.alignleft, &.floatleft   { float: left; margin-right: #{$baseUnit1 * 3}; }
		&.alignright, &.floatright { float: right; margin-left: #{$baseUnit1 * 3}; }
	}

	/*==========  Gallery  ==========*/
	.gallery {
		overflow: hidden;

		> div, > li {
			@include border-radius($radius2);
			background: $c-ghostwhite;
			border: 1px solid $c-whitesmoke;
			float: left;
			margin: 0 10px 20px;
			padding: #{$baseUnit1 * 2};
			text-align: center;

			a, a:link { display: inline-block; }
		}

		&.styled {
			> div, > li { @include border-radius($radius2); }
		}

		&.light-styled {
			> div, > li {
				background: transparent;
				border: 0;
				padding: 0;

				img { @include border-radius($radius2); }
			}
		}
	}
}
