// ###### Colors
// Black to white
$c-black:         #000000;
$c-dimgray:       #555555;
$c-gray:          #888888;
$c-darkgray:      #A9A9A9;
$c-silver:        #dadada;
$c-lightgray:     #e5e5e5;
$c-gainsboro:     #eeeeee;
$c-whitesmoke:    #f5f5f5;
$c-ghostwhite:    #fafafa;
$c-white:         #ffffff;

// Blue
$c-steelblue:     #4682B4;
$c-dodgerblue:    #3399ff;
$c-darkturquoise: #82d2df;
$c-lightcyan:     #d9e8ff;

// Green
$c-limegreen:     #4e9a06;
$c-olivedrab:     #7b9712;
$c-yellowgreen:   #becf59;
$c-palegreen:     #edf2c4;
$c-beige:         #F5F5DC;

// Red
$c-crimson:       #e14049;
$c-pink:          #FFC0CB;
$c-lavenderblush: #FFF0F5;
$c-snow:          #FFFAFA;

// Yellow
$c-goldenrod:     #DAA520;
$c-gold:          #FFD700;
$c-cornsilk:      #fff6cc;
$c-lemonchiffon:  #FFFACD;
$c-ivory:         #FFFFF0;
