// ###### Colors
// Black to white
$Black:         #000000;
$DimGray:       #555555;
$Gray:          #888888;
$DarkGray:      #A9A9A9;
$Silver:        #dadada;
$LightGray:     #e5e5e5;
$Gainsboro:     #eeeeee;
$WhiteSmoke:    #f5f5f5;
$GhostWhite:    #fafafa;
$White:         #ffffff;

// Blue
$SteelBlue:     #4682B4;
$DodgerBlue:    #3399ff;
$DarkTurquoise: #82d2df;
$LightCyan:     #d9e8ff;

// Green
$LimeGreen:     #4e9a06;
$OliveDrab:     #7b9712;
$YellowGreen:   #becf59;
$PaleGreen:     #edf2c4;
$Beige:         #F5F5DC;

// Red
$Crimson:       #e14049;
$Pink:          #FFC0CB;
$LavenderBlush: #FFF0F5;
$Snow:          #FFFAFA;

// Yellow
$GoldenRod:     #DAA520;
$Gold:          #FFD700;
$Cornsilk:      #fff6cc;
$LemonChiffon:  #FFFACD;
$Ivory:         #FFFFF0;
