/*==========  $Core Code  ==========*/
code, kbd, pre {
	background: $GhostWhite;
	font-family: $fstack-consolas;
	_font-family: $fstack-consolas;
}
code, kbd {
	font-size: 85.7%;
	line-height: 192%;
	padding: #{$baseUnit1 - 1} #{$baseUnit2 - 1};
	white-space: pre;
}
code, pre { border: 1px solid $Gainsboro; }
kbd {
	color: $DimGray;
	font-weight: bold;
	text-transform: capitalize;

	@include box-shadow($Silver 0 2px 0, $DimGray 0 2px 2px);
	@include border-radius($baseUnit1);
}
pre {
	display: block;
	margin: 0 0 $baseUnit3 0;
	padding: $baseUnit2;
	@include border-radius($baseUnit1);
}
pre code {
	background: transparent;
	border: 0;
	padding: 0;
}