/*==========  $Core Links  ==========*/
a {
	&, &:link { color: $brand-main; text-decoration: underline; }
	&:visited { color: darken( $brand-main, 5% ); }
	&:hover   { color: darken( $brand-main, 10% ); }
	&:active  { color: darken( $brand-main, 5% ); }
	&:focus   { color: $brand-main; outline-color: $brand-main; }
}
