/*==========  $Core Links  ==========*/
a {
	&, &:link 	{ color: $LimeGreen; text-decoration: underline; outline: 0; }
	&:visited 	{ color: $OliveDrab; }
	&:hover 	{ color: darken( $LimeGreen, 5% ); }
	&:active 	{ color: $OliveDrab; }
	&:focus 	{ background-color: $PaleGreen; color: $LimeGreen; outline-color: $LimeGreen; }
}