/*==========  $Links  ==========*/
a {
	&, &:link 	{ color: $LimeGreen; text-decoration: underline; outline: 0; }
	&:visited 	{ color: $OliveDrab; text-decoration: none; }
	&:hover 	{ color: #3b7c03;    text-decoration: underline; }
	&:active 	{ color: $OliveDrab; text-decoration: underline; }
	&:focus 	{ background-color: #ecfddc; color: $LimeGreen; outline-color: $LimeGreen; text-decoration: underline; }
}