/*==========  $Media Images  ==========*/
img {
	/* Make images responsive by default */
	height: auto;
	max-width: 100%;
	vertical-align: bottom;

	&[width], &[height] { display: inline-block; }

	/* Images inside figure */
	figure > & { display: block; }
}

/*==========  $Media Audio  ==========*/
audio { width: 100%; }
