@if $useCore == true and $styleTables == true {
	/*==========  $Core Tables  ==========*/
	table {
		border: {
			collapse: separate;
			right: 1px solid $LightGray;
			top: 1px solid $LightGray;
		}
		margin: 0 0 #{$baseUnit1 * 5} 0;
		width: 100%;

		// Border top radius
		@include border-radius($radius1 $radius1 0 0);

		caption {
			font: {
				size: 85.7%;
				style: italic;
				weight: bold;
			}
			margin: 0;
			padding: 0 0 $baseUnit1 0;
		}
	}

	[colspan]     { text-align: center; }
	[colspan="1"] { text-align: left; }
	[rowspan]     { vertical-align: middle; }
	[rowspan="1"] { vertical-align: top; }

	th {
		@if $legacySupport == true {
			background: $WhiteSmoke url(../images/gradient-bg.png) repeat-x left -292px;
		}
		@include default_gradient($GhostWhite, $WhiteSmoke);

		border: {
			bottom: 1px solid $LightGray;
			left: 1px solid $LightGray;
		}
		font-weight: bold;
		padding: #{$baseUnit1 * 2};
		text-align: left;
	}

	thead {
		tr:first-child th:first-child {
			// Border topleft
			@include border-radius($radius1 0 0 0);
		}

		tr:last-child th:last-child {
			// Border topright
			@include border-radius(0 $radius1 0 0);
		}
	}

	tr {
		&.odd, .table-zebra &:nth-child(odd)   { background: $White; }
		&.even, .table-zebra &:nth-child(even) { background: $GhostWhite; }
	}
	td {
		border: {
			bottom: 1px solid $LightGray;
			left: 1px solid $LightGray;
		}
		padding: #{$baseUnit1 * 2};
		vertical-align: top;
	}
	.table-compact {
		td, th { padding: #{$baseUnit1 - 1} #{$baseUnit1 * 2}; }
	}
}
