@if $useObjects == true and $useNav == true and $useBreadcrumbs == true {
	/*==========  $Nav Breadcrumbs  ==========*/
	.breadcrumb {
		@include default-gradient($c-ghostwhite, $c-whitesmoke);
		@include border-radius($radius1);
		border: 1px solid $c-silver;

		span { display: block; }

		> a, > a:link { display: inline-block; }

		a, a:link, a:visited, span {
			padding-top: #{$baseUnit1 * 2};
			padding-#{get-text-dir(opposite)}: 0 ;
			padding-bottom: #{$baseUnit1 * 2};
			padding-#{get-text-dir(default)}: #{$baseUnit1 * 3};
		}

		a:hover, .active a, .active a:link { color: $c-black; }

		.active a, .active a:link {
			&:after { content: ""; }
		}
	}
}
