@if $useObjects == true and $useNav == true and $useMenus == true {
	/*==========  $Nav Menus  ==========*/
	.menu-horizontal, .menu-vertical {
		> li {
			> a, > a:link, > a:visited {
				@if $legacySupport == true { @include legacy-bg($c-silver); }
				@include default-gradient($c-ghostwhite, $c-silver);

				color: $c-black;
				padding: #{$baseUnit1 * 2} #{$baseUnit1 * 3};
			}

			> a:hover, &.active > a, &.active > a:link {
				@if $legacySupport == true {
					background: {
						color: $c-gray;
						position: left -15px;
					}
				}
				@include default-gradient($c-darkgray, $c-gray);

				color: $c-white;
			}
		}
	}

	/*==========  menu-Horizontal  ==========*/
	.menu-horizontal {
		> li {
			border-left: 1px solid $c-lightgray;
			display: inline-block;
			float: left;
		}
	}

	/*==========  menu-Vertical  ==========*/
	.menu-vertical {
		> li {
			border-bottom: 1px solid $c-lightgray;
			float: none;
		}
	}
}
