@if $useObjects == true and $useNav == true and $useMenus == true {
	/*==========  $Nav Menus  ==========*/
	.menu-horizontal, .menu-vertical {
		> li {
			> a, > a:link, > a:visited {
				background: $c-whitesmoke;
				color: $c-black;
				padding: #{$baseUnit1 * 2} #{$baseUnit1 * 3};
			}

			> a:hover, &.active > a, &.active > a:link {
				background: $c-silver;
			}
		}
	}

	/*==========  menu-Horizontal  ==========*/
	.menu-horizontal {
		> li {
			border-left: 1px solid $c-lightgray;
			display: inline-block;
			float: left;
		}
	}

	/*==========  menu-Vertical  ==========*/
	.menu-vertical {
		> li {
			border-bottom: 1px solid $c-lightgray;
			float: none;
		}
	}
}
