@if $useObjects == true and $useNav == true and $usePagination == true {
	/*==========  $Nav Pagination  ==========*/
	.pagination,
	.nav-direction {
		clear: both;

		ul { clear: both; margin: 0; }

		span, li span, a, a:link, a:visited {
			@if $legacySupport == true { @include legacy-bg(); }
			@include default-gradient();
			border: 1px solid $c-silver;
			color: $c-dimgray;
			display: inline-block;
			margin: 0;
			padding: $baseUnit1 #{$baseUnit1 * 3};
			text-decoration: none;
		}

		.current, .current span, li.active a, li.active a:link, a:hover {
			@if $legacySupport == true { background-color: $c-silver; }
			@include default-gradient($c-gainsboro, $c-darkgray);
			color: $c-black;
			text-decoration: none;
		}
	}

	/* Full Pagination */
	.pagination {
		li { float: left; }

		span, li span, a, a:link, a:visited { float: left; }

		.disabled {
			&, span, a, a:link {
				background: $c-whitesmoke;
				color: $c-silver;
				text-decoration: none;
			}
		}

		li {
			a, a:link, a:visited { border-left-width: 0; }

			&:first-child {
				a, a:link, a:visited { border-left-width: 1px; }
			}
		}

		span { background: transparent; border-color: transparent; }
	}

	/* nav-direction */
	.nav-direction {
		a, a:link, a:visited { @include border-radius($radius1); }

		li:first-child, .prev, .prev a, .prev a:link { float: left; }

		li:last-child, .next, .next a, .prev a:link { float: right; }
	}
}
