@if $useObjects == true and $useNav == true and $usePagination == true {
	/*==========  $Nav Pagination  ==========*/
	.pagination,
	.nav-direction {
		clear: both;

		ul { clear: both; margin: 0; }

		span, li span, a, a:link, a:visited {
			@include default-gradient();
			border: 1px solid $c-silver;
			color: $c-dimgray;
			display: inline-block;
			margin: 0;
			padding: $baseUnit1 #{$baseUnit1 * 3};
			text-decoration: none;
		}

		.current, .current span, li.active a, li.active a:link, a:hover {
			@include default-gradient($c-lightgray, $c-silver);
			color: $c-black;
			text-decoration: none;
		}
	}

	/* Full Pagination */
	.pagination {
		li { float: get-text-dir(default); }

		span, li span, a, a:link, a:visited { float: get-text-dir(default); }

		.disabled {
			&, span, a, a:link {
				background: $c-whitesmoke;
				color: $c-silver;
				text-decoration: none;
			}
		}

		li {
			a, a:link, a:visited { border-left-width: 0; }

			&:first-child {
				a, a:link, a:visited { border-left-width: 1px; }
			}
		}

		span { background: transparent; border-color: transparent; }
	}

	/* nav-direction */
	.nav-direction {
		a, a:link, a:visited { border-radius: $radius1; }

		li:first-child, .prev, .prev a, .prev a:link { float: get-text-dir(default); }

		li:last-child, .next, .next a, .prev a:link { float: get-text-dir(opposite); }
	}
}
