@mixin alert-config($bg, $image, $border-color, $color) {
	background-color: $bg;
	@if $image != '' { background-image: url(../images/icons/#{$image}.png); }
	border-color: $border-color;
	color: $color;

	a, a:link { color: $color; }
}

@if $useObjects == true and $useAlerts == true {
	/*==========  $UI Alerts/Messages  ==========*/
	.alert,
	.error,
	.guidelines,
	.info, .ok,
	.notice, .warning,
	.status, .success {
		background: {
			color: $c-whitesmoke;
			repeat: no-repeat;
			position: 4px 1em;
		}
		border: 1px solid $c-lightgray;
		color: $c-gray;
		margin-bottom: #{$baseUnit1 * 5};
		padding: #{$baseUnit1 * 3} #{$baseUnit1 * 3} #{$baseUnit1 * 3} #{$baseUnit1 *8};

		a, a:link { background: none; margin: 0; padding: 0; }
	}


	.error            { @include alert-config( $c-lavenderblush, "cross",       $c-pink,          $c-crimson ); }
	.info, .status    { @include alert-config( $c-lightcyan,     "information", $c-darkturquoise, $c-steelblue ); }
	.notice, .warning { @include alert-config( $c-lemonchiffon,  "error",       $c-gold,          $c-goldenrod ); }
	.success, .ok     { @include alert-config( $c-palegreen,     "tick",        $c-yellowgreen,   $c-olivedrab ); }
	.guidelines       { @include alert-config( $c-ivory,         "",            $c-cornsilk,      $c-dimgray);

		line-height: 130%;
		margin-top: #{$baseUnit1 * 2};
		padding: #{$baseUnit1 * 3} #{$baseUnit1 * 2};
	}
}
