@mixin alert-config($bg, $border-color, $color) {
	background-color: $bg;
	border-color: $border-color;
	color: $color;

	a, a:link { color: $color; }
}

@if $useObjects == true and $useAlerts == true {
	/*==========  $UI Alerts/Messages  ==========*/
	.alert,
	.error,
	.guidelines,
	.info, .ok,
	.notice, .warning,
	.status, .success {
		background: {
			color: $c-whitesmoke;
			repeat: no-repeat;
			position: 4px 1em;
		}
		border: 1px solid $c-lightgray;
		color: $c-gray;
		margin-bottom: #{$baseUnit1 * 5};
		padding: #{$baseUnit1 * 3};

		a, a:link { background: none; margin: 0; padding: 0; }

		.alert-icon {
			&,
			~ * {
				display: table-cell;
				vertical-align: middle;
			}

			~ * {
				padding-#{get-text-dir(default)}: 1em;
			}
		}
	}


	.error            { @include alert-config( $c-lavenderblush, $c-pink,          $c-crimson ); }
	.info, .status    { @include alert-config( $c-lightcyan,     $c-darkturquoise, $c-steelblue ); }
	.notice, .warning { @include alert-config( $c-lemonchiffon,  $c-gold,          $c-goldenrod ); }
	.success, .ok     { @include alert-config( $c-palegreen,     $c-yellowgreen,   $c-olivedrab ); }
	.guidelines       { @include alert-config( $c-ivory,         $c-cornsilk,      $c-dimgray);

		line-height: 130%;
		margin-top: #{$baseUnit1 * 2};
		padding: #{$baseUnit1 * 3} #{$baseUnit1 * 2};
	}
}
