@if $useObjects == true and $useDropdown == true {
	.dropdown {
		> a:after, > a:link:after {
			/* Arrow for dropdown link */
			border: 4px solid transparent;
			border-top-color: $c-black;
			content: ' ';
			display: inline-block;
			line-height: 100%;
			margin-#{get-text-dir(default)}: 4px;
			text-align: right;
			vertical-align: middle;
		}

		.drop-content,
		> ul {
			/* Common styles for submenus */
			background: $c-white;
			border: 1px solid $c-silver;
			display: none;
			padding: 3px 0;
			position: absolute;
			z-index: 100;
		}

		.drop-content {
			padding: #{$baseUnit1 * 3};
			width: 230px;
		}

		> ul {
			list-style: none;
			margin: 0;
			max-width: 180px;
			min-width: 150px;
			padding: 0;
			zoom: 1;

			> li {
				display: block;
				float: none;

				> a, > a:link, > a:visited {
					color: $c-black;
					display: block;
					padding: #{$baseUnit1 * 2} #{$baseUnit1 * 3};
					text-decoration: none;
				}
				> a:hover,
				&.active > a, &.active > a:link {
					background: $c-gainsboro;
				}
			}

			.divider {
				border-bottom: 1px solid $c-darkgray;
				margin: #{$baseUnit1 * 2} 0;
				overflow: hidden;
				padding: 0 #{$baseUnit1 * 3};
				opacity: 0.4;
			}
		}

		.dropdown {
			> a:after, > a:link:after {
				/* Arrow for 2nd+ level dropdown links */
				border: {
					#{get-text-dir(default)}-color: $c-black;
					top-color: transparent;
				}
			}

			&:hover, &.active {
				> a:after, > a:link:after {
					border: {
						#{get-text-dir(default)}-color: $c-black;
						top-color: transparent;
					}
				}
			}

			> ul {
				/* 3rd+ Level submenu style */
				display: none;
				#{get-text-dir(default)}: 100%;
				position: absolute;
				top: #{$baseUnit1 * 2};
				width: 100%;
			}
		}

		&:hover > ul,
		&:hover .drop-content { display: block; }

		ul :hover ul :hover ul { display: block; }
	}
}
