@if $useObjects == true and $useMediaObj == true {
	/*==========  $Object - Media  ==========*/
	/**
	* Media object as per stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
	*
	**/

	.media {
	    @include cf;
	    display: block;
	}

	.media-img {
	    float: get-text-dir(default);
	    margin-right: 1em;
	}

	/* Reversed image location (right instead of left). */
	.media-img--rev {
	    float: get-text-dir(opposite);
	    margin-#{get-text-dir(default)}: 1em;
	}

	.media-img img,
	.media-img--rev img {
	    display: block;
	}

	.media-body {
	    overflow: hidden;

		&, & > :last-child { margin-bottom: 0; }
	}
}
