@mixin progress_colorize($bg, $percent: 20%) {
	@include default-gradient( lighten($bg, $percent), $bg );
}

@if $useObjects == true and $useProgress == true {
	/*==========  $UI Progressbars  ==========*/
	.progressbar,
	.progressbar-error,
	.progressbar-info,
	.progressbar-notice,
	.progressbar-success {
		@include border-radius($radius3);
		@include box-sizing(border-box);
		background: $c-ghostwhite;
		border: 1px solid $c-silver;
		height: #{$baseUnit1 * 7};
		margin: #{$baseUnit1 * 2} 0;
		overflow: hidden;
		position: relative;

		.progress-value {
			@include border-radius($radius3);
			@include default-gradient($c-whitesmoke, $c-silver);
			float: get-text-dir(default);
			height: #{$baseUnit1 * 7 - 1};
		}

		.progress-text {
			color: $c-dimgray;
			font: {
				size: 14px;
				weight: bold;
			}
			#{get-text-dir(default)}: 0;
			position: absolute;
			text-align: center;
			top: 0;
			width: 100%;
		}
	}

	.progressbar-error   .progress-value { @include progress_colorize( $c-crimson, 35% ); }
	.progressbar-info    .progress-value { @include progress_colorize( $c-dodgerblue, 35% ); }
	.progressbar-notice  .progress-value { @include progress_colorize( $c-gold ); }
	.progressbar-success .progress-value { @include progress_colorize( $c-yellowgreen ); }
}
