@mixin nav 		{ list-style: none; margin: 0 0 #{$baseUnit1 * 3} 0; }
@mixin nav-li 	{ display: block; float: left; }
@mixin nav-li-a { display: block; text-decoration: none; }
	
@if $useObjects == true and $useNavObj == true {
	/*==========  $Object - Nav  ==========*/
	/**
	* nav abstraction object as per http://csswizardry.com/2011/09/the-nav-abstraction/
	*/

	.nav {
		@include nav;

		> li {
			@include nav-li;

			> a, > a:link { @include nav-li-a; }
		}
	}
}
