// /*==========  $Features  ==========*/
// Enable or disable legacy browser support.
// Uses fallback techniques to style some elements in IE5-IE8
$legacySupport:       false;

// Direction
// Configure text direction and floar order to address LTR and RTL languages
$text-direction:      ltr;  // Options: 'ltr' (default) | 'rtl'
$float-default:       left; // Options: 'left' (default) | 'right'

// /*==========  $Modules  ==========*/
// Enable or disable modules depending on your needs
$usePrint:            true;
$useNormalize:        true;
$useBase:             true;
  $useGrid:           true;
  $useLayout:         true;
$useCore:             true;
  $styleButtons:      true;
  $styleCode:         true;
  $styleForms:        true;
  $styleHeadings:     true;
  $styleLists:        true;
  $styleMedia:        true;
  $styleQuotes:       true;
  $styleTables:       true;
$useHelpers:          true;
  $useAccessibility:  true;
  $useBrowser:        true;
  $useButtonsHelpers: true;
  $useClearfix:       true;
  $useClearing:       true;
  $useDisplay:        true;
  $useListsHelpers:   true;
  $useFormsHelpers:   true;
  $useTablesHelpers:  true;
  $useImgreplace:     true;
  $useMediaHelpers:   true;
  $useOtherHelpers:   true;
$useObjects:          true;
  $useAlerts:         true;
  $useMediaObj:       true;
  $useProgress:       true;
  $useNav:            true;
    $useBreadcrumbs:  true;
    $useMenus:        true;
    $usePagination:   true;
    $useTabs:         true;
  $useStats:          true;
  $useDropdown:       true; // READ WARNING BELOW!
  $useFlyout:         true; // READ wARNING BELOW!
$useIcons:            true;

// /*************************************************************************
// *  WARNING:
// *  Seelva's dropdown and flyout objects *DO NOT WORK* with touchscreen
// *  devices because they use the ':hover' pseudo-class to display submenus.
// *  Be aware that if you want to use dropdowns with touchscreen devices you
// *  should use a Javascript-based alternative.
// **************************************************************************/

// /*====  $Media-queries Config  ====*/
// Default widths
$s-sm: 480px;
$s-md: 768px;
$s-lg: 960px;
$s-xl: 1200px;

// Device widths ( name  abbreviation  size  [ type: min | max ] )
$devices-list: (
  small:      ( abbr: sm,   size: $s-sm  $s-md ),
  medium:     ( abbr: md,   size: $s-md  $s-lg ),
  large:      ( abbr: lg,   size: $s-lg  $s-xl ),
  extralarge: ( abbr: xl,   size: $s-xl ),

  // Device Aliases
  portable:   ( abbr: null, size: $s-md, type: max ),
  mup:        ( abbr: null, size: $s-md, type: min )
);


// /*=========  $Grid Config  =========*/
// If grid module is enabled, these settings modifies the grid:
$colAmount:           12;     // How many columns should the grid have?
$gutterWidth:         20px;     // Separation between columns, In px
$contentWidth:        1200px; // Max-width of the main content area?

// /*========  $Custom Colors  ========*/
// Brand Colors
$c-brand-error:       $c-crimson;
$c-brand-info:        $c-steelblue;
$c-brand-notice:      $c-goldenrod;
$c-brand-success:     $c-limegreen;

$c-brand-main:        $c-limegreen;

// /*=========  $Font config  =========*/
// Default stacks
$fstack-sans:         $fstack-arial;
$fstack-serif:        $fstack-cambria;
$fstack-mono:         $fstack-consolas;

// Custom stacks
$fstack-body:         $fstack-arial;
$fstack-headings:     $fstack-segoe;
$fstack-code:         $fstack-consolas;
$fstack-forms:        $fstack-arial;
$fstack-buttons:      $fstack-arial;

// /*=======  $Text properties  =======*/
$textColor:           $c-black;

$textSize:            0.875em;
$textLineHeight:      1.5em;

$h1-size:             294%;
$h2-size:             192%;
$h3-size:             171%;
$h4-size:             150%;
$h5-size:             128%;
$h6-size:             107%;

// /*==========  $Variables  ==========*/
// Px unit
$baseUnit1:           3px;

// Border radius
$radius1:             3px;
$radius2:             6px;
$radius3:             9px;
