/*==============================
=           $custom            =
--------------------------------
*
*
* File to write the main style of your app, either by importing components via
* sass-globbing or similar plugins (recommended) or by adding rules and
* declarations directly at the end of this file.
*
*
==============================*/

* {
	@include box-sizing(border-box);

	@include mq(small)      { background: blue; }
	@include mq(medium)     { background: green; }
	@include mq(large)      { background: yellow; }
	@include mq(extralarge) { background: purple; }

	@include mq(portable)   { background: pink; }
	@include mq(mup)        { background: orange; }
}

