/// Get text direction depending on the argument
/// @param {String} $type with options [default | opposite]
/// @return {String} options [left | right]
@function get-text-dir($type: null) {
	$default: $text-direction;
	$opposite: null;

	@if $default == ltr {
		$default: left;
		$opposite: right;
	}
	@elseif $default == rtl {
		$default: right;
		$opposite: left;
	}

	@if $type == default or $type == null {
		@return $default;
	}

	@if $type == opposite {
		@return $opposite;
	}
}
