/// Get float direction setting depending on the aliased argument
/// @param {String} $type with options [default | opposite]
/// @return {String} options [left | right]
@function get-float($type: null) {
	$default: $float-default;
	$opposite: null;

	@if $default == left {
		$opposite: right;
	}
	@elseif $default == right {
		$opposite: left;
	}

	@if $type == default or $type == null {
		@return $default;
	}

	@if $type == opposite {
		@return $opposite;
	}
}
