@if $useNav == true and $useBreadcrumbs == true {
	/*==========  $Nav Breadcrumbs  ==========*/
	.breadcrumb {
		@if $legacySupport == true { @include legacy-bg(); }
		@include default-gradient($GhostWhite, $WhiteSmoke);
		@include border-radius($radius1);
		border: 1px solid $Silver;

		span { display: block; }

		> a, > a:link { display: inline-block; }

		a, a:link, a:visited, span { padding: #{$baseUnit1 * 2} 0 #{$baseUnit1 * 2} #{$baseUnit1 * 3}; }

		a:hover, .active a, .active a:link { color: $Black; }

		.active a, .active a:link {
			&:after { content: ""; }
		}
	}
}
