/*==========  $Nav Pagination  ==========*/
.pagination,
.nav-direction {
	clear: both;

	ul { clear: both; margin: 0; }

	span, li span, a, a:link, a:visited {
		@if $fullCSS3 {
			@include default_gradient();
		}
		@else {
			background: $WhiteSmoke url(../images/gradient-bg.png) repeat-x left top;
		}
		border: 1px solid $Silver;
		color: $DimGray;
		display: inline-block;
		margin: 0;
		padding: $baseUnit1 #{$baseUnit1 * 3};
		text: {
			decoration: none;
		}
	}
	.current, .current span, li.active a, li.active a:link, a:hover {
		@if $fullCSS3 {
			@include default_gradient($Gainsboro, $DarkGray);
		}
		@else {
			background-color: $Silver;
		}
		color: $Black;
		text-decoration: none;
	}
}

/* Full Pagination */
.pagination {
	li { float: left; }

	span, li span, a, a:link, a:visited { float: left; }

	.disabled, .disabled span, .disabled a, .disabled a:link {
		background: $WhiteSmoke;
		color: $Silver;
		text-decoration: none;
	}

	li a, li a:link, li a:visited { border-left-width: 0; }
	li:first-child a, li:first-child a:link, li:first-child a:visited { border-left-width: 1px; }
	span { background: transparent; border-color: transparent; }
}

/* nav-direction */
.nav-direction {
	a, a:link, a:visited { @include border-radius($radius1); }

	li:first-child, .prev, .prev a, .prev a:link { float: left; }

	li:last-child, .next, .next a, .prev a:link { float: right; }
}