/*==========  $Tabs setup  ==========*/
.tabs,
.vertical-tabs {
	overflow: visible;
	*zoom: 1;

	&:before, &:after {
		content: ' ';
		display: table;
	}
	&:after { clear: both; }

	> li {
		position: relative;

		> a, > a:link, > a:visited {
			background: $WhiteSmoke url(../images/gradient-bg.png) repeat-x left top;
			border: 1px solid $LightGray;
			color: $Black;
			padding: $baseUnit2 $baseUnit3;
		}
	}
}

/*==========  $Tabs  ==========*/
.tabs {
	border-bottom: 1px solid $Silver;

	> li {
		margin-right: $baseUnit1;
		top: 1px;

		> a, > a:link, > a:visited {
			border-bottom-width: 0;

			@include border-radius($baseUnit1 $baseUnit1 0 0);
		}

		> a:hover, &.active > a, &.active > a:link {
			background-color: $White;
			border: 1px solid $LightGray;
			border-bottom-color: transparent;
		}
	}
}

/*==========  $Vertical tabs  ==========*/
.vertical-tabs {
	border-right: 1px solid $Silver;
	float: left;
	margin-right: $baseUnit3;
	width: 120px;

	> li {
		float: none;
		left: 1px;
		margin-bottom: $baseUnit1;
		padding-left: 1px;

		> a, > a:link, > a:visited {
			@include border-radius($baseUnit1 0 0 $baseUnit1);
		}

		> a:hover, &.active > a, &.active > a:link {
			background-color: $White;
			border: 1px solid $LightGray;
			border-right-color: transparent;
		}
	}
}

/*==========  $Tabs content  ==========*/
.tabs-content {
	display: block;
	margin: 0;
	*zoom: 1;

	&:before, &:after { content: ' '; display: table; }
	&:after { clear: both; }
	> li, > div { display: none; height: 1%; overflow: auto; }
	> li.active, > div.active { display: block; }
}