/*=============================
=            $Base            =
=============================*/
/*==========  $Grid - Fluid width  ==========*/
/*!*
*
* Config.
*
* No. of Columns:          12;
* Percentual column width: 833.33333%;
* Gutter width:            20px;
*
**/
.section { clear: both; width: 100%; }

.holder { *zoom: 1; margin: 0 auto; max-width: 1200px; padding-left: 10px; padding-right: 10px; }
.holder:before, .holder:after { content: ' '; display: table; }
.holder:after { clear: both; }

.row { *zoom: 1; margin-left: -10px; margin-right: -10px; /* Fix last column in a row if it has suffix */ }
.row:before, .row:after { content: ' '; display: table; }
.row:after { clear: both; }
.row > div:last-child[class^="suffix"], .row > div:last-child[class*=" suffix"] { float: left; }

/* Fix units inside forms */
form [class^="unit-"], form [class*=" unit-"] { clear: none; }

[class^="unit-"], [class*=" unit-"] { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; padding-left: 10px; padding-right: 10px; width: 100%; }

.unit-1 { width: 8.33333%; }

.unit-2 { width: 16.66667%; }

.unit-3 { width: 25%; }

.unit-4 { width: 33.33333%; }

.unit-5 { width: 41.66667%; }

.unit-6 { width: 50%; }

.unit-7 { width: 58.33333%; }

.unit-8 { width: 66.66667%; }

.unit-9 { width: 75%; }

.unit-10 { width: 83.33333%; }

.unit-11 { width: 91.66667%; }

.unit-12 { width: 100%; }

.prefix-1 { margin-left: 8.33333%; }

.prefix-2 { margin-left: 16.66667%; }

.prefix-3 { margin-left: 25%; }

.prefix-4 { margin-left: 33.33333%; }

.prefix-5 { margin-left: 41.66667%; }

.prefix-6 { margin-left: 50%; }

.prefix-7 { margin-left: 58.33333%; }

.prefix-8 { margin-left: 66.66667%; }

.prefix-9 { margin-left: 75%; }

.prefix-10 { margin-left: 83.33333%; }

.prefix-11 { margin-left: 91.66667%; }

.suffix-1 { margin-right: 8.33333%; }

.suffix-2 { margin-right: 16.66667%; }

.suffix-3 { margin-right: 25%; }

.suffix-4 { margin-right: 33.33333%; }

.suffix-5 { margin-right: 41.66667%; }

.suffix-6 { margin-right: 50%; }

.suffix-7 { margin-right: 58.33333%; }

.suffix-8 { margin-right: 66.66667%; }

.suffix-9 { margin-right: 75%; }

.suffix-10 { margin-right: 83.33333%; }

.suffix-11 { margin-right: 91.66667%; }

.push-1 { position: relative; left: 8.33333%; }

.push-2 { position: relative; left: 16.66667%; }

.push-3 { position: relative; left: 25%; }

.push-4 { position: relative; left: 33.33333%; }

.push-5 { position: relative; left: 41.66667%; }

.push-6 { position: relative; left: 50%; }

.push-7 { position: relative; left: 58.33333%; }

.push-8 { position: relative; left: 66.66667%; }

.push-9 { position: relative; left: 75%; }

.push-10 { position: relative; left: 83.33333%; }

.push-11 { position: relative; left: 91.66667%; }

.pull-1 { position: relative; left: -8.33333%; }

.pull-2 { position: relative; left: -16.66667%; }

.pull-3 { position: relative; left: -25%; }

.pull-4 { position: relative; left: -33.33333%; }

.pull-5 { position: relative; left: -41.66667%; }

.pull-6 { position: relative; left: -50%; }

.pull-7 { position: relative; left: -58.33333%; }

.pull-8 { position: relative; left: -66.66667%; }

.pull-9 { position: relative; left: -75%; }

.pull-10 { position: relative; left: -83.33333%; }

.pull-11 { position: relative; left: -91.66667%; }

/*! Units for 'small' devices */
@media only screen and (min-width: 480px) and (max-width: 768px) { .unit-sm-1 { width: 8.33333%; }
  .unit-sm-2 { width: 16.66667%; }
  .unit-sm-3 { width: 25%; }
  .unit-sm-4 { width: 33.33333%; }
  .unit-sm-5 { width: 41.66667%; }
  .unit-sm-6 { width: 50%; }
  .unit-sm-7 { width: 58.33333%; }
  .unit-sm-8 { width: 66.66667%; }
  .unit-sm-9 { width: 75%; }
  .unit-sm-10 { width: 83.33333%; }
  .unit-sm-11 { width: 91.66667%; }
  .unit-sm-12 { width: 100%; }
  .prefix-sm-1 { margin-left: 8.33333%; }
  .prefix-sm-2 { margin-left: 16.66667%; }
  .prefix-sm-3 { margin-left: 25%; }
  .prefix-sm-4 { margin-left: 33.33333%; }
  .prefix-sm-5 { margin-left: 41.66667%; }
  .prefix-sm-6 { margin-left: 50%; }
  .prefix-sm-7 { margin-left: 58.33333%; }
  .prefix-sm-8 { margin-left: 66.66667%; }
  .prefix-sm-9 { margin-left: 75%; }
  .prefix-sm-10 { margin-left: 83.33333%; }
  .prefix-sm-11 { margin-left: 91.66667%; }
  .suffix-sm-1 { margin-right: 8.33333%; }
  .suffix-sm-2 { margin-right: 16.66667%; }
  .suffix-sm-3 { margin-right: 25%; }
  .suffix-sm-4 { margin-right: 33.33333%; }
  .suffix-sm-5 { margin-right: 41.66667%; }
  .suffix-sm-6 { margin-right: 50%; }
  .suffix-sm-7 { margin-right: 58.33333%; }
  .suffix-sm-8 { margin-right: 66.66667%; }
  .suffix-sm-9 { margin-right: 75%; }
  .suffix-sm-10 { margin-right: 83.33333%; }
  .suffix-sm-11 { margin-right: 91.66667%; } }
/*! Units for 'medium' devices */
@media only screen and (min-width: 768px) and (max-width: 960px) { .unit-md-1 { width: 8.33333%; }
  .unit-md-2 { width: 16.66667%; }
  .unit-md-3 { width: 25%; }
  .unit-md-4 { width: 33.33333%; }
  .unit-md-5 { width: 41.66667%; }
  .unit-md-6 { width: 50%; }
  .unit-md-7 { width: 58.33333%; }
  .unit-md-8 { width: 66.66667%; }
  .unit-md-9 { width: 75%; }
  .unit-md-10 { width: 83.33333%; }
  .unit-md-11 { width: 91.66667%; }
  .unit-md-12 { width: 100%; }
  .prefix-md-1 { margin-left: 8.33333%; }
  .prefix-md-2 { margin-left: 16.66667%; }
  .prefix-md-3 { margin-left: 25%; }
  .prefix-md-4 { margin-left: 33.33333%; }
  .prefix-md-5 { margin-left: 41.66667%; }
  .prefix-md-6 { margin-left: 50%; }
  .prefix-md-7 { margin-left: 58.33333%; }
  .prefix-md-8 { margin-left: 66.66667%; }
  .prefix-md-9 { margin-left: 75%; }
  .prefix-md-10 { margin-left: 83.33333%; }
  .prefix-md-11 { margin-left: 91.66667%; }
  .suffix-md-1 { margin-right: 8.33333%; }
  .suffix-md-2 { margin-right: 16.66667%; }
  .suffix-md-3 { margin-right: 25%; }
  .suffix-md-4 { margin-right: 33.33333%; }
  .suffix-md-5 { margin-right: 41.66667%; }
  .suffix-md-6 { margin-right: 50%; }
  .suffix-md-7 { margin-right: 58.33333%; }
  .suffix-md-8 { margin-right: 66.66667%; }
  .suffix-md-9 { margin-right: 75%; }
  .suffix-md-10 { margin-right: 83.33333%; }
  .suffix-md-11 { margin-right: 91.66667%; } }
/*! Units for 'large' devices */
@media only screen and (min-width: 960px) and (max-width: 1200px) { .unit-lg-1 { width: 8.33333%; }
  .unit-lg-2 { width: 16.66667%; }
  .unit-lg-3 { width: 25%; }
  .unit-lg-4 { width: 33.33333%; }
  .unit-lg-5 { width: 41.66667%; }
  .unit-lg-6 { width: 50%; }
  .unit-lg-7 { width: 58.33333%; }
  .unit-lg-8 { width: 66.66667%; }
  .unit-lg-9 { width: 75%; }
  .unit-lg-10 { width: 83.33333%; }
  .unit-lg-11 { width: 91.66667%; }
  .unit-lg-12 { width: 100%; }
  .prefix-lg-1 { margin-left: 8.33333%; }
  .prefix-lg-2 { margin-left: 16.66667%; }
  .prefix-lg-3 { margin-left: 25%; }
  .prefix-lg-4 { margin-left: 33.33333%; }
  .prefix-lg-5 { margin-left: 41.66667%; }
  .prefix-lg-6 { margin-left: 50%; }
  .prefix-lg-7 { margin-left: 58.33333%; }
  .prefix-lg-8 { margin-left: 66.66667%; }
  .prefix-lg-9 { margin-left: 75%; }
  .prefix-lg-10 { margin-left: 83.33333%; }
  .prefix-lg-11 { margin-left: 91.66667%; }
  .suffix-lg-1 { margin-right: 8.33333%; }
  .suffix-lg-2 { margin-right: 16.66667%; }
  .suffix-lg-3 { margin-right: 25%; }
  .suffix-lg-4 { margin-right: 33.33333%; }
  .suffix-lg-5 { margin-right: 41.66667%; }
  .suffix-lg-6 { margin-right: 50%; }
  .suffix-lg-7 { margin-right: 58.33333%; }
  .suffix-lg-8 { margin-right: 66.66667%; }
  .suffix-lg-9 { margin-right: 75%; }
  .suffix-lg-10 { margin-right: 83.33333%; }
  .suffix-lg-11 { margin-right: 91.66667%; } }
/*! Units for 'extralarge' devices */
@media only screen and (min-width: 1200px) { .unit-xl-1 { width: 8.33333%; }
  .unit-xl-2 { width: 16.66667%; }
  .unit-xl-3 { width: 25%; }
  .unit-xl-4 { width: 33.33333%; }
  .unit-xl-5 { width: 41.66667%; }
  .unit-xl-6 { width: 50%; }
  .unit-xl-7 { width: 58.33333%; }
  .unit-xl-8 { width: 66.66667%; }
  .unit-xl-9 { width: 75%; }
  .unit-xl-10 { width: 83.33333%; }
  .unit-xl-11 { width: 91.66667%; }
  .unit-xl-12 { width: 100%; }
  .prefix-xl-1 { margin-left: 8.33333%; }
  .prefix-xl-2 { margin-left: 16.66667%; }
  .prefix-xl-3 { margin-left: 25%; }
  .prefix-xl-4 { margin-left: 33.33333%; }
  .prefix-xl-5 { margin-left: 41.66667%; }
  .prefix-xl-6 { margin-left: 50%; }
  .prefix-xl-7 { margin-left: 58.33333%; }
  .prefix-xl-8 { margin-left: 66.66667%; }
  .prefix-xl-9 { margin-left: 75%; }
  .prefix-xl-10 { margin-left: 83.33333%; }
  .prefix-xl-11 { margin-left: 91.66667%; }
  .suffix-xl-1 { margin-right: 8.33333%; }
  .suffix-xl-2 { margin-right: 16.66667%; }
  .suffix-xl-3 { margin-right: 25%; }
  .suffix-xl-4 { margin-right: 33.33333%; }
  .suffix-xl-5 { margin-right: 41.66667%; }
  .suffix-xl-6 { margin-right: 50%; }
  .suffix-xl-7 { margin-right: 58.33333%; }
  .suffix-xl-8 { margin-right: 66.66667%; }
  .suffix-xl-9 { margin-right: 75%; }
  .suffix-xl-10 { margin-right: 83.33333%; }
  .suffix-xl-11 { margin-right: 91.66667%; } }
/*-----  End of $Base  ------*/
