/*==========  Close button  ==========*/
/*=============================
=            $Core            =
=============================*/
html { font-size: 100.01%; }

body { direction: ltr; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 0.875em; line-height: 1.5em; }

/*==========  $Core Links  ==========*/
a, a:link { color: #4e9a06; font-weight: bold; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
a:visited { color: #468a05; }
a:hover { color: #3e7b04; }
a:active { color: #468a05; }
a:focus { color: #4e9a06; outline-color: #4e9a06; }

/*==========  $Core Headings  ==========*/
h1, h2, h3, h4, h5, h6 { clear: both; font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif; font-weight: normal; line-height: 120%; margin: 0 0 0.5em 0; }

h1 { font-size: 294%; }

h2 { font-size: 192%; }

h3 { font-size: 171%; }

h4 { font-size: 150%; }

h5 { font-size: 128%; }

h6 { font-size: 107%; }

/*==========  $Core Text  ==========*/
p, address { margin: 0 0 1em 0; }

mark, .highlight { background: #FFD700; }

acronym[title], abbr[title] { border-bottom: 1px dotted #4e9a06; cursor: help; letter-spacing: 2px; }

/*==========  $Core Quotes  ==========*/
blockquote { border-left: 1px solid #e5e5e5; font-size: 122%; font-style: italic; line-height: 150%; margin: 6px 15px 1em 15px; padding-left: 6px; quotes: none; }
blockquote:before, blockquote:after { content: none; }
blockquote p:last-child { margin-bottom: 0; }
blockquote > span, blockquote .credit { font-size: 78%; font-style: italic; margin-bottom: 0; }
blockquote > span:before, blockquote .credit:before { content: '\2013'; }
blockquote.styled { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #f5f5f5; border: 0; color: #555555; padding: 18px 0; }
blockquote.styled:before { color: #dadada; content: '\201C'; font-size: 60px; font-style: normal; font-weight: bold; line-height: 40px; padding-left: 9px; }
blockquote.styled p { margin-top: 0; margin-right: 18px; margin-bottom: 1em; margin-left: 36px; }
blockquote.styled p:first-child { margin-top: -40px; }
blockquote.styled p:last-child { margin-bottom: 0; }

cite, q { font-style: italic; }
cite:after, q:after { content: close-quote; }
cite:before, q:before { content: open-quote; }

/*==========  $Core Code  ==========*/
code, kbd, pre { background: #fafafa; font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; }

code, kbd { font-size: 85.7%; line-height: 192%; padding: 2px 5px; white-space: pre; }

code, pre { border: 1px solid #eeeeee; }

kbd, pre { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

kbd { -moz-box-shadow: #dadada 0 2px 0, #555555 0 2px 2px; -webkit-box-shadow: #dadada 0 2px 0, #555555 0 2px 2px; box-shadow: #dadada 0 2px 0, #555555 0 2px 2px; color: #555555; font-weight: bold; text-transform: capitalize; }

pre { margin: 0 0 9px 0; padding: 6px; }
pre code { background: transparent; border: 0; padding: 0; }

/*==========  $Core Lists  ==========*/
ul, ol { margin-top: 0; margin-right: 0; margin-bottom: 15px; margin-left: 24px; padding: 0; /* Remove vertical spacing from nested lists. */ }
li > ul, li > ol { margin-bottom: 0; }

ol li { margin: 0 0 0 9px; }

dl { margin: 0 0 15px 24px; padding: 0; }

dt { font-weight: bold; margin: 0; padding: 0; }

dd { margin: 0 0 0 9px; padding: 0; }

/*==========  $Core Tables  ==========*/
table { -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px; border-radius: 3px 3px 0 0; border-collapse: separate; border-right: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5; margin: 0 0 15px 0; width: 100%; }
table caption { font-size: 85.7%; font-style: italic; font-weight: bold; margin: 0; padding: 0 0 3px 0; }

[colspan] { text-align: center; }

[colspan="1"] { text-align: left; }

[rowspan] { vertical-align: middle; }

[rowspan="1"] { vertical-align: top; }

th { background: #eeeeee; border-bottom: 1px solid #e5e5e5; border-left: 1px solid #e5e5e5; font-weight: bold; padding: 6px; text-align: left; }

thead tr:first-child th:first-child { -moz-border-radius: 3px 0 0 0; -webkit-border-radius: 3px; border-radius: 3px 0 0 0; }
thead tr:last-child th:last-child { -moz-border-radius: 0 3px 0 0; -webkit-border-radius: 0; border-radius: 0 3px 0 0; }

td { border-bottom: 1px solid #e5e5e5; border-left: 1px solid #e5e5e5; padding: 6px; vertical-align: top; }

/*==========  $Media Images  ==========*/
img { /* Make images responsive by default */ height: auto; max-width: 100%; vertical-align: bottom; /* Images inside figure */ }
img[width], img[height] { display: inline-block; }
figure > img { display: block; }

/*==========  $Media Audio  ==========*/
audio { width: 100%; }

/*==========  $Forms Main  ==========*/
form { /* div, p {
	clear: both;
	margin-bottom: 9px;
} */ }
form div p { margin: 6px 0; }

fieldset { border-color: #dadada; margin: 0 0 15px 0; }

legend { font-size: 128%; font-weight: normal; margin: 0 0 6px 0; padding: 0 0 6px 0; }

label, span.label { display: block; line-height: 130%; padding: 8px 0; }
label em, label .required, span.label em, span.label .required { color: #e14049; }

/*==========  $Forms Controls  ==========*/
input:not([type]), input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=file], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea { -moz-box-shadow: 0 2px 6px #eeeeee inset; -webkit-box-shadow: 0 2px 6px #eeeeee inset; box-shadow: 0 2px 6px #eeeeee inset; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #dadada; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; padding: 8px 4px; width: 100%; }
input:not([type]):focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=email]:focus, input[type=file]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus { border-color: #4e9a06; outline-color: #4e9a06; }
input:not([type])[readonly], input[type=date][readonly], input[type=datetime][readonly], input[type=datetime-local][readonly], input[type=email][readonly], input[type=file][readonly], input[type=month][readonly], input[type=number][readonly], input[type=password][readonly], input[type=search][readonly], input[type=tel][readonly], input[type=text][readonly], input[type=time][readonly], input[type=url][readonly], input[type=week][readonly], select[readonly], textarea[readonly] { background-color: #fafafa; }
input:not([type])[disabled], input[type=date][disabled], input[type=datetime][disabled], input[type=datetime-local][disabled], input[type=email][disabled], input[type=file][disabled], input[type=month][disabled], input[type=number][disabled], input[type=password][disabled], input[type=search][disabled], input[type=tel][disabled], input[type=text][disabled], input[type=time][disabled], input[type=url][disabled], input[type=week][disabled], select[disabled], textarea[disabled] { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; background: #e5e5e5; color: #888888; }

input[type=checkbox], input[type=radio] { cursor: pointer; }
input[type=checkbox]:focus, input[type=radio]:focus { outline-color: #4e9a06; }
input[type=checkbox] + label, input[type=radio] + label { display: inline-block; }

input[type=image], input.image { border: 0; height: auto; width: auto; }

textarea { height: 8em; resize: vertical; }

select { cursor: pointer; padding: 8px 4px; }
select[disabled] { cursor: default; }

/*==========  $Buttons  ==========*/
input[type=button], input[type=submit], input[type=reset], input[type=color], button, .btn, .btn:link, .btn:visited, .button, .button:link, .button:visited { background: #fafafa; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #eeeeee)); background-image: -moz-linear-gradient(#fafafa, #eeeeee); background-image: -webkit-linear-gradient(#fafafa, #eeeeee); background-image: linear-gradient(#fafafa, #eeeeee); -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #dadada; border-bottom-color: #A9A9A9; color: #888888; display: inline-block; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight: bold; line-height: 100%; padding: 9px; /*! For links */ text-decoration: none; white-space: nowrap; word-wrap: normal; /* IE7 padding bugfix */ overflow: visible; width: auto; }

input[type=button]:focus, input[type=submit]:focus, input[type=reset]:focus, input[type=color]:focus, button:focus, .btn:focus, .button:focus { background: #fafafa; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #e5e5e5)); background-image: -moz-linear-gradient(#fafafa, #e5e5e5); background-image: -webkit-linear-gradient(#fafafa, #e5e5e5); background-image: linear-gradient(#fafafa, #e5e5e5); color: #555555; outline: thin auto #4e9a06; }

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=color]:hover, button:hover, .btn:hover, .button:hover { background: #fafafa; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #e5e5e5)); background-image: -moz-linear-gradient(#fafafa, #e5e5e5); background-image: -webkit-linear-gradient(#fafafa, #e5e5e5); background-image: linear-gradient(#fafafa, #e5e5e5); color: #555555; outline-color: #4e9a06; }

input[type=button]:active, input[type=submit]:active, input[type=reset]:active, input[type=color]:active, button:active, .btn:active, .button:active { background: #e5e5e5; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #fafafa)); background-image: -moz-linear-gradient(#e5e5e5, #fafafa); background-image: -webkit-linear-gradient(#e5e5e5, #fafafa); background-image: linear-gradient(#e5e5e5, #fafafa); -moz-box-shadow: inset 0 1px 6px #A9A9A9, 0 1px 0 #f5f5f5; -webkit-box-shadow: inset 0 1px 6px #A9A9A9, 0 1px 0 #f5f5f5; box-shadow: inset 0 1px 6px #A9A9A9, 0 1px 0 #f5f5f5; border-color: #888888 #A9A9A9 #dadada; color: #888888; }

input[type=button][disabled], input[type=button][disabled]:hover, input[type=button][disabled]:active, input[type=submit][disabled], input[type=submit][disabled]:hover, input[type=submit][disabled]:active, input[type=reset][disabled], input[type=reset][disabled]:hover, input[type=reset][disabled]:active, input[type=color][disabled], input[type=color][disabled]:hover, input[type=color][disabled]:active, button[disabled], button[disabled]:hover, button[disabled]:active, .btn.disabled, .btn.disabled:hover, .btn.disabled:active, .button.disabled, .button.disabled:hover, .button.disabled:active { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; background: #e5e5e5; border: 1px solid #dadada; color: #888888; cursor: default; }

input[type=color] { height: 25px; width: 25px; }

/*! Fixes a NASTY bug in Firefox where input's line-height does not work */
/* @-moz-document url-prefix() {
	input[type=button],
	input[type=submit],
	input[type=reset] {
		height: 1.9em;
	}
} */
/*! Removes box-model-related styles from images inside buttons */
button img, .btn img, .button img { border: 0; margin: 0; padding: 0; }

/*==========  $Core Details/Summary  ==========*/
details { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background: #fafafa; border: 1px solid #e5e5e5; }
details summary { background: #fafafa; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #eeeeee)); background-image: -moz-linear-gradient(#fafafa, #eeeeee); background-image: -webkit-linear-gradient(#fafafa, #eeeeee); background-image: linear-gradient(#fafafa, #eeeeee); -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px; border-radius: 3px 3px 0 0; border-bottom: 1px solid #e5e5e5; cursor: pointer; margin: 0; padding: 0 6px; }
details summary:focus { border-color: #4e9a06; outline-color: #4e9a06; }
details > div { padding: 6px; }
details[open] summary { border-color: #dadada; }

/*==========  $Core Rulers / line breaks  ==========*/
hr { display: block; height: 1px; border: 0; border-top: 1px solid #888888; margin: 1em 0; padding: 0; }

br { clear: both; }

/*==========  $Misc  ==========*/
:focus { outline-color: #4e9a06; }

/*-----  End of $Core  ------*/
