/*=================================================
=            $seelva default variables            =
=================================================*/
/*==========  $Common patterns  ==========*/
/*==========  $Other  ==========*/
/*===============================
=            $Custom            =
===============================*/
/*==================================
=            $artifacts            =
------------------------------------
*
*
* Global mixins, functions, classes and objects accesible from every custom file.
*
*
==================================*/
/**
*
* scope: WHERE DOES IT OPERATE?
* type: SILENT CLASS, OBJECT, MIXIN?
* desc: DESCRIPTION
*
**/
/*=============================
=            $core            =
-------------------------------
*
*
* Write any code overriding core (browser or framework) styles here. Usually,
* you will not have any classes or ids here, just tags.
*
*
=============================*/
html { /* HTML style */ }

body { color: #000000; }
.ie6 body, .ie7 body { font-size: 82%; line-height: 1.12em; }

/*==============================
=           $layout            =
--------------------------------
*
*
* Write global layout styles here.
*
*
==============================*/
/*==============================
=           $custom            =
--------------------------------
*
*
* File to write the main style of your app, either by importing components via
* sass-globbing or similar plugins (recommended) or by adding rules and
* declarations directly at the end of this file.
*
*
==============================*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (min-width: 480px) and (max-width: 768px) { * { background: blue; } }
@media only screen and (min-width: 768px) and (max-width: 960px) { * { background: green; } }
@media only screen and (min-width: 960px) and (max-width: 1200px) { * { background: yellow; } }
@media only screen and (min-width: 1200px) { * { background: purple; } }
@media only screen and (max-width: 768px) { * { background: pink; } }
@media only screen and (min-width: 768px) { * { background: orange; } }

/*==============================
=            $inbox            =
--------------------------------
*
*
* File to add new styles or styles that you don't know where else to write but
* someone else does. This file is the last file loaded by the custom module, so
* this can overwrite rules with the same specificity level.
*
*
==============================*/
/*-----  End of $Custom  ------*/
