@mixin selection { background: $brand-main; color: $White; text-shadow: none; }

@if $useHelpers == true and $useBrowser == true {
	/*==========  $Resizable elements  ==========*/
	.resizable { overflow: auto; resize: both; }

	/*==========  $Selection styling  ==========*/
	::-moz-selection { @include selection; }
	::selection      { @include selection; }
}
