/*==========  $Resizable elements  ==========*/
.resizable { overflow: auto; resize: both; }

/*==========  $Selection styling  ==========*/
@mixin selection { background: $brand-main; color: $White; text-shadow: none; }
::-moz-selection { @include selection; }
::selection      { @include selection; }
