/*==========  $Resizable elements  ==========*/
.resizable { resize: both; overflow: auto; }

/*==========  $Selection styling  ==========*/
::-moz-selection, ::selection { background: $Beige; color: $OliveDrab; text-shadow: none; }