/*==========  $Resizable elements  ==========*/
.resizable { overflow: auto; resize: both; }

/*==========  $Selection styling  ==========*/
::-moz-selection { background: $Beige; color: $OliveDrab; text-shadow: none; }
::selection      { background: $Beige; color: $OliveDrab; text-shadow: none; }