/**
*
* UNLEASH THE UNSEMANTIC CLASSES!
*
* WARNING: Use the following classes carefully and only in extreme ocassions
*
**/

/* Alignment */
.alignleft 		{ text-align: left; }
.aligncenter 	{ text-align: center; }
.alignright 	{ text-align: right; }
.alignjust 		{ text-align: justify; }

/* Floating */
.floatleft 		{ float: left; }
.floatright 	{ float: right; }
.nofloat 		{ float: none; }

/* Text */
.big 			{ font-size: 125%; }
.large 			{ font-size: 150%; }
.loud 			{ color: $Crimson; }
.quiet 			{ color: $LightGray; }
.capitalize 	{ text-transform: capitalize; }
.lowercase 		{ text-transform: lowercase; }
.uppercase 		{ text-transform: uppercase; }

/* Help */
.help 			{ font-size: 82%; }