/*==========  $UI Alerts/Messages  ==========*/
.alert,
.error,
.guidelines,
.info, .ok,
.notice, .warning,
.status, .success {
	background: $WhiteSmoke {
		position: 4px 1em;
		repeat: no-repeat;
	}
	border: 1px solid $LightGray;
	color: $Gray;
	margin-bottom: $baseUnit5;
	padding: $baseUnit3 $baseUnit3 $baseUnit3 $baseUnit8;
	text-shadow: 1px 1px 0 $White;

	a { background: none; margin: 0; padding: 0; }
}

@mixin alert-config($bg, $image, $border-color, $color) {
	background-color: $bg;
	@if $image != '' { background-image: url(../images/icons/#{$image}.png); }
	border-color: $border-color;
	color: $color;

	a { color: $color; }
}

.error            { @include alert-config( $LavenderBlush, "cross",       $Pink,          $Crimson ); }
.info, .status    { @include alert-config( $LightCyan,     "information", $DarkTurquoise, $SteelBlue ); }
.notice, .warning { @include alert-config( $LemonChiffon,  "error",       $Gold,          $GoldenRod ); }
.success, .ok     { @include alert-config( $PaleGreen,     "tick",        $YellowGreen,   $OliveDrab ); }
.guidelines       { @include alert-config( $Ivory,         "",            $Cornsilk,      $DimGray);

	line-height: 130%;
	margin-top: $baseUnit2;
	padding: $baseUnit3 $baseUnit2;
	text-shadow: 1px 1px 0 $White;
}