/*==========  $UI Progressbars  ==========*/
.progressbar,
.progressbar-error,
.progressbar-info,
.progressbar-notice,
.progressbar-success {
	background: $GhostWhite;
	border: 1px solid $Silver;
	height: $baseUnit7;
	margin: $baseUnit2 0;
	overflow: hidden;
	position: relative;
	text-shadow:1px 1px 0 $White;

	@include border-radius($radius3);
	@include box-sizing(border-box);

	.progress-value {
		background: $Silver url(../images/gradient-bg.png) repeat-x left -12px;
		float: left;
		height: $baseUnit7 - 1;
		@include border-radius($radius3);
	}

	.progress-text {
		color: $DimGray;
		font: {
			size: 14px;
			weight: bold;
		}
		left: 0;
		position: absolute;
		text: {
			align: center;
			shadow: 1px 1px 1px $White;
		}
		top: 0;
		width: 100%;
	}
}

.progressbar-error   .progress-value { background-color: lighten( $Crimson, 20% ); }
.progressbar-info    .progress-value { background-color: lighten( $DodgerBlue, 20% ); }
.progressbar-notice  .progress-value { background-color: lighten( $Gold, 20% ); }
.progressbar-success .progress-value { background-color: lighten( $YellowGreen, 20% ); }