@if $useCore == true and $styleButtons == true {
	/*==========  $Buttons  ==========*/
	@include button('normal') {
		@include default-gradient();
		border-radius: $radius1;
		border: 1px solid $c-silver {
			bottom-color: $c-darkgray;
		}
		color: $c-gray;
		display: inline-block;
		font: {
			family: $fstack-buttons;
			weight: bold;
		}
		line-height: 100%;
		padding: #{$baseUnit1 * 3}; /*! For links */
		text-decoration: none;
		white-space: nowrap;
		word-wrap: normal;

		/* IE7 padding bugfix */
		overflow: visible;
		width: auto;
	}

	@include button('focus') {
		@include default-gradient($c-ghostwhite, $c-lightgray);
		color: $c-dimgray;
		outline: thin auto $c-brand-main;
	}

	@include button('hover') {
		@include default-gradient($c-ghostwhite, $c-lightgray);
		color: $c-dimgray;
		outline-color: $c-brand-main;
	}

	@include button('active') {
		@include default-gradient($c-lightgray, $c-ghostwhite);
		box-shadow: inset 0 1px $baseUnit1*2 $c-darkgray, 0 1px 0 $c-whitesmoke;
		border-color: $c-gray $c-darkgray $c-silver;
		color: $c-gray;
	}

	@include button('disabled') {
		box-shadow: none;
		background: $c-lightgray;
		border: 1px solid $c-silver;
		color: $c-gray;
		cursor: default;
	}

	// input[type=color] is considered a button due to it's appearance
	input[type=color] {
		height: 25px;
		width: 25px;
	}

	/*! Fixes a NASTY bug in Firefox where input's line-height does not work */
	/* @-moz-document url-prefix() {
		input[type=button],
		input[type=submit],
		input[type=reset] {
			height: 1.9em;
		}
	} */

	/*! Removes box-model-related styles from images inside buttons */
	button img,
	.btn img,
	.button img {
		border: 0;
		margin: 0;
		padding: 0;
	}
}
