@if $useCore == true and $styleCode == true {
	/*==========  $Core Code  ==========*/
	code,
	kbd,
	pre {
		background: $c-ghostwhite;
		font-family: $fstack-code;
	}

	code,
	kbd {
		font-size: 85.7%;
		line-height: 192%;
		padding: #{$baseUnit1 - 1} #{$baseUnit1 * 2 - 1};
		white-space: pre;
	}

	code,
	pre { border: 1px solid $c-gainsboro; }

	kbd,
	pre { border-radius: $radius1; }

	kbd {
		box-shadow: $c-silver 0 2px 0, $c-dimgray 0 2px 2px;
		color: $c-dimgray;
		font-weight: bold;
		text-transform: capitalize;
	}

	pre {
		margin: 0 0 #{$baseUnit1 * 3} 0;
		padding: #{$baseUnit1 * 2};

		code {
			background: transparent;
			border: 0;
			padding: 0;
		}
	}
}
