@if $useCore == true and $styleForms == true {
	/*==========  $Forms Main  ==========*/
	form {
		/* div, p {
			clear: both;
			margin-bottom: #{$baseUnit1 * 3};
		} */

		div p { margin: #{$baseUnit1 * 2} 0; }
	}

	fieldset {
		border-color: $c-silver;
		margin: 0 0 #{$baseUnit1 * 5} 0;
	}

	legend {
		font: {
			size: 128%;
			weight: normal;
		}
		margin: 0 0 #{$baseUnit1 * 2} 0;
		padding: 0 0 #{$baseUnit1 * 2} 0;
	}

	label, span.label {
		display: block;
		line-height: 130%;
		padding: #{($baseUnit1 * 3) - 1} 0;

		em, .required { color: $c-crimson; }
	}

	/*==========  $Forms Controls  ==========*/
	@include form-text() {
		box-shadow: 0 2px 6px $c-gainsboro inset;
		box-sizing: border-box;
		border-radius: $radius1;
		border: 1px solid $c-silver;
		font-family: $fstack-forms;
		padding: #{($baseUnit1 * 3) - 1} #{$baseUnit1 + 1};
		width: 100%;

		&:focus {
			border-color: $c-brand-main;
			outline-color: $c-brand-main;
		}

		&[readonly] { background-color: $c-ghostwhite; }

		&[disabled] {
			box-shadow: none;
			background: $c-lightgray;
			color: $c-gray;
		}
	}

	@include form-options() {
		cursor: pointer;

		&:focus { outline-color: $c-brand-main; }

		+ label { display: inline-block; }
	}

	input[type=image],
	input.image {
		border: 0;
		height: auto;
		width: auto;
	}

	textarea {
		height: 8em;
		resize: vertical;
	}

	select {
		cursor: pointer;
		padding: #{($baseUnit1 * 3) - 1} #{$baseUnit1 + 1};

		&[disabled] { cursor: default; }
	}
}
