@if $useCore == true and $styleHeadings == true {
	/*==========  $Core Headings  ==========*/
	#{headings()} {
		clear: both;
		font: {
			family: $fstack-headings;
			weight: normal;
		}
		line-height: 120%;
		margin: 0 0 0.5em 0;
	}

	h1 { font-size: $h1-size; }
	h2 { font-size: $h2-size; }
	h3 { font-size: $h3-size; }
	h4 { font-size: $h4-size; }
	h5 { font-size: $h5-size; }
	h6 { font-size: $h6-size; }
}
