@if $useCore == true and $styleLinks == true {
	/*==========  $Core Links  ==========*/
	a {
		&, &:link {
			color: $c-brand-main;
			font-weight: bold;
			text-decoration: none;
		}
		&:hover, &:active { text-decoration: underline; }
		&:visited { color: shade( $c-brand-main, 10% ); }
		&:hover   { color: shade( $c-brand-main, 20% ); }
		&:active  { color: shade( $c-brand-main, 10% ); }
		&:focus   { color: $c-brand-main; outline-color: $c-brand-main; }
	}
}
