@if $useCore == true {
	/*==========  $Core Links  ==========*/
	a {
		&, &:link { color: $c-brand-main; text-decoration: underline; }
		&:visited { color: darken( $c-brand-main, 5% ); }
		&:hover   { color: darken( $c-brand-main, 10% ); }
		&:active  { color: darken( $c-brand-main, 5% ); }
		&:focus   { color: $c-brand-main; outline-color: $c-brand-main; }
	}
}
