@if $useCore == true and $styleLists == true {
	/*==========  $Core Lists  ==========*/
	ul, ol {
		margin-top: 0;
		margin-#{get-text-dir(opposite)}: 0;
		margin-bottom: #{$baseUnit1 * 5};
		margin-#{get-text-dir(default)}: #{$baseUnit1 * 8};
		padding: 0;

		/* Remove vertical spacing from nested lists. */
		li > & { margin-bottom: 0; }
	}

	ol {
		li { margin: 0 0 0 #{$baseUnit1 * 3}; }
	}

	dl {
		margin: 0 0 #{$baseUnit1 * 5} #{$baseUnit1 * 8};
		padding: 0;
	}
	dt {
		font-weight: bold;
		margin: 0;
		padding: 0;
	}
	dd {
		margin: 0 0 0 #{$baseUnit1 * 3};
		padding: 0;
	}
}
